[2020-03-01 21:02] fedorov opened #47 "Repeated login requested when viewing a study"
I logged in, configured some filters, and then clicked on the linked study ID.

I was then prompted to give access again, and was also prompted about doing unsafe things, and then was requested to give the following:

![image](https://user-images.githubusercontent.com/313942/75633720-69d5c380-5bd5-11ea-93c3-58f15624f1d7.png)

![image](https://user-images.githubusercontent.com/313942/75633725-70643

[2020-03-01 21:03] fedorov opened #48 "It should be possible to view a specific series"
Right now, the whole study is loaded, no matter if it is selected in the study or series list.

[2020-03-01 21:04] fedorov opened #49 "OHIF version used"
It appears that at the moment OHIF 3.4.1 is used, while the latest OHIF version is 3.7.2. We should use the latest one, especially since we are adding features that will be needed specifically by IDC, and should define the process of upgrade.

[2020-03-02 18:16] G-White-ISB commented on #47
Was your email address 'whitelisted' to access google healthcare? I needed to fill out this form first: https://services.google.com/fb/forms/cloudhealthcarepublicdatasetaccess/.
It only took an hour for google to respond in my case.

[2020-03-02 18:38] G-White-ISB commented on #48
Is that currently possible?
Set a series into the viewport programmatically #1006
https://github.com/OHIF/Viewers/issues/1006

[2020-03-02 21:16] fedorov commented on #47
Yes, it was whitelisted a while ago. I don't think that was the reason.

[2020-03-02 21:18] fedorov commented on #48
I think there are two different issues:
1. populate OHIF Viewer with a specific series, or a subset of series, from a single study
2. initialize viewport with a specific series

What I was asking is 1. @swederik is this possible?

[2020-03-05 18:08] wlongabaugh commented on #47
Once we are going through the proxy, this problem should go away.

[2020-03-05 18:12] G-White-ISB commented on #49
We will upgrade the viewer soon.

[2020-03-05 18:27] fedorov opened #54 "Add a toggle to use BigQuery instead of Solr for searching"
We discussed this before, and I think we agreed that it would be helpful, at least while we experiment with pre-MVP, to be able to test query performance of Solr vs BigQuery. I think it would be great to have a toggle to choose the search route. Would this be possible to add?

[2020-03-05 18:47] s-paquette commented on #54
This is something we can add in Sprint 8, or possibly Sprint 7 if we have time.

[2020-03-05 19:05] fedorov commented on #48
@pieper thinks it is probably not supported right now in OHIF Viewer. If this is the case, let's postpone this. I will bring up with Erik next week.

[2020-03-05 19:59] swederik commented on #48
I believe both 1 and 2 are supported now. I will confirm before our meeting.

[2020-03-06 20:45] fedorov commented on #54
We can also consider looking into BigQuery BI engine as a mechanism to speed up BQ queries, if those turn out to be too slow. https://cloud.google.com/bi-engine/docs

[2020-03-07 00:43] s-paquette commented on #54
Per the current documentation, BI Engine is only available for use with Data Studio, and so wouldn't be usable (I think? but we need to dig into it) for returning query results to our front end. But perhaps they'll change that in time.

[2020-03-09 16:20] G-White-ISB commented on #48
Any update on this?

[2020-03-16 21:38] fedorov opened #59 "Black screen while browsing"
I am not sure how to reproduce this, but while testing the portal, I got to this error:

![image](https://user-images.githubusercontent.com/313942/76801896-f030fe80-67ac-11ea-9c89-b7d4acd1502c.png)

[2020-03-16 21:38] fedorov commented on #59
@pieper FYI

[2020-03-17 12:55] swederik commented on #48
Sorry for the delay.

If you launch a study normally, it will hang display sets in order of series number (e.g. https://viewer.ohif.org/viewer/1.3.6.1.4.1.25403.345050719074.3824.20170126085406.1 loads the scout first)

Adding a query parameter for SeriesInstanceUID allows you to launch another series. For example, this launches the second series (axial) of the study:

https://viewer.ohif.org/view

[2020-03-17 21:31] G-White-ISB commented on #49
Updating to 3.8.1 when next pull request is processed

[2020-03-17 21:37] G-White-ISB commented on #48
If the google healthcare dicom server is used then it seems it is currently NOT possible to initiate the viewer with a specific series. What happens is that the call is redirected to google for authorization, and after the callback the GET parameter ?SeriesInstanceUID= ... is 'stripped'.

[2020-03-17 21:51] pieper commented on #48
Interesting.  What happens if you were already logged in?  (e.g. you go to the link a second time?)

[2020-03-18 16:20] swederik commented on #48
Oooh that's interesting. I didn't test that. We can file an issue for that.

[2020-03-18 16:52] G-White-ISB commented on #48
If you are already logged in you are not prompted to login again, but any time the viewer is opened in a new tab there is a redirect to google cloud and then a callback to the viewer. Now after you come back to the viewer you can navigate to ?SeriesInstanceUID=... since that will not cause a second redirect.

[2020-03-20 14:26] fedorov commented on #49
I see as of today the version is 3.8.1 - thank you!

[2020-03-20 14:26] #49 closed

[2020-03-20 14:32] fedorov opened #63 "Dynamic update of the search facets shown based on content"
Currently, the facets available on the left are static, and are displayed even if there are 0 items that fit individual criteria.

So, for example, if I select tcga-gbm, I still see "Mammography" as modality.

Note that GDC interface does not show facets that have 0 items matching.

I suggest we do not show 0-size facets to simplify and de-clutter the interface, and they add no value to the interf

[2020-03-20 14:42] fedorov opened #64 "Pie charts instead of bar plots for the front page?"
I think pie charts with the legend shown in mouse-over is a more concise and visually appealing way to present the summaries than bar charts. Both GDC and TCIA interfaces are using pie charts.

[2020-03-20 14:43] fedorov commented on #59
Hopefully this is resolved by the update to the most recent version. Let's keep the issue open for a while in case anyone else encounters similar problem.

[2020-03-20 14:49] fedorov opened #65 "Possible inconsistencies in the cohort selection result"
I cannot understand the result of selection here.

I selected "Computed tomography" on the upper left, which says "3 cases", but on the right I see a lot more of 3 studies.

What is the meaning of "case"?

![image](https://user-images.githubusercontent.com/313942/77174990-4ac1a780-6a98-11ea-8182-d5838230aa81.png)

[2020-03-20 17:52] G-White-ISB commented on #64
We're going to add a toggle to go between pie and bar charts. I think Bill L. also favors pie charts. When an attribute has just a few categories (say gender) I find it irritating to have to 'mouse-over' the graph to get the numbers. When there are may categories its hard to display the labels all meaningfully.

[2020-03-20 17:54] G-White-ISB commented on #63
We can do this if there are no second thoughts.

[2020-03-20 17:56] G-White-ISB commented on #65
I will look into it. Its on my agenda to confirm consistency of the filtered data as part of testing.

[2020-03-25 15:17] G-White-ISB commented on #65
Yes this does appear to be a bug. We are tracking down. In this context a 'case' would be a patient. So we are reporting 3 patients in gbm were examined by CT, although we should report 13 cases.

[2020-03-25 18:46] s-paquette commented on #65
So the issue here is it's possible for a case to have more than one Modality entry, but it's still a unique case, and thus the numbers look odd.

BQ query to see this:

[code]

[2020-03-25 19:26] s-paquette commented on #65
Looks like we need to using grouping and not collapsing in any case where the 'counted' field might appear more than once. So we can collapse in clinical/biospecimen faceting (which only ever has one entry per PatientID), but we'll need to use grouping in TCIA Images (which will have many). I'll merge in this change later today, after I've tested it some. Note this means on the 'ORIGINAL' tab, the

[2020-03-25 19:48] fedorov commented on #65
It will not be uncommon for a subject to have multiple modalities, either within the same or across different studies.

Maybe we should have different modes to choose between showing counts of patients vs counts of studies that meet the criteria. I think both modes might be useful. I need to think more about this.

[2020-03-25 19:53] s-paquette commented on #65
Right--this comes up in ISB-CGC a lot, since for example a given PatientID might be linked to numerous kinds of file, or have several entries in mutation data.

A toggle wouldn't be a half-bad idea; we can pre-compute the facets, and flip what displays based on the user's preference.

[2020-03-25 22:57] s-paquette commented on #65
Okay, I've deployed a new version of the WebApp which will now count the unique Patient IDs in a given facet value - so you'll see '13 cases' for CT under GBM, for example. We can think about what this means, long term.

Note, the case count next to the collection selector is still wrong; I need to sort out the easiest way to make that happen without a separate call, if possible. Still looking int

[2020-03-27 20:27] s-paquette commented on #65
The total cases will now also appear accurate. We'll be mimicking how TCIA does it.

Them:
![image](https://user-images.githubusercontent.com/8442808/77797402-3ba99f00-702e-11ea-8a06-208be54d576c.png)

Us:
![image](https://user-images.githubusercontent.com/8442808/77797572-89bea280-702e-11ea-97c3-02152a2f7e3e.png)

[2020-03-27 20:27] #65 closed

[2020-03-30 19:28] G-White-ISB commented on #63
In my latest PR

[2020-03-30 19:29] G-White-ISB commented on #64
Currently set with pie charts as in gdc

[2020-03-30 19:30] G-White-ISB commented on #64
Sorry I should say the pie charts are in my pull request which is currently under review to be deployed

[2020-03-30 20:00] madelyngreyes opened #71 "Chart formatting issues"
There is no spacing between the text, "Body Part Examined".

![Screen Shot 2020-03-30 at 3 32 07 PM](https://user-images.githubusercontent.com/16824894/77953846-baefda80-729b-11ea-97e1-02990b25ebd9.png)

- [x] Spacing added

Underscores present in the title of the bar graph e.g., disease_code and title name are lowercase.

![Screen Shot 2020-03-30 at 3 38 01 PM](https://user-images.githubuserconte

[2020-03-30 20:40] s-paquette commented on #71
Note that the the proper capitalization/spacing/etc. is all available from the back-end, and we should use the methods provided by the Attribute_Display_Values ORM to handle this.

[2020-03-31 17:03] madelyngreyes opened #72 "Explore image data selected series panel returns no results"
On the Explore image data page after selecting a collection, then a selected study no options appear for the selected series panel.

If you open the DEV console you are returned a, "500 (Internal Server Error)" error when a selecting a studies option.

![selected series panel broken](https://user-images.githubusercontent.com/16824894/78054306-db796c80-734f-11ea-874a-c464a2eb3c91.PNG)

[2020-03-31 17:18] madelyngreyes commented on #72
From @G-White-ISB,  related to query_solr_and_format_result is no longer returning the SeriesNumber in the 'docs' even when SeriesNumber is included in fields and counts_only is false. This leads to an error when trying to populate the Series table.

[2020-04-06 18:26] G-White-ISB opened #74 "Missing tcia collections"
There are now only 11 of the 21 tcia collections listed under the search scope. They were all there in previous commits. The 21 disease codes are still listed in the disease code tab. I've traced this back to a problem in a python dictionary in the explore_data_page function in views.py. attr_by_source['origin_set']['attributes']['collection_id']['vals'] only has these 11 members not the 21 expect

[2020-04-09 15:19] fedorov commented on #71
"ORM" = ?

IMHO, we should use the mapping from keyword to name as defined in this table:
`idc-sandbox-000:DICOM_2019e.attributes`.

[2020-04-09 15:20] fedorov commented on #54
Is this issue in the roadmap for Sprint 8?

[2020-04-09 19:25] s-paquette commented on #71
Object Role Model, i.e. the Django class that describes the Attribute_Display_Values table, which is where we store the various display values for anything that has special considerations beyond '_ becomes a space and Title Case it'.  There's a lot of this in the related clinical data, like tobacco smoking history or sample type. The idea is we don't want to store a complete list of possible attri

[2020-04-10 16:26] G-White-ISB commented on #72
SeriesNumber is not part of the tcia_fields list sourced from DataSource.objects.get(name="tcia_images")

[2020-04-10 16:51] s-paquette commented on #72
@madelyngreyes @G-White-ISB Give it another shot? This should be sorted.

[2020-04-10 16:56] G-White-ISB commented on #72
Yup, its working again at least in my quick tests. Thanks

On Fri, Apr 10, 2020 at 9:51 AM S. Paquette <notifications@github.com>
wrote:

[2020-04-10 17:22] G-White-ISB opened #75 "BMI normal weight missing"
The BMI 'normal weight' is always 0. It looks like a Mysql/Solr mismatch. query_solr_and_format_result has the category 'normal' but in attr_by_source['related_set']['attributes']['bmi']['vals'] its 'normal weight'. I think we should go with 'normal weight'. Also why are counts so low? Was bmi just not recorded for most collections?

[2020-04-10 18:52] madelyngreyes commented on #72
Yes, it's also working for me as well.

[2020-04-11 09:07] s-paquette commented on #72
@madelyngreyes Feel free to mark this as testing passed and close it on out.

[2020-04-11 09:08] s-paquette commented on #74
A misuse of the display value table was causing some of these values to drop out, in addition to 10 of them missing from the display value table. The bug in the code has been corrected, and the missing values were added into the display value table.

[2020-04-11 09:09] s-paquette commented on #74
@madelyngreyes @G-White-ISB ready for testing.

[2020-04-11 09:48] s-paquette commented on #75
Small bug when generating the attribute range entries for BMI - database has been fixed.

[2020-04-13 14:48] #72 closed

[2020-04-13 20:35] #75 closed

[2020-04-15 18:11] fedorov commented on #54
Per discussion, @s-paquette will also add to a shared team folder documents describing the process of populating solr with content.

[2020-04-15 19:23] s-paquette commented on #54
The document is available in the Developer Documentation folder, which is in IDC Team/IDC Deliverables.

[2020-04-18 15:16] fedorov commented on #54
Thank you @s-paquette! I moved the "Developer documentation" into the "Team operational documents" [here](https://drive.google.com/drive/folders/1EfxY8WI3wJQV0NOUAXL3s8-3qXkjWwqO?usp=sharing). "Deliverables" is the folder we share with Todd and Keyvan, and is for external consumption.

[2020-04-18 15:19] fedorov commented on #54
@s-paquette can you also add discussion in that document to where solr queries are defined in the webapp, how the front end is connected with the queries?

[2020-04-20 19:30] s-paquette commented on #54
So the queries aren't defined in the WebApp anywhere; we have a query-builder method which takes a set of filters in JSON format and constructs the queries (for Solr and for BQ). These are the two helper modules we referenced some time ago in another ticket--did you want some documentation on them? (Though, I'm not sure what I would document, as they're methods that go through the filter list and

[2020-04-20 21:08] fedorov commented on #54
The reason I am asking those questions is because I want to understand the process of how new facets added to the webapp gui should be propagated and into where they should be propagated. I also would like to understand the limitations of using Solr (e.g., right now a subset of columns is exported - can we export the whole BQ table with 500 or whatever columns? how will it be handling content that

[2020-04-20 21:46] s-paquette commented on #54
Understood--that process is somewhat separate from how things are queried, and more closely related to the web framework, Django, which controls the UI. We can export the whole set of columns, it's just a matter of cost; Solr runs on VM disks which are somewhat expensive compared to BQ, at a gain of speed of response. It's better to think of Solr as a text searcher than any form of database--i.e.

[2020-04-21 17:18] fedorov opened #77 "Cannot close popup warning"
Nothing happens when I click OK after logging in.

![image](https://user-images.githubusercontent.com/313942/79893735-7951db80-83d2-11ea-976d-c1e81ddb4e5e.png)

There are errors in the console:

![image](https://user-images.githubusercontent.com/313942/79893763-85d63400-83d2-11ea-84b1-2f33030d58d2.png)

Do we really need to have this popup after log in? Can't we have it shown once when the portal

[2020-04-21 17:20] fedorov commented on #77
After reloading the page, popup disappears.

[2020-04-21 17:23] fedorov commented on #63
Is it possible to sort the items based on the number of hits (similar to how it is done in GDC)?

Currently, they are not sorted:

![image](https://user-images.githubusercontent.com/313942/79894282-37756500-83d3-11ea-9fb2-689f001a09b7.png)

[2020-04-21 17:34] fedorov commented on #64
I see this has been integrated. Thanks!

[2020-04-21 17:34] #64 closed

[2020-04-21 19:18] madelyngreyes opened #78 "Add clear all function for filter definition panel"
On the Explore Image Data page, there is no simple way to clear all filters selected in the filter definition panel.

![Screen Shot 2020-04-21 at 3 13 07 PM](https://user-images.githubusercontent.com/16824894/79904690-14eb4800-83e3-11ea-99e9-8d3419b32802.png)

[2020-04-21 20:12] fedorov opened #79 "Presentation issues"
typo: "Radiotheraoy"

![image](https://user-images.githubusercontent.com/313942/79909299-c0e46180-83ea-11ea-825c-0c0f3aea792b.png)

messed up table columns:

![image](https://user-images.githubusercontent.com/313942/79909327-c9d53300-83ea-11ea-8a27-af39ba4c8d59.png)

why is collections table showing collections that do not have subjects that match the selection criteria?

![image](https://user-ima

[2020-04-21 20:25] fedorov commented on #79
We should consistently use either "cases", or "patients", or clarify why we need to have both:

![image](https://user-images.githubusercontent.com/313942/79910396-a317fc00-83ec-11ea-82c0-7a4893b8968a.png)

![image](https://user-images.githubusercontent.com/313942/79910410-a90ddd00-83ec-11ea-87c4-653d08b7d3d1.png)

[2020-04-22 19:19] fedorov commented on #78
For the reference, in GDC there is a button to clear the complete query:

![image](https://user-images.githubusercontent.com/313942/80024063-7fb48600-84ac-11ea-816f-cc993c9c842e.png)

and there is also a button to clear selection for the individual facet groups:

![image](https://user-images.githubusercontent.com/313942/80024124-93f88300-84ac-11ea-8105-a4fcbcfdf142.png)

I think it would be great

[2020-04-23 02:01] fedorov opened #81 "Search widget"
Can we have something like this in GDC?

![image](https://user-images.githubusercontent.com/313942/80050846-ba3a1500-84e4-11ea-924f-32144aaa3abc.png)

[2020-04-23 13:09] swederik commented on #48
Filed as https://github.com/OHIF/Viewers/issues/1663

[2020-04-23 18:36] fedorov opened #82 "Runtime issue observed"
Conditions to reproduce are unclear

![image](https://user-images.githubusercontent.com/313942/80136392-9ec81c00-856f-11ea-93d1-6bb3d78c8605.png)

[2020-04-23 18:41] fedorov commented on #82
![image](https://user-images.githubusercontent.com/313942/80136955-75f45680-8570-11ea-851c-9acc40523a9a.png)

[2020-04-27 14:04] madelyngreyes commented on #74
After manual testing, all collections appear to be present. Currently working on a Selenium IDE script to automate the verification of all collections available.

[2020-04-27 14:04] #74 closed

[2020-04-30 15:00] madelyngreyes commented on #59
I was able to reproduce the black box issue as well. I have created a short video to display the error.

![black box while selecting filters in IDC](https://user-images.githubusercontent.com/16824894/80725917-b6545700-8ad1-11ea-8bca-a4dec6568a81.gif)

[2020-04-30 15:20] madelyngreyes commented on #63
Something else related to this issue I noticed there is a None option available to the option Modality in the left filter panel. It has zero cases and therefore, should not be displayed as an option by default.

![IDC - none an option on the modality filter page](https://user-images.githubusercontent.com/16824894/80728070-82c6fc00-8ad4-11ea-95ed-961a855b70fb.PNG)

![IDC - none filter selected dev

[2020-05-01 01:45] fedorov commented on #54
@G-White-ISB can you point me to the location where BQ queries are defined?

[2020-05-01 01:51] fedorov commented on #79
I would also argue that "case(s)" should be remove from the count labels.

[2020-05-01 06:34] s-paquette commented on #54
@fedorov The queries aren't defined, they're built based on the selected filters and available tables. The code that does this for faceted counts is here:
https://github.com/ImagingDataCommons/IDC-Common/blob/master/idc_collections/collex_metadata_utils.py#L78

And the code which does it for the list of files is here:
https://github.com/ImagingDataCommons/IDC-Common/blob/master/idc_collections/col

[2020-05-01 14:52] G-White-ISB commented on #54
Could one track down the actual queries from a big query log on google's
end? Right now we can assume there are not too many people using the dev
site at one time.
'
George

On Thu, Apr 30, 2020 at 11:34 PM S. Paquette <notifications@github.com>
wrote:

[2020-05-01 15:01] s-paquette commented on #54
Yes, though it'd require using the BigQuery API. I don't think that you can pull up API-submitted query information in the console.

[2020-05-01 15:47] fedorov opened #88 "Server error"
This happened sometime around 11:45am Eastern time May 1, 2020, in case you want to investigate and check the logs.

![image](https://user-images.githubusercontent.com/313942/80818645-95f3cd80-8ba1-11ea-85c2-5339d73cf0fb.png)

Reload in 30 seconds did not help

![image](https://user-images.githubusercontent.com/313942/80818729-bae84080-8ba1-11ea-98d8-6cd98dd14792.png)

[2020-05-01 16:21] fedorov commented on #88
As pointed by Bill L, wrong URL. Sorry for the noise.

[2020-05-01 16:21] #88 closed

[2020-05-01 16:57] fedorov commented on #54
Thank you for the pointers Suzanne, that's what I was looking for.

I actually think you can - as an example, I can see the Data Studio issued queries in the log. But the issue is that I do not have the permissions to see queries at the project level. Maybe we can check with @wlongabaugh if he can see those queries?

![image](https://user-images.githubusercontent.com/313942/80823833-4b774e80-8bab-

[2020-05-01 18:08] s-paquette commented on #54
DataStudio is recording personal queries, I think, not queries run by a Service Account. If I log in to my owner account on the project, no project queries list:

![image](https://user-images.githubusercontent.com/8442808/80829296-b751bb00-8b9b-11ea-8766-982acde54607.png)

It's possible there's a way to view Service Account jobs in the console, but I've not found it.

[2020-05-05 01:37] fedorov commented on #54
@s-paquette would it be difficult, and would it make sense, to log the BQ query string in the console every time a query is issued? I can't think of how this could hurt, but can be quite helpful I think to debug and at least try to optimize the query. What do you think?

[2020-05-05 08:04] s-paquette commented on #54
By console do you mean the logs? At the moment, that would a fairly large amount of logging--we run a separate count query for each facet, plus the document listing query. I can probably collapse it into just two (still investigating that) but it would still be a rather large log output for every time someone changes a filter.

We do print them when we need to debug, but there's not much optimizin

[2020-05-05 08:10] s-paquette commented on #77
@fedorov Can you confirm if this is still an issue? I made some changes to how the click is recorded which should prevent this.

[2020-05-05 15:24] madelyngreyes commented on #77
I just tried and it still appears to be an issue on the dev tier.

![Screen Shot 2020-05-05 at 11 23 53 AM](https://user-images.githubusercontent.com/16824894/81083724-ed0be200-8ec2-11ea-9268-18f8a9d9208e.png)

[2020-05-05 16:07] fedorov commented on #54
Thank you @s-paquette! This is very helpful. I do think there may be opportunities to optimize though.

First, you are querying the metadata table in the `idc-dev-etl:tcia` dataset. This is an overkill, since the `dicom_metadata` table in that dataset contains all of the TCIA collections that were hosted by GHC at the time table was populated. We unnecessarily penalize performance by querying data

[2020-05-05 16:33] s-paquette commented on #54
We can switch over to one of the other tables, absolutely. That's a simple change as long as the table has the columns we want. Note, though, that additional columns don't impact BQ performance, because BQ is column-based in its distribution. This means at query time, it grabs the columns you care about--which is very few, in our case, compared to the whole table--and then proceeds to the next par

[2020-05-05 16:37] s-paquette commented on #77
I notice you somehow got that on the data explorer page. Can you explain the steps for that?

[2020-05-05 16:44] madelyngreyes commented on #77
Yes, I can the steps to reproduce are below.

1. Go to homepage
2. Select near the login link to make pop-up go away
3. Log in to IDC
4. Pop-up appears again
5. Try to select Okay to get the pop-up to disappear
6. Pop-up is stuck on page

[2020-05-05 16:44] fedorov commented on #54
Yes, I understand. The table I am talking about has much fewer rows. The one you use right now has 9,803,590 rows, and the one I suggest we switch is 2,647,993.

Yes, I noticed that, and I was wondering about it. I thought (since you use `UNNEST`), those are arrays, but definitely need to learn more.

I get your arguments, but even if (very likely) we won't get to the comparable performance with B

[2020-05-05 17:47] s-paquette commented on #77
Hm, I can't seem to get the popup to show up a second time. Are you logging in locally or via Google?

[2020-05-05 17:50] s-paquette commented on #77
I *do* see what's causing the error, though, so I'll fix that for the moment.

[2020-05-05 17:58] madelyngreyes commented on #77
I'm logging in via Google on Google Chrome.

[2020-05-05 19:10] s-paquette commented on #77
Go ahead and give this another shot, though I find it odd you're being prompted twice; this hasn't been happening to me. Andrey, have you also been seeing the warning twice?

[2020-05-05 20:11] madelyngreyes commented on #77
I deleted my cookies for IDC, then tried again on Google Chrome and still seem to be running into the same issue.

![Screen Shot 2020-05-05 at 4 09 28 PM](https://user-images.githubusercontent.com/16824894/81111397-032d9880-8eeb-11ea-83d0-812e4c80a3aa.png)

[2020-05-05 20:50] s-paquette commented on #77
Hokay, figured that error out as well--rebuilding a fix now.

[2020-05-05 20:50] s-paquette commented on #77
(So try in about 15m.)

[2020-05-06 15:30] madelyngreyes commented on #77
This appears to be fixed on the dev tier.

[2020-05-07 14:42] madelyngreyes opened #93 "After filter selection scroll down will cause the entire page to display whitespace"
After selecting multiple collections filter options, multiple selected studies, and a selected series filter option, whitespace appears after the selected series panel which will be displayed on the entire screen.  Scrolling down will display the whitespace.

![Screen Shot 2020-05-06 at 11 28 50 AM](https://user-images.githubusercontent.com/16824894/81308002-499c0800-904f-11ea-9f2d-e13623bdd30f.pn

[2020-05-07 16:54] G-White-ISB commented on #93
Can you repeat this? Could you send a screen shot of the filter definition?

On Thu, May 7, 2020 at 7:42 AM Madelyn <notifications@github.com> wrote:

[2020-05-07 17:29] madelyngreyes commented on #93
Yes, I have listed the steps to reproduce this error below and added screenshots of the Filter Definition panel, the Collections panel, and the Selected Studies panel for reference.

1. Go to Data Exploration page
2. Select Collections tcga_blca
3. Select Collections tcga_hnsc
4. Select Collections tcga_kich
5. Select a Selected Studies option e.g.,
tcga_kich | TCGA-KM-8439 | 1.3.6.1.4.1....103166

[2020-05-14 18:15] fedorov commented on #54
As discussed with @s-paquette, it should be quite easy to add a button to the portal that would allow user to get the non-parameterized BQ query corresponding to the current cohort. @s-paquette should this be in a separate issue, or keep the current one open?

[2020-05-20 17:06] madelyngreyes commented on #71
There seems to still be some text-cut off when hovering over certain project name filter options in the search results panel related tab.

![Screen Shot 2020-05-20 at 12 58 16 PM](https://user-images.githubusercontent.com/16824894/82475582-b6c18b80-9a9a-11ea-9c6a-82277d1b5607.png)

[2020-05-20 17:20] madelyngreyes commented on #77
If you go to the Dashboard from the Data Explorer without closing the pop-up by selecting the Ok button, the pop-up will appear again, and once Ok button is selected the pop-up doesn't close.

![Screen Shot 2020-05-20 at 1 16 21 PM](https://user-images.githubusercontent.com/16824894/82476817-9397db80-9a9c-11ea-9efd-a0832b050a38.png)

[2020-05-20 18:25] madelyngreyes commented on #71
Also when using the Add Labels? functionality, it's very difficult to read the text and there is text overlap for the filter, "Computed Tomography".

![Screen Shot 2020-05-20 at 2 21 12 PM](https://user-images.githubusercontent.com/16824894/82483021-b1b60980-9aa5-11ea-8dae-4fa9e335a409.png)

[2020-05-20 18:31] madelyngreyes commented on #71
Also, all text should be facing the same direction inside the chart e.g., Kidney and Headneck in the Body Part Examined chart, the text appears to have two different placement formats that were implemented.

![Screen Shot 2020-05-20 at 2 29 29 PM](https://user-images.githubusercontent.com/16824894/82483432-63553a80-9aa6-11ea-941f-ba337cc1dcec.png)

[2020-05-20 18:35] madelyngreyes commented on #71
The bar chart type text format has improved since the last test iteration but, there is still some text cut off for certain variables in the x-axis e.g., project short name TCGA-BLCA the CA is cut off.

![Screen Shot 2020-05-20 at 2 32 10 PM](https://user-images.githubusercontent.com/16824894/82483806-05752280-9aa7-11ea-97c9-ac4c87537a24.png)

[2020-05-20 19:30] fedorov commented on #79
For the series level display, I do not think it helps anyone to see the UIDs.

![image](https://user-images.githubusercontent.com/313942/82488878-b206d280-9aae-11ea-9083-65316de1e0dd.png)

I suggest instead we display series number, series description, and modality. Below is what is shown in Slicer.

![image](https://user-images.githubusercontent.com/313942/82488866-addab500-9aae-11ea-9e2a-33e2648

[2020-05-20 19:35] fedorov commented on #48
We are now going through the proxy (right, @wlongabaugh?) but if I click on a specific series, I am still not getting a single series in the viewer.

[2020-05-20 19:39] fedorov opened #94 "Series-level list is populated incorrectly"
This seems to be broken in general, but here's a very specific example.

Navigate to `tcga_ov` collection, then to case `TCGA-09-2053`. Selected series shows 844 entries (in fact, it always shows 844 series, no matter what case I select). Changing data source to BigQuery does not have any effect.

![image](https://user-images.githubusercontent.com/313942/82489507-c4cdd700-9aaf-11ea-84ee-05e9a632c3

[2020-05-20 19:45] wlongabaugh commented on #48
I think that would be an issue of what was specified to the viewer to show. The proxy is not making any editorial decisions.

[2020-05-20 19:51] fedorov opened #95 "Pagination in collections"
"Show *" drop-down appears to control the height of the widget with the table, not how many entries that table will contain. Hopefully the screen capture below helps illustrate this.

![May-20-2020 15-49-49](https://user-images.githubusercontent.com/313942/82490767-b97bab00-9ab1-11ea-88d0-32553977de4e.gif)

[2020-05-20 19:54] fedorov commented on #95
I see that all tables behave this way, and I find this very un-intuitive. I think the purpose of pagination is to restrict how many items are shown at the time. I think the way table pagination is implemented in the TCIA search portal is how it is implemented in other places, and is more intuitive.

![image](https://user-images.githubusercontent.com/313942/82491108-34dd5c80-9ab2-11ea-950a-37304228

[2020-05-20 21:15] G-White-ISB commented on #93
As soon as the selected studies or selected series is populated the page is enlarged with whitespace on the bottom.

[2020-05-20 21:45] s-paquette commented on #77
@madelyngreyes Are you seeing an error in your JavaScript console? I've never been able to reproduce this one so I'm not really sure what might be causing it.

[2020-05-20 21:51] s-paquette commented on #94
@G-White-ISB Is there anything up with the data you're getting back, or is the table displaying the wrong thing?

[2020-05-20 22:09] G-White-ISB commented on #94
It looks like the data coming back is NOT filtered on the StudyInstanceUID so all the series in the collection, not just those in the study are returned. Also I believe this is a new issue - I think it was working correctly before. Sample call below, with StudyInstanceUID =
1.3.6.1.4.1.14519.5.2.1.1357.4011.225661032809163534141992125012 .
https://idc-dev.appspot.com/explore/?counts_only=False&is_

[2020-05-20 22:18] s-paquette commented on #94
Okay, I'll take a look at it.

[2020-05-20 23:05] madelyngreyes commented on #77
Yes, that is correct.

[2020-05-20 23:12] s-paquette commented on #77
So, unfortunately, I still can't get this to happen. I'll keep trying, but in the mean time I recommend maybe clearing the cache on that browser, or trying another browser.

[2020-05-20 23:13] s-paquette commented on #77
(Note, I mean a full cache clear, as in empty cache and hard reload, as opposed to just the cookies.)

[2020-05-21 00:12] s-paquette commented on #94
Located the bug - the filter attribute list builder was using for_faceting=True, which is a problem because only categorical strings are facet counted.

[2020-05-21 00:14] s-paquette commented on #82
These appear to be page load time outs; we can, if we want, invest some time in seeing about handling timeouts more gracefully, but these don't appear to be code bugs.

[2020-05-21 16:47] G-White-ISB commented on #95
It was by current design that the table contains all entries, not just one page of content, but only a 'page worth' is shown at a time. One can scroll through all entries, not just through one page. One can view the bottom half of one page and the top half of the preceding at the same time. Suppose the first series for a given case occurs in row #49 in the series table, and the rest are are in row

[2020-05-21 18:19] madelyngreyes commented on #77
Hmm, this is so strange. I was able to reproduce the error. This time I cleared my cookies and site data, did a hard reload, and I also used an incognito window. Followed the same steps and returned the error.

![Screen Shot 2020-05-21 at 2 18 48 PM](https://user-images.githubusercontent.com/16824894/82591908-0b820680-9b6e-11ea-8d8a-ffab9346c4cd.png)

[2020-05-21 19:15] s-paquette commented on #77
Was there an error in the console?

[2020-05-21 19:19] madelyngreyes commented on #77
Yes, the dev console returned this error.  I should have included it earlier.

![Screen Shot 2020-05-21 at 3 18 12 PM](https://user-images.githubusercontent.com/16824894/82597035-599b0800-9b76-11ea-93d9-90213fa033ca.png)

[2020-05-21 19:21] s-paquette commented on #77
Got it! Thanks, I'll have a look.

[2020-05-21 20:45] G-White-ISB commented on #48
Should be enabled when current pull request is accepted.

[2020-05-22 14:43] #48 closed

[2020-05-25 22:34] G-White-ISB commented on #93
Should be fixed after current PR is accepted

[2020-05-27 07:49] s-paquette commented on #77
@madelyngreyes Okay, give it another shot.

[2020-05-28 15:45] #77 closed

[2020-05-28 15:50] madelyngreyes commented on #71
@G-White-ISB Hello, I noticed a ton of improvements to the display of the text in the Search Results panel.

There is still some text cut off in the project name pie chart.
![Screen Shot 2020-05-28 at 11 39 20 AM](https://user-images.githubusercontent.com/16824894/83163570-2fe36300-a0d9-11ea-8b7b-c38ba076d40b.png)

Also, with the Modality pie chart.

![Screen Shot 2020-05-28 at 11 38 39 AM](https:

[2020-05-28 16:05] madelyngreyes commented on #93
If you select a collection e.g., tcga_lusc then select a select studies option e.g.,

tcga_lusc | TCGA-34-5239 | 1.3.6.1.4.1....982782939556 | CT THORAX WITHOUT CON
-- | -- | -- | --

then if you scroll past Selected series panel you will still see whitespace.
![Screen Shot 2020-05-28 at 12 04 32 PM](https://user-images.githubusercontent.com/16824894/83165398-72a63a80-a0db-11ea-9ddc-cc42c72ff61e.p

[2020-05-28 16:22] madelyngreyes opened #103 "zoom in 110% on laptop will cause sign-in button to dissapear"
If an end-user has their browser set to 100% on a laptop the sign-in button will no longer be visible on the page.

![Screen Shot 2020-05-28 at 12 20 31 PM](https://user-images.githubusercontent.com/16824894/83167095-cca7ff80-a0dd-11ea-9ba4-df2c05ee4089.png)

[2020-05-28 16:45] G-White-ISB commented on #93
Code fixing this has not been deployed. Still waiting for a PR to be
accepted.
George

On Thu, May 28, 2020 at 9:05 AM Madelyn <notifications@github.com> wrote:

[2020-06-07 18:57] #93 closed

[2020-06-08 21:28] fedorov commented on #82
No need to invest more time into this, let's close it.

[2020-06-08 21:28] #82 closed

[2020-06-08 21:29] fedorov commented on #81
Discussed this with the ISB team, and decided to reconsider after MVP.

[2020-06-09 03:59] G-White-ISB commented on #79
Collections table will now hide collections with 0 patients. I concur with not using both patients and cases but would you prefer cases or patients? At least for a non-MD 'patient' is somewhat clearer. We could remove the annotation to the count labels, but I wonder if that could lead to ambiguity as to whether we are counting by patient or study? Will remove SeriesID in the Series table.

I'll be

[2020-06-10 20:16] fedorov opened #112 "Issues observed prior to the initial demo"
1. It is not possible to click at the study level to load into the viewer.
2. Selection of the study does not seem to properly select the series included - the content of the series list does not appear to depend on the study selected:

Series for the subject 10 selected:
![image](https://user-images.githubusercontent.com/313942/84313881-2aeccd80-ab35-11ea-98db-3bd54fe9123e.png)
Series for the sub

[2020-06-11 02:05] fedorov opened #115 "Portal versioning display to the user"
For the purposes of debugging etc, and to allow referencing a specific release, I think we should add some versioning of the portal to the idc-dev and idc-testing pages. Thoughts?

@wlongabaugh @G-White-ISB

[2020-06-11 02:07] fedorov commented on #112
As of today, 22:05 Eastern time, I see that idc-testing allows loading at the study level. Things are still broken though.

One problem is that the viewer is referring to the Google collections, not IDC-hosted collections. See URL:

https://idc-testing.appspot.com/projects/chc-tcia/locations/us-central1/datasets/qin-headneck/dicomStores/qin-headneck/study/1.3.6.1.4.1.14519.5.2.1.2744.7002.27180393

[2020-06-11 02:09] fedorov commented on #112
Also, it would be good to update OHIF to the latest - it has improved debugging capabilities to help trace issues.

[2020-06-11 02:37] s-paquette commented on #112
I don't know why this would be working on test, since I haven't merged it in there, just on idc-dev. Unless you meant idc-dev?

[2020-06-11 02:38] s-paquette commented on #112
I don't know that we have the locations for the IDC-hosted collections yet; do we @bcli4d ?

[2020-06-11 02:51] fedorov commented on #112
When I created the sample testing dataset, I populated BQ and DICOM stores with the content. The DICOM store that contains pre-MVP collections content is here: https://console.cloud.google.com/healthcare/browser/locations/us/datasets/pre-mvp-temp/datastores?project=idc-dev-etl (this was also mentioned in the document I shared earlier and in the issue, wherever it was).

[2020-06-11 02:52] fedorov commented on #112
all I know is that I can click to load study in idc-testing, but not in idc-dev

[2020-06-11 03:05] fedorov commented on #112
After "empty cache and hard reload" idc-dev had the study load.

[2020-06-11 03:08] s-paquette commented on #112
Okay, looks like the last thing remaining is #3. @G-White-ISB let me know if something needs to come back different from the queries.

[2020-06-11 12:50] fedorov commented on #112
And issue 4 is the app is using incorrect DICOM store.

[2020-06-11 13:56] fedorov commented on #112
issue 5: considering all collections are searched by default, should all the checkboxes be selected in this panel?

![image](https://user-images.githubusercontent.com/313942/84393438-8ec0d600-abc9-11ea-9398-9d1b80a47310.png)

Also, "Check all/uncheck all" logic is broken - it only checks/unchecks TCGA.

[2020-06-11 14:07] fedorov commented on #112
also, this has to be revised:

![image](https://user-images.githubusercontent.com/313942/84394737-57ebbf80-abcb-11ea-85a0-61857f956368.png)

probably we do not want to show CodeValue in the filter, and the long name does not look good, need to come up with something about this

[2020-06-11 14:09] fedorov commented on #112
Another issue: for the collections listing, we should provide collection summary on mouseover, and also have an easy way for the user to get to a page describing the collection in detail. Perhaps same goes about each of the items in the facets.

[2020-06-11 14:40] fedorov commented on #79
@rkikinis also had a suggestion that the color set used by the charts should be revised.

[2020-06-11 14:54] fedorov commented on #79
The sizing of this table during scroll is messed up and should be fixed:

![2020-06-11_10-42-20 (1)](https://user-images.githubusercontent.com/313942/84401934-d8adba00-abd1-11ea-990b-da2f76c6e01e.gif)

[2020-06-11 14:55] fedorov commented on #95
@G-White-ISB can you show me any other example in an existing application where pagination is handled the same way? I can't think of any.

I do not understand the justification for this design decision.

[2020-06-11 16:43] G-White-ISB commented on #112
Issue #5. Check All /Uncheck All options are under the TCGA tab and is meant to apply to those collections. Notice the options are hidden if you close the tab.

[2020-06-11 16:45] G-White-ISB commented on #112
Collection description issue. This is a good idea but where are we getting these descriptions.

[2020-06-11 16:46] G-White-ISB commented on #112
Agreed on needing a nicer way to print the filter definition.

[2020-06-11 16:56] fedorov commented on #112
is there a good reason why in other facet groups check/uncheck applies to all items, and here it applies only to TCGA?

How about a separate section listing projects (e.g., TCGA, CPTAC, PDMR, QIN, ...)? Right now TCGA is a sibling of "Collection", while it is children of TCGA that are collections.

[2020-06-11 17:02] fedorov commented on #112
@George White (ISB) can you please comment on https://github.com/ImagingDataCommons/IDC-WebApp/issues/112#issuecomment-642361928

[2020-06-11 17:30] s-paquette commented on #112
Re: descriptions, if we can be provided with them, they can definitely be stored for display. If there's a place to get them from let us know.

[2020-06-11 18:00] G-White-ISB commented on #112
Re: DICOM store. I will switch to this URL (https://console.cloud.google.com/healthcare/browser/locations/us/datasets/pre-mvp-temp/datastores?project=idc-dev-etl) and test locally.

[2020-06-11 18:12] G-White-ISB commented on #112
Re: Checkbox option in TCGA Collection. Other facet groups have a 'Check All option' if the have more that 6 items in the group. The new collection tab is the first time we have dealt with 'nested' checkboxes. We can add a 'Check All' to the 'top layer' of the checkboxes. There will be a little ambiguity as to whether  checking it would then check all the boxes in the nested layer.

[2020-06-11 18:50] G-White-ISB commented on #95
So these tables use a hybrid of the infinite scroll/pagination patterns. I
have not found other tables that behave quite this way although the 'Load
More' pattern used by FaceBook is also something of a  hybrid approach
(with 'load more' replacing 'next page')
https://www.smashingmagazine.com/2016/03/pagination-infinite-scrolling-load-more-buttons/.
I see a couple of advantages of this approach ov

[2020-06-12 14:41] fedorov commented on #112
I will start splitting off individual issues from this one to make it easier to trace.

[2020-06-12 14:42] fedorov opened #119 "Segmentations or RTSTRUCT do not show - extensions not registered?"
It should instead point to IDC DICOM store.

Re https://github.com/ImagingDataCommons/IDC-WebApp/issues/112#issuecomment-642842854

[2020-06-12 14:43] fedorov commented on #119
As of Jun 12 East coast morning, it is still pointing to the `chc-tcia` collections.

[2020-06-12 14:53] fedorov opened #120 "TCIA collection descriptions"
We need to add collection descriptions for the collections list. The way TCIA is doing this is very nice:

![image](https://user-images.githubusercontent.com/313942/84515506-8c7a7c80-ac9a-11ea-97c7-aba963d02343.png)

We could initially link to the TCIA collection pages using DOIs, but going forward we should probably have our own collections pages to make sure the description matches the version w

[2020-06-12 14:58] fedorov opened #121 "Revise project/collection selection filters"
Currently, we have a number of collections under TCGA, and "check/uncheck all" applies only to the items under TCGA.

![image](https://user-images.githubusercontent.com/313942/84516107-51c51400-ac9b-11ea-8cfa-dcc04d58a74e.png)

Suggestion for the revised design:

1. Add separate section listing all projects (e.g., TCGA, CPTAC, )
2. Add separate section listing all collections (as in TCIA)

![image

[2020-06-12 21:36] G-White-ISB commented on #112
Re: Dicom store. Actually I think this is something Bill L. needs to change in the proxy server, not a change in my OHIF configuration. I will confirm.

[2020-06-12 22:01] fedorov opened #122 "Filter presentation cleanup"
![image](https://user-images.githubusercontent.com/313942/84549502-1e53ab00-acd6-11ea-815b-466242bb9daa.png)

Specific suggestions:
* use capitalized lower case for long terms that are not abbreviations
* overall, use consistent capitalization between the facet names and presentation
* drop "SEQUENCE"/"CODESEQUENCE" from the names, keep them consistent between the facets labels and filter items
*

[2020-06-12 22:02] fedorov commented on #112
Closing this issue. All individual issues identified now have corresponding specific focused issues.

[2020-06-12 22:02] #112 closed

[2020-06-12 22:09] fedorov opened #123 "Improve OHIF Viewer deployment branding with IDC logo"
As requested by Keyvan during the initial MVP demo.

Probably should wait to hear about https://github.com/OHIF/Viewers/issues/1789 before trying to fork and customize OHIF Viewer ourselves.

[2020-06-13 01:23] dannyrb commented on #123
@fedorov, you can use a custom SVG for your logo, configured via the app's config. There is some information in a recent PR that improved/fixed how this is done:

https://github.com/OHIF/Viewers/pull/1659

[2020-06-13 18:07] pieper commented on #123
I remember the whitelisting discussion now, but didn't realize it was a simple config issue.  Thanks @dannyrb !

So I made a new version of the svg with a black background and less blank space around it and added that to the idc logo folder on google drive.  (I'll note that the svg files are a bit of a pain to work with for various reasons to do with transforms, but if somebody wants to they could

[2020-06-16 21:28] fedorov commented on #120
Relevant communication from Ulli on how to get this information:

---

Hi Andrey,

NBIA has an API called “Collection Description API” and it is  listed in the API Guide https://wiki.nci.nih.gov/display/NBIA/NBIA+REST+API+User+Guide

The API requires a token.

Here is an example of getting a token:

C:\curl>curl -d  "username=nbia_guest&password=&client_id=nbiaRestAPIClient&client_secret=ItsBetwee

[2020-06-16 21:31] fedorov commented on #119
Quoting @G-White-ISB from https://github.com/ImagingDataCommons/IDC-WebApp/issues/112#issuecomment-643493036:

Adding @wlongabaugh.

As of today, idc-dev and idc-testing are still pointing to the google-hosted content.

[2020-06-17 19:56] fedorov commented on #119
The DICOM store and BQ to be used for pre-MVP have been documented in https://docs.google.com/document/d/14Wfu-q3hbRxlOSDGIWC0kkSI3CsYoKyB5EhmgY52TgM/edit#, and the destination DICOM store should be https://console.cloud.google.com/healthcare/browser/locations/us/datasets/pre-mvp-temp/datastores?project=idc-dev-etl.

[2020-06-17 20:14] fedorov opened #125 "Clinical data selection should auto-select TCGA?"
Or maybe clinical data should be empty unless TCGA is selected?

In any case, current behavior is confusing. If I touch the age filter, and even if it set to 0-120, I have all of the collections other than TCGA blanked. I think we need to discuss how filters that apply only to a subset of data are exposed.

Also note that PatientAge and PatientSex, along with some other clinical metadata, is avail

[2020-06-17 20:20] G-White-ISB opened #126 "use sliders to filter Quantitative data"
Use sliders in place of checkboxes for derived quantitative data

[2020-06-17 21:31] G-White-ISB commented on #123
Thanks Steve - will add it with my next code commit

[2020-06-18 00:03] wlongabaugh commented on #119
It is now switched over. In fact, the piece of the URL that specifies the project, location, dataset, and DICOM store are configured in the WebApp. The proxy just specifies the host (https://healthcare.googleapis.com). Worth noting that maybe the proxy should be configured to *only* pull from our collections, to keep somebody from getting stuff from some random DICOM store thru our proxy.

[2020-06-18 01:32] fedorov opened #128 "Studies table should reset when filter is updated"
As can be seen below, if I select a new filter settings that invalidate the currently active content of the study table, it still shows that unrelated content.

In this case, I selected collection nsclc-radiomics, but in the study list I have lidc studies.

![image](https://user-images.githubusercontent.com/313942/84967475-015a1600-b0e2-11ea-8c52-b73c93b88ef3.png)

[2020-06-18 01:50] fedorov commented on #123
It's not super critical to do the update now - most important we can do it. For the MVP we will most likely need to use NCI branding, but for the sandbox IDC consortium logo is most appropriate.

We also probably should test that official NCI logo works well (see those here: https://drive.google.com/drive/folders/1KnH0sfGX4odmHYKyG2uKCvYyrSfn3-K5). But please do not add it yet to the MVP, we need

[2020-06-18 12:52] JamesAPetts commented on #119
We discovered that this issue was because you guys switched to using the UMD bundle, instead of the PWA, which requires manual addition of extensions.

@pieper will help you switch back to the PWA version, which will allow the app to run correctly again.

[2020-06-19 15:43] pieper commented on #119
This is what I do to build and deploy the idc-sandbox:

[code]

[2020-06-19 15:46] fedorov commented on #119
Here's a study that contains SEG: https://idc-dev.appspot.com/projects/idc-dev-etl/locations/us/datasets/pre-mvp-temp/dicomStores/cross-collection-temp/study/1.3.6.1.4.1.14519.5.2.1.6279.6001.191425307197546732281885591780

When SEG extension is not working, SEGs will show on the left as in the screenshot below.

If it is working properly, you should NOT see SEG in the left panel.

![image](https:

[2020-06-19 17:41] G-White-ISB commented on #119
<img width="1792" alt="Screen Shot 2020-06-19 at 10 38 02 AM" src="https://user-images.githubusercontent.com/58443591/85164422-31580500-b219-11ea-831e-3d8f85067329.png">
I have not figured out how to deploy the PWA version in our environment so that all the resources are located and loaded correctly. I've reached out to Steve P and Suzanne P for help

[2020-06-19 19:49] fedorov commented on #119
@G-White-ISB @pieper let's make sure the solution to this is documented here whenever you figure it out.

[2020-06-19 21:06] pieper commented on #119
We've been discussing.  The current plan is either to run an independent web server instance for OHIF or to get Danny's help with the config/environment settings to make the deployment work as @G-White-ISB originally tried.  My vote would be for the independent server, but I'm happy either way.

[2020-06-22 15:46] wlongabaugh commented on #63
We now show zero counts, but I believe we agreed it should be a user preference?

[2020-06-22 16:14] fedorov commented on #119
Per discussion with @G-White-ISB, the plan is to seek help from @dannyrb when he is back in the office on Tue, June 23.

[2020-06-22 16:58] fedorov commented on #125
Needs more discussion

[2020-06-22 23:35] wlongabaugh opened #130 "Need Official Quota Exceeded Page"
Currently, the webapp is configured to have the OHIF viewer send the user to this bare-bones page when the daily quota is exceeded:

https://storage.googleapis.com/idc-sandbox-002-static/quota_exceeded.html

We need to get an official IDC-Django-served page set up to return that message. Or is there one already I don't know about?

[2020-06-23 00:49] fedorov opened #131 "Need to revisit labels for the modality values"
@s-paquette @G-White-ISB can you tell me what is the procedure for mapping the values of Modality attribute to the items in the list below?

![image](https://user-images.githubusercontent.com/313942/85348442-9f2a5800-b4c9-11ea-866a-a1e13ab23c39.png)

@bcli4d and I have been putting together the list of various tables that will be needed by Suzanne [here](https://docs.google.com/document/d/14Wfu-q3

[2020-06-23 01:21] fedorov commented on #131
Mapping from the modality attribute to the values is here in the standard: http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_C.7.3.html#sect_C.7.3.1.1.1

[2020-06-23 02:16] fedorov commented on #131
I think it would be much more useful and clean if instead of Modality we take SOPClassUID, which is a unique identifier that defines Information Object Definition for the DICOM object, and show name corresponding to the SOPClassUID in the UI. We already have a BQ table with this content: `idc-sandbox-000:DICOM_2019e.CIODs` - that table is populated directly from the standard,
this view maps SOPCla

[2020-06-23 10:42] dclunie commented on #131
I am not sure that using SOP Class rather than Modality is what the user wants to see.

E.g., is their primary interest any MR images at all, or the difference between legacy single-frame, or Legacy Converted or true Enhanced MF SOP class images?

In clinical PACS, it is more common to browse/search by Modality, not SOP Class, and for the system/viewer to protect the user from encoding details beh

[2020-06-23 11:41] fedorov commented on #131
Those are good points David. But I actually thought it might be of interest to know between enhanced and legacy enhanced, and I also thought about parametric maps, which are indistinguishable from source images based on Modality. But I don't think we have any parametric maps at the moment, so we can deal with this later.

Based on your response, let's just keep Modality updated to correct values.

[2020-06-23 16:33] fedorov commented on #119
@pieper @dannyrb @G-White-ISB were you able to connect to come up with the path forward on this problem?

[2020-06-24 16:12] G-White-ISB commented on #128
FIxed in current PR

[2020-06-24 16:12] #94 closed

[2020-06-24 16:13] #54 closed

[2020-06-24 16:15] G-White-ISB commented on #47
We are using the proxy now and I don't think this issue has come up again

[2020-06-24 16:15] #47 closed

[2020-06-24 20:01] G-White-ISB commented on #119
Suzanne, Steve and I just met with Erik Ziegler. He believes its a simple build configuration to get the PWA version working in our environment. We hope to have it sorted today or tomorrow

[2020-06-25 16:11] G-White-ISB commented on #63
User has an option to hide or show 0 counts

[2020-06-25 16:11] #63 closed

[2020-06-25 16:12] #78 closed

[2020-06-25 16:13] #128 closed

[2020-06-29 14:15] fedorov opened #138 "Incorrect counts"
"Segmentations" checkbox shows incorrect case count, and is not consistent with itself - the number of cases in the right is different from the counts on the left.

![image](https://user-images.githubusercontent.com/313942/86016832-4c80fc80-b9f1-11ea-980a-37e2a6969609.png)

[2020-06-29 14:26] fedorov commented on #131
@s-paquette I see you updated the webapp - thank you! Small nitpick - can you change "Ctpt" to "CTPT"?

[2020-06-29 14:59] G-White-ISB commented on #138
Our derived data numbers are way off. I'm checking that today.

[2020-06-29 15:01] s-paquette commented on #138
Note, I haven't migrated over the new table/Solr core setup, so I would ignore the counts entirely for now. Until I get that done we can't really rely on those.

[2020-06-29 17:23] fedorov commented on #138
Also, I just noticed this - why is there a piechart for "SOP CLASS UID"?

[2020-06-30 22:06] s-paquette commented on #131
Ah, looks like Modality isn't flagged as preformatted--I'll do that from here on out.

[2020-07-03 05:33] s-paquette commented on #138
@fedorov Can you have a look at the counts now? I've fixed what was causing them to be off.

[2020-07-03 06:59] s-paquette commented on #131
@G-White-ISB George, the values are now coming through correctly, but it looks like the WebApp is massaging them somehow. This might be because the value CTPT isn't in the list from the webpage, but it IS in the dicom metadata table as a Modality value. So it probably shouldn't be massaged by the WebApp, just used as-given.

[2020-07-03 16:05] fedorov commented on #95
Related feedback from @rkikinis below. Again, the user is confused by the slider, and in this specific case pagination is exactly intended to get rid of slider.

![image](https://user-images.githubusercontent.com/313942/86484972-7b66dd80-bd25-11ea-9178-542572974769.png)

[2020-07-05 20:43] fedorov commented on #138
That specific error is gone, thank you!

I didn't realize you added that new tab corresponding to the name matching SOPClass UID. The name of that tab (and the piechart) should be "Object class", since we are showing names of the classes, not the UIDs that identify those classes.

There is also a new "incorrect count" error reported by @rkikinis, which I was able to reproduce. I am adding it here,

[2020-07-06 14:04] fedorov commented on #131
@G-White-ISB @s-paquette also note that capitalization is inconsistent between the filter definition and the labels in the facet list:

![image](https://user-images.githubusercontent.com/313942/86601923-f15e8500-bf6f-11ea-8516-b8d46b4e519f.png)

Related to this, don't we need a separate category (e.g., maybe "Project"?) for things like "QIN", "TCGA" - those are currently in the same category as in

[2020-07-06 14:17] fedorov opened #143 "Saving cohort"
Cohort saving does not seem to work. If it is a known issue, and that functionality is not available, should we really be showing "Save cohort" button?

Or is it supposed to work, and this is a bug?

This is what happens when I try to save cohort:

![image](https://user-images.githubusercontent.com/313942/86603389-ee649400-bf71-11ea-8479-4823ab125456.png)

[2020-07-06 14:59] fedorov opened #144 "Incorrect filtering result"
The below is the single facet I click. I am trying to understand why Segmentation-related pie charts are all "None". Each of those cases selected comes from the LIDC collection, and I know that each of the cases that has this facet enabled contains a Segmentation object.

![image](https://user-images.githubusercontent.com/313942/86607275-10144a00-bf77-11ea-8aa6-ffcafb73578f.png)

As I try to confi

[2020-07-06 15:05] fedorov opened #145 "Collection groups facets do not work"
Currently, we have groups of collections organized as below:

![image](https://user-images.githubusercontent.com/313942/86608065-0dfebb00-bf78-11ea-8d02-695a04cf1dff.png)

Selection of the "parent" for the collection puts "parent" into the filter in the UI:

![image](https://user-images.githubusercontent.com/313942/86608142-28389900-bf78-11ea-808d-21f13966d810.png)

However, the behavior is not eq

[2020-07-06 15:06] fedorov commented on #131
I factored that one out into a separate issue here: https://github.com/ImagingDataCommons/IDC-WebApp/issues/145

[2020-07-06 16:14] fedorov commented on #145
Agreed the desired behavior should be like in DataStudio (the example below is from https://datastudio.google.com/u/0/reporting/9d9a696e-0bb9-405d-a05a-a88983a02717/page/vOhHB):

![image](https://user-images.githubusercontent.com/313942/86615241-2ffd3b00-bf82-11ea-832d-f40f4b63ecc6.png)

[2020-07-06 16:16] fedorov commented on #145
Going forward, probably should record assignment to the project as part of ETL.

[2020-07-06 16:24] fedorov commented on #144
Perhaps filter should not apply to series table

[2020-07-06 16:34] fedorov commented on #144
The counts are incorrect right now, let's revisit this once counts are fixed.

[2020-07-06 16:35] fedorov commented on #143
Confirmed this is not working

[2020-07-06 16:37] fedorov opened #146 "Differentiate between "has no specific type of derived data" and "has no specific attribute of derived data""
Specific example: missing segmentation and missing anatomic region in segmentation.

[2020-07-07 14:50] fedorov commented on #144
I also realized there are "None" options for each of the qualitative measurement options (I missed this earlier, since it was hidden because of "show more"). There should not be "None" in that list. As as user, I would be super confused by this.

![image](https://user-images.githubusercontent.com/313942/86799051-7d8bad80-c03f-11ea-9aaa-37ca8a8c83e5.png)

[2020-07-07 15:51] s-paquette commented on #144
Can we say for sure that there will never be a record lacking a value in some of these?

[2020-07-07 16:48] s-paquette commented on #146
I *think* I have this working now in idc-dev, where counts will not involve instances that don't have *any* of a given derived data type. So, if say 200 instances lack segmentation, they won't be part of the segmentation counts (neither will anything without derived data at all). Let me know if that's working as expected.

[2020-07-07 16:49] s-paquette commented on #144
Oh, also those are older counts--are you looking at test? The newest code is on dev. Can you have a look at dev and let me know if that's working as intended?

[2020-07-07 16:50] s-paquette commented on #138
@fedorov Is this fixed on dev?

[2020-07-07 16:51] s-paquette commented on #119
@fedorov Is this one working now? If so we can close this out.

[2020-07-07 16:52] s-paquette commented on #131
Modalities used per the provided link, and CTPT was put in by hand because it wasn't present.

[2020-07-07 16:53] s-paquette commented on #103
@madelyngreyes Found the problem--deploying to dev now, check in ~30m if you have a second.

[2020-07-07 17:45] G-White-ISB opened #148 "Filter Application to Series and Studies"
It's a simple fix but we just need to make the decision. Should the filters apply only at a CASE or Patient level, OR  a CASE/Patient level AND Study Level? Once cases are filtered should all studies relevant to that case be available, or only studies that match the filter? I believe there is consensus that the filters do not apply at the Series Level. In other words if we filter for Cases that co

[2020-07-07 18:00] fedorov opened #149 "Account information - need to edit panel"
![image](https://user-images.githubusercontent.com/313942/86822894-30690500-c05a-11ea-98c2-1a19c841178f.png)

[2020-07-07 18:08] madelyngreyes commented on #103
The zoom issue is resolved on the dev tier for the sign-in link.

Image below was taken at 200% zoom on a laptop.
![Screen Shot 2020-07-07 at 2 07 27 PM](https://user-images.githubusercontent.com/16824894/86823825-5347e900-c05b-11ea-83e8-146a11cdd66a.png)

[2020-07-07 18:15] madelyngreyes commented on #138
I still see the same functionality as Ron/Andrey's most recent input on the idc-dev tier.

![Screen Shot 2020-07-07 at 2 11 28 PM](https://user-images.githubusercontent.com/16824894/86824465-2c3de700-c05c-11ea-914f-d5fcc33e4245.png)

I have notifed Suzanne and is looking into this.

[2020-07-07 19:22] G-White-ISB commented on #138
No it's a different issue only relevant to the quantitative measurement
filters. These filters  generate  an incorrect parameter argument in the
server call and so the requested URL is returning a 404. I think I can fix
this.
George

On Tue, Jul 7, 2020 at 11:15 AM Madelyn <notifications@github.com> wrote:

[2020-07-07 19:27] s-paquette commented on #138
Ah, there's really two issues--one of which I fixed (the numbers are included records without derived data) and then I suspect the second one might be URL length. URLs have a max length, and selecting all the filters in that list might be going over, causing it to truncate.

[2020-07-08 01:50] fedorov opened #151 "Facets panel design considerations"
I received feedback from Keyvan that it takes a lot of scrolling to navigate the left panel.

I then thought that maybe we could look into adding independent scrolling for the left panel so the right part could stay in place while navigating facets.

I then looked at the GDC portal, and they do something like that, and also they have a way to hide the facets panel, which I thought is a good idea.

[2020-07-08 14:57] madelyngreyes commented on #119
The correct URL seems to be present.

![Screen Shot 2020-07-08 at 10 57 23 AM](https://user-images.githubusercontent.com/16824894/86934553-d58ee680-c109-11ea-9e7c-015efe416fd0.png)

[2020-07-08 15:03] madelyngreyes commented on #123
The logo is present but, there is still a formatting issue.

new logo
![Screen Shot 2020-07-08 at 11 01 02 AM](https://user-images.githubusercontent.com/16824894/86934976-55b54c00-c10a-11ea-9edd-c23f7cf3c3a0.png)

old logo
![Screen Shot 2020-07-08 at 11 00 54 AM](https://user-images.githubusercontent.com/16824894/86935024-61087780-c10a-11ea-9ab2-dbdb9485c1d4.png)

[2020-07-08 15:14] pieper commented on #123
Yes, it was hard to resize the logo, so maybe we can get a designer to make some more variants that preserve the aspect ratio.

[2020-07-08 15:49] G-White-ISB commented on #123
Closing for now. Maybe address after MVP

[2020-07-08 15:49] #123 closed

[2020-07-08 15:54] G-White-ISB commented on #126
@fedorov is the 'None' attribute relevant for derived quantitative data? Will we want to filter on the 'None Available' value for a quantitative filter?

[2020-07-08 15:55] G-White-ISB commented on #95
The scroll bar is removed in the current Pull Request

[2020-07-08 15:55] #103 closed

[2020-07-08 16:23] fedorov commented on #126
If we can make it transparent and clear to the user, I do not have any issue with that. But we already have a lot of None's, and in many cases I cannot make sense of the number they show.

Another observation is that with this logic, one can say why don't we add "None Available" to every single facet? I.e., give me cohort that does NOT have MR images. I am not sure how useful that would be, but it

[2020-07-08 17:24] fedorov commented on #95
Great! I just noticed that idc-testing still had that issue with the table resizing during scrolling (see below). I am assuming this issue will also go away, right?

![2020-07-08_13-23-45](https://user-images.githubusercontent.com/313942/86950616-5bb52800-c11e-11ea-9e1b-0ce43a68d32b.gif)

[2020-07-08 17:52] G-White-ISB commented on #95
The table can resize on page change because table rows may be1 OR 2 lines
long and the table is sized to show a set number of rows.
George

On Wed, Jul 8, 2020 at 10:25 AM Andrey Fedorov <notifications@github.com>
wrote:

[2020-07-08 20:40] #119 closed

[2020-07-08 21:00] fedorov commented on #144
Looking at dev, it is better re None, but it is still incorrect - the total number of cases in lidc_idri is 1010 (and the total number of cases that have annotations is less than that), but the below sums up to more than 1010.

![image](https://user-images.githubusercontent.com/313942/86969865-71d1e100-c13c-11ea-9468-4488e949e023.png)

[2020-07-08 21:01] fedorov commented on #144
Can you clarify what you mean by that? If you mean whether we can have a qualitative measurement concept code, but no value assigned to that concept, then no - I don't think we should have that.

[2020-07-08 21:02] fedorov commented on #146
I don't think it is working properly - if I select lidc_idri that does not have any glycolysis measurements, it gives me below which to me means there are None's assigned as values for glycolysis.

![image](https://user-images.githubusercontent.com/313942/86970128-dee57680-c13c-11ea-8f5a-16dd340e9d08.png)

[2020-07-08 21:04] #131 closed

[2020-07-08 21:06] fedorov commented on #148
Yes, I believe it is more helpful to show all series in the studies that match.

I do think it is more helpful if filters apply both at the Patient and Study levels, but going forward we might want to revisit what we are counting. Maybe post-MVP we could think of a toggle that would count studies instead of cases?

[2020-07-08 21:12] s-paquette commented on #148
We can count both at the same time and adjust which we show; that's fairly easy to do. The real question is about the data structure.

The issue we have right now is we're wanting to filter on attributes which aren't available at the study level, they're at the instance level (segmentations). As a result, we have to have the instances present. We can only collapse back down to series or study if w

[2020-07-08 21:24] s-paquette commented on #144
Got it--in that case, I think it's better to handle that at the UI level. From a faceted counting POV, finding a NULL or missing value is a legitimate thing; if our data won't be doing that in some specific situations, then we should tailor the UI to not show it for those. It's not something we can apply system wide, as there will be records which lack data in some attributes, and we should accoun

[2020-07-08 23:56] s-paquette commented on #146
Not quite done yet. I'll ping in this and the other issues when it's deployed.

[2020-07-09 00:11] s-paquette commented on #144
@fedorov Another filtering question for you. Numerous of the instance IDs linked to the derived data don't have some of the dicom metadata linked to them (eg. BodyPartExamined). So, in a case like that, if you filter on eg. Lung, those records fall out of the counts because they have no BodyPartExamined linked to them (being from the SR modality records, all of which have NULL BodyPartExamined ent

[2020-07-09 02:46] fedorov commented on #144
That's a good question! I need to think about this ... @dclunie do you have any thoughts to help with the above?

We could assume that BodyPartExamined is the same for everything in a study (and we could easily verify if this is indeed the case for all instances that do have it initialized). I think this is the most practical thing to do.

More complicated approach could be to look at the referenc

[2020-07-09 02:50] fedorov commented on #148
I think this is it.

But indeed we are venturing into the area where the answer is not going to be obvious, and I will need to think about the technical details you discussed above. But I think returning the study if any instance matches, and listing all series that belong to the study, will be more helpful than what we have now. And if we could have an option to show counts of studies instead of

[2020-07-09 14:04] fedorov opened #155 "Empty collections list but non-empty study list"
I hit a weird issue of collections list being empty, but studies list is not. All I need to do is select "Nodule" under segmentation type in idc-testing:

![image](https://user-images.githubusercontent.com/313942/87049864-772a3c80-c1cb-11ea-9da0-ad516952ac85.png)

[2020-07-09 16:13] G-White-ISB commented on #155
I was aware of this bug and it was already fixed in dev.

[2020-07-09 16:13] #155 closed

[2020-07-09 18:07] s-paquette commented on #146
@fedorov Okay, idc-dev's current deployment has the sliders for quantitative data and all counting issues (that I know of) dealt with, save one: the 'None' entry under Original data resulting from the derived data records which have no values for those attributes. We really can't do anything about those unless as previously discussed in another ticket we want to fill those in from the studies or a

[2020-07-09 22:26] madelyngreyes opened #157 "Data portal at 125% zoom on laptop will cause text overlap and cut-off"
On the data portal, if the user is on a laptop using Google Chrome at 125% zoom, there is text cut-off in the Search Scope panel. As well in the Search Configuration panel, the tab ORIGINAL is cut off.

development tier
![Screen Shot 2020-07-09 at 6 05 12 PM](https://user-images.githubusercontent.com/16824894/87096752-8207c000-c211-11ea-9484-c22a5bbe58d0.png)

[2020-07-10 02:26] fedorov commented on #146
That's perfectly fine, and is expected behavior.

But there still are discrepancies: there are only 875 cases in LIDC that have segmentation (which means 875 cases that have any kind of measurements), but the number of measurements across categories of a single measurement sums up to more than that:

![image](https://user-images.githubusercontent.com/313942/87109664-44b42a00-c233-11ea-8c50-15c27de

[2020-07-10 02:28] fedorov opened #158 ""Hide values with 0 cases" should be a global setting"
I do not see the value of toggling that setting for every single section, and also it eats quite some space.

![image](https://user-images.githubusercontent.com/313942/87109772-81802100-c233-11ea-9429-f0101273b116.png)

[2020-07-10 02:32] fedorov commented on #146
Thinking about this more, this may make sense, since the same case may have nodules that have different appearance. It is similar situation to what we have with Body Part for LIDC. So I take back the above - we will need to test the numbers are accurate, but at least there is an explanation to what I see.

[2020-07-10 02:34] fedorov commented on #95
@G-White-ISB I did not see any table row that has more than one line in the example above, but I think it does not matter anymore, now that we do not have scrolling in pagination, so I am closing this.

[2020-07-10 02:34] #95 closed

[2020-07-10 02:36] fedorov opened #159 "Sliders range"
It doesn't appear that the range in sliders is driven by the actual data - is it?

It is hard to believe for all those below the range is 0-120.

![image](https://user-images.githubusercontent.com/313942/87110268-94dfbc00-c234-11ea-86ac-9d6d7ecf5e57.png)

[2020-07-10 02:59] fedorov commented on #159
And also we should probably do something different than using pie charts to categorize quantitative measuments.

![image](https://user-images.githubusercontent.com/313942/87111635-d2921400-c237-11ea-8876-19b6a5022a56.png)

[2020-07-10 14:58] G-White-ISB commented on #159
I don't know what the correct slider ranges should be. I've asked Suzanne to provide ranges after which I will adjust each slider individually. I am open to suggestions for data visualizations and was going to bring it up this morning if we have time.

Btw lets not open more  slider issues for now! [github.com/ImagingDataCommons/IDC-WebApp/issues/126](url) .

[2020-07-10 16:50] fedorov commented on #159
I think #126 is a separate issue that can be resolved, since sliders were added to replace the categories - that one can be closed.

This issue is about the behavior of sliders as they are now implemented.

[2020-07-10 16:50] #126 closed

[2020-07-10 16:50] fedorov commented on #126
Sliders have been added.

[2020-07-11 20:11] fedorov opened #161 ""Encountered an error when attempting to load the page - please contact the administrator.""
This is for idc-testing.

Reloading the page, clearing cache and hard reload do not get rid of the error below. Search facets are empty - so this bug is a complete stopper.

![image](https://user-images.githubusercontent.com/313942/87232948-0cc2f900-c391-11ea-9419-3e36a74f21b9.png)

[2020-07-11 20:16] fedorov opened #162 "Support 'AND' within an attribute filter (rather than just 'OR')"
As reported by @rkikinis:

![image](https://user-images.githubusercontent.com/313942/87233042-d639ae00-c391-11ea-90de-d8b5bf468950.png)

[2020-07-11 20:22] fedorov commented on #161
Can someone explain to me why we have this regression in idc-testing which we do not have in idc-dev?

[2020-07-11 21:54] wlongabaugh commented on #115
Yes, we can probably do something, but how does it sit on the MVP priority list?

The issue is not so much showing a number, but implementing the formalism behind it. For example, the viewer, the proxy, all the configuration file settings, the solr configuration, database contents, etc. all influence the behavior of the system. So what are we trying to capture by the version number?

The version o

[2020-07-12 11:37] fedorov commented on #161
From @s-paquette: "Looks like the core update on test didn't go through. All done"

[2020-07-12 11:37] #161 closed

[2020-07-13 02:39] fedorov commented on #143
Cohort-related non-functional components have been disabled in the UI.

[2020-07-13 02:39] #143 closed

[2020-07-13 15:40] G-White-ISB commented on #162
The filter IS selecting for CT or MR,  NOT CT AND MR. All the filter attributes work this way. This is consistent with ISB-CGC and the GDC portal.

[2020-07-13 20:04] fedorov commented on #162
Yes, I understand. The point is that it WOULD be very useful to be able to configure the  query to do AND.

[2020-07-13 20:27] rkikinis commented on #162
Hi,

I strongly believe that we need that ability as a first class feature. Here are two examples:
-I was looking for subjects that had both an MRI and a CT, approximately at the same time.
-Similarly, PET CT produces a PET volume and a CT volume. In the modality listing there is CTPT, but that is only populated with a single data set. On the other hand, the modality PET lists 253. I would expect

[2020-07-13 20:48] rkikinis commented on #162
Hi,
I realized that some background information about PET CT might be useful. For an overview see this page on wikipedia: https://en.wikipedia.org/wiki/PET-CT
The acquisition device is a CT scanner “grafted” to a PET scanner where the coordinate systems have been calibrated so that both volumes are in the same coordinate system. This type of imaging is deployed frequently in cancer imaging and oft

[2020-07-13 21:21] fedorov commented on #162
@rkikinis we do not use StudyDescription for summarizing the data, since it is an uncontrolled free text.

But if I select qin_headneck only, the summary correctly shows PET and CT distribution (you can mouse over the pie chart sectors to confirm):

![image](https://user-images.githubusercontent.com/313942/87354637-dd48f380-c52c-11ea-88bc-252dd841d59f.png)

If you go over all series in the list, y

[2020-07-13 21:57] G-White-ISB commented on #162
Sorry I had misread the initial comment. I don't think this has come up before as other filter attributes are exclusive. Besides Modality is there any other attribute where and AND join would be strongly desired? We will need to discuss further.

[2020-07-13 22:08] rkikinis commented on #162
That is not what users expect or want

Sent from my mobile phone.
This email is for non-work related messages

[2020-07-13 22:15] rkikinis commented on #162
Hi
Yes, let’s discuss. Pet Ct is a must unless there is another mechanism for achieving the same.
MR ct is another example
Best
Ron

Sent from my mobile phone.
This email is for non-work related messages

[2020-07-14 11:57] fedorov commented on #162
Let's discuss on Thursday.

Ron, I do not understand what "that" refers to in "That is not what users expect or want".

[2020-07-14 12:02] fedorov opened #163 "Styling of pie chart labels"
Is this the best we can do?

![image](https://user-images.githubusercontent.com/313942/87423180-e32fea80-c5a7-11ea-9fd0-7a0bc4bbb295.png)

[2020-07-14 12:09] pieper commented on #162
Here's another concrete example: for the neuronavigation research project I mentioned, the neurosurgeon requested a brain tumor case with a CT and MRI.  I believe such cases exist in either the TCGA or CPTAC GBM collections.

Beyond that she would have liked some other query terms that may not exist currently in any table, for example she wanted that the CT was acquired pre-craniotomy.   Probably

[2020-07-14 12:37] rkikinis commented on #162
That behavior….

—
Ron Kikinis
ron@kikinis.org
--------
This email is intended for non-work related messages

[2020-07-15 20:56] fedorov commented on #115
I think exactly because the problem is so complex, and we need to keep track of updates to various interconnected components, it is important to think about this.

Where can I learn about the deployment process and individual components involved? Is deployment automatic or there are manual steps? Are all components deployed at the same time by the same process or not?

I think that although the en

[2020-07-16 13:11] fedorov opened #164 ""Study list" should be disabled for OHIF Viewer"
There is a setting to do this easily, @pieper or @swederik can point to the setting in config, if you cannot find it.

![image](https://user-images.githubusercontent.com/313942/87675762-c92c0e80-c745-11ea-89d7-37eeec9da6c0.png)

[2020-07-16 16:56] fedorov opened #165 ""SOP Class UID" label should be replaced with "Object class""
UIDs are strings of dot and number characters, and SOPClassUID maps to a DICOM object class, which in turn has a human-readable name.

"SOP Class UID" label should be replaced with "Object class" in all occurrences.

![image](https://user-images.githubusercontent.com/313942/87699962-9db81c80-c763-11ea-9176-10ea9281e6db.png)

![image](https://user-images.githubusercontent.com/313942/87699986-a31567

[2020-07-16 16:59] fedorov opened #166 "Segmentation should appear before analysis results items"
![image](https://user-images.githubusercontent.com/313942/87700314-22a33600-c764-11ea-872d-b414c5b0e776.png)

[2020-07-16 17:04] fedorov opened #167 "Pagination controls move around"
Pagination controls have a strange behavior, where the buttons move around, and the number of items shown changes.

So if one keeps mouse pointer on Next without moving, after few clicks one would jump to the last page in the list.

This is a bug, right?

![2020-07-16_13-01-57](https://user-images.githubusercontent.com/313942/87700725-cc82c280-c764-11ea-97be-434f978392c5.gif)

[2020-07-16 17:10] fedorov commented on #71
In the current idc-testing, labels do not show up at all

![image](https://user-images.githubusercontent.com/313942/87701305-c4775280-c765-11ea-8caa-7fff3799a450.png)

[2020-07-16 17:12] fedorov commented on #163
Duplicate of #71

[2020-07-16 17:12] #163 closed

[2020-07-16 18:42] G-White-ISB commented on #167
If one is currently on a page in the 'middle' then there are buttons displayed to move page 1, page n-2, n-1, n, n, n+1, n+2, and page N. Where n is the current page, N is the last page. Now some of these buttons will not exist if one is at an edge page. If one is at page 1 there is no button to move to page -1. Also buttons with 2 digits are fatter than buttons with one digit.

[2020-07-16 18:44] G-White-ISB commented on #166
Fixed in current PR

[2020-07-16 18:44] G-White-ISB commented on #158
In Progress

[2020-07-16 22:27] G-White-ISB commented on #167
I'm guessing you wanted to hit 'next' multiple times and it kept moving! I can at least anchor next and previous so they are not moving

[2020-07-17 20:57] fedorov commented on #115
@wlongabaugh would it also be controversial to show the date and time when the current portal was deployed?

[2020-07-17 22:38] wlongabaugh commented on #115
Production deployments are very fixed. We typically only make changes to the production system when we do an official sprint release, so by practice a production release timestamp would capture all changes. However, sometimes a redeploy is needed to fix Google issues, so a changed stamp might not indicate a changed system. And if a backend component needs a hotfix (e.g. database), we don't necessa

[2020-07-17 22:40] wlongabaugh commented on #115
No, it is not controversial to do so... it does not capture all the moving parts that might change, but should be relatively straightforward.

[2020-07-20 14:32] fedorov opened #169 "IDC partners"
We currently have the same as ISB-CGC. I don't think it is correct, is it?

![image](https://user-images.githubusercontent.com/313942/87949659-50de8980-ca74-11ea-8d3e-a21665d2ab1f.png)

[2020-07-20 15:31] fedorov opened #170 "Unexpected scrolling on the right side of the app"
This looks like a bug:

![2020-07-20_11-29-47](https://user-images.githubusercontent.com/313942/87956000-796a8180-ca7c-11ea-96bb-6039b9d4137f.gif)

[2020-07-20 15:59] fedorov opened #171 "Disable annotation tools in OHIF deployment"
Since new content creation will not be supported in MVP (e.g., annotations), those should be disabled, and the consensus is it will be easiest to just comment those out, since looks like we will need (at least for some time before v2 is out) to fork out OHIF.

See more details in https://github.com/OHIF/Viewers/issues/1866.

[2020-07-20 16:34] fedorov commented on #59
@madelyngreyes can you clarify what the issue is and the status in current testing?

[2020-07-20 16:39] fedorov commented on #121
I think there is an existing issue with the three-state checkbox - I will look for it.

[2020-07-20 16:41] #122 closed

[2020-07-20 16:42] fedorov commented on #120
@bcli4d to redo the table with the conventions followed by @s-paquette

[2020-07-20 16:55] fedorov commented on #125
@wlongabaugh anything that selects "Related" that applies to TCGA only should auto-select TCGA.

@fedorov will need to make a new issue for the clinical data that lives in DICOM - for post-MVP

[2020-07-20 17:02] #166 closed

[2020-07-20 17:17] G-White-ISB commented on #170
I added a scrollbar for the RHS, but on review I realize you asked for one for the LHS. Still I actually think content scrolling is more of an issue on the RHS with the tables placed below the charts.

'I received feedback from Keyvan that it takes a lot of scrolling to navigate the left panel.

I then thought that maybe we could look into adding independent scrolling for the left panel so the rig

[2020-07-20 17:36] s-paquette commented on #165
@fedorov Go ahead and have a look at this one on dev; it's been implemented.

[2020-07-20 17:40] s-paquette commented on #115
@fedorov  This is now available on the dev site.

[2020-07-21 00:44] madelyngreyes commented on #59
I see a load time grey box appears that doesn't cover the entire screen while highlighting a Selected Studies option. This issue seems to be present in the test tier.

I think I could be referring to a different black screen while browsing than the one you originally mentioned. I have listed the steps to reproduce the issue below.
1. Select body part examined from the Search Results panel
2. Selec

[2020-07-21 02:17] fedorov commented on #170
Sorry for being unclear. My concern is that it is not clear why the height of he vertical scroll area on RHS was selected the way it was. The way it appears to me on idc-dev is that LHS has no scrolling at all, and the vertical size of the scrolling area on RHS is less than the height of the corresponding window area. Looks quite weird, if you ask me.

[2020-07-21 02:19] fedorov commented on #165
@s-paquette it is actually already appears as "Object class" in idc-testing. Thanks!

[2020-07-21 02:19] #165 closed

[2020-07-21 03:28] fedorov commented on #59
Indeed, it's a different issue. @G-White-ISB is this grey box expected behavior?

[2020-07-21 14:47] fedorov commented on #115
Much better, thank you!

Should we plan to have some tags assigned for the MVP and release notes, or that's too much work?

For the reference, release notes examples from other resources:
* PDC https://drive.google.com/file/d/1k_sPoPuhusZPRDJWkVecWEnyCqvQm8nA/view?ths=true
* GDC https://docs.gdc.cancer.gov/Data_Portal/Release_Notes/Data_Portal_Release_Notes/

[2020-07-21 16:57] fedorov opened #174 "Case counts for parent-level categories"
How difficult would it be to show category-level case counts, as shown in the image below?

Currently, counts are not shown until sections are expanded, which makes it difficult to understand what data is available.

![image](https://user-images.githubusercontent.com/313942/88083726-6aa1ce80-cb51-11ea-95bb-f04a0e8b08b1.png)

[2020-07-21 18:29] s-paquette commented on #115
We do release notes for CGC as well, but typically they're a delta from a prior version, which we don't have yet. I'm not sure it'll be useful to do tagging and release notes until we've actually released the MVP.

[2020-07-21 18:29] #115 closed

[2020-07-21 18:31] s-paquette commented on #157
I want to note that this isn't a bug, since that's just how zooming works.

Unfortunately, zooming is very hard to account for, because there's not (currently) a way to tell how zoomed in a browser is or isn't, so you can't adjust your CSS based on zoom level. You can only work with the listed available pixels, and if those are off due to zoom, that's not something you can adjust for.

[2020-07-22 21:28] fedorov opened #177 "OHIF viewer is broken in idc-dev"
Seems to be broken with any study I open, but here's the suffix for one of them:

`study/1.3.6.1.4.1.14519.5.2.1.7695.1700.118757564401397374205631727107`

![image](https://user-images.githubusercontent.com/313942/88230601-ae273600-cc40-11ea-9a5a-e5bbcb6a2f28.png)

[2020-07-22 21:34] fedorov commented on #177
On a related note, I think we should make it a rule that every time idc-dev is updated, we need to update OHIF Viewer to use the latest version. Can we agree on this? Otherwise we are not really testing what we should be testing!

[2020-07-22 22:19] wlongabaugh commented on #177
The errors shown there are 404s related to the viewer's failed attempts to get debug files from the server. I believe the true culprit is what appears to be a bug lurking in the Google Memcache for REDIS implementation that hit the proxy, which is a known issue from late last week: https://github.com/ImagingDataCommons/ThrottleProxy/issues/19#issue-658651884

[2020-07-22 22:23] wlongabaugh commented on #177
It is the next thing to fix for the proxy. One question is, what should the behavior of the viewer be if one slice out of hundreds fails to load? My preference would be to omit the slice and flag it somehow. It looks like it treats the whole load as broken.

[2020-07-22 22:29] wlongabaugh commented on #177
As for always doing a viewer import on dev deploys, I don't think that is the best strategy. Dev is way too fluid to use that approach. Things are being pushed all the time in dev, and introducing another source of change which we have no control over is just going to cause problems. I can agree that a deploy to test might warrant an integrated new viewer pull, but even then I only think that is w

[2020-07-23 20:44] fedorov commented on #177
Ok, so what is your proposal for testing within IDC portal new capabilities added by OHIF to meet the needs of IDC?

[2020-07-23 20:49] fedorov commented on #177
Adding @pieper - do you have any comments on the discussion above, Steve?

[2020-07-23 20:55] pieper commented on #177
Since the two parts are so loosely coupled maybe we should provide a way for users to configure the version of OHIF to be used from the web app.  Our default could be to use a specifically tagged version, but users could override.

We could even use hooks in github to automatically build and populate a new version for every git commit, with the head of the master branch one being made available as

[2020-07-23 21:12] fedorov commented on #177
Adding @swederik

[2020-07-24 01:11] wlongabaugh commented on #177
I am investigating with the team the option of selecting a version in the development tier.

[2020-07-24 13:30] fedorov commented on #115
Yes, I agree, this will be important for the MVP. Should we make a separate ticket for that?

[2020-07-26 00:08] wlongabaugh commented on #177
The connection reset error in the proxy (https://github.com/ImagingDataCommons/ThrottleProxy/issues/19) is now being handled (the original topic of this issue).

[2020-07-26 00:14] wlongabaugh commented on #177
The dev-viewer OHIF Viewer instance is pinned to a specified OHIF GitHub tag and will only updated when there is an official IDC-ready release. But there is now a parallel OHIF Viewer deployed that will be automatically updated nightly. We plan to provide a dev-only Web App dropdown to choose which one to use when launching a link, but until this is done, editing the address bar after the Viewer i

[2020-07-26 00:14] #177 closed

[2020-07-31 20:08] madelyngreyes opened #180 "Should the entries available count reset when a different collection is selected for studies/series panel"
For the Selected Studies and the Selected Series panels the selection of another collection doesn't reset the entries count for the two panels.

Steps to reproduce the issue
1. From the Search Scope panel select the option ISPY1
2. Then select the collection ISPY1 in the collections panel
3. Select an option in the Selected Studies panel
4. Select an option in the Selected Series panel
5. De-selec

[2020-07-31 22:10] G-White-ISB commented on #170
Fixed in new PR

[2020-07-31 22:11] G-White-ISB commented on #167
'Previous' and 'Left' Buttons anchored at left and right hand  sides of div in new PR

[2020-07-31 22:13] G-White-ISB commented on #158
The checkbox option to hide 0 counts is active. But if an attribute is checked it will still be displayed. Also this option does not affect display in the collections panel above. In current PR

[2020-08-03 15:49] wlongabaugh commented on #164
This button actually works now with the new config file...still drop it @fedorov ?

[2020-08-03 16:07] wlongabaugh commented on #174
Calcification is easy, Qualitatitive is harder.

[2020-08-03 16:12] fedorov commented on #171
@s-paquette and @wlongabaugh will want @pieper or someone else from the OHIF team to make the fork with the disabled annotations.

[2020-08-03 16:15] fedorov commented on #170
Fixed in the current idc-dev

[2020-08-03 16:15] #170 closed

[2020-08-03 16:17] fedorov commented on #169
Need to decide who will be listed as our partners, and then find icons for each.

[2020-08-03 16:19] fedorov commented on #167
Previous/Next buttons no longer move around

[2020-08-03 16:19] #167 closed

[2020-08-03 16:19] rkikinis commented on #169
#1: funded by IDC contract
#2: contributed to IDC

—
Ron Kikinis
ron@kikinis.org
--------
This email is intended for non-work related messages

[2020-08-03 16:20] fedorov commented on #164
@pieper can you provide the config setting to disable this? Or do you think we should keep it?

[2020-08-03 16:24] fedorov commented on #162
Modality is for MVP, beyond Modality - post-MVP

[2020-08-03 16:28] fedorov opened #182 "non-parameterized BQ query corresponding to the current cohort"
Follow up from #54

As discussed with @s-paquette, it should be quite easy to add a button to the portal that would allow user to get the non-parameterized BQ query corresponding to the current cohort. @s-paquette should this be in a separate issue, or keep the current one open?

[2020-08-03 16:31] fedorov commented on #159
Need to fix the widgets to remove editable range area, show numbers over the slider range endpoints.

[2020-08-03 16:36] fedorov commented on #157
@s-paquette will look further if there are any new approaches to detect zoom at the browser level

[2020-08-03 16:37] fedorov commented on #151
collapse button added, scroll added for the left panel

[2020-08-03 16:37] #151 closed

[2020-08-03 16:39] fedorov commented on #149
Currently, this points to ISB-CGC mailing list. Should replace with a pointer to IDC discourse, add instructions to the documentation about how to apply for the pilot credits

[2020-08-03 16:41] fedorov commented on #148
Agreed not to filter series within the study

[2020-08-03 16:57] fedorov commented on #59
@wlongabaugh says the gray area must cover everything

[2020-08-03 19:18] G-White-ISB commented on #59
Fixed in next PR

[2020-08-04 06:25] G-White-ISB commented on #145
Fixed in next my next commit

[2020-08-04 06:54] G-White-ISB commented on #148
Changed in my next code commit tomorrow or Wed

[2020-08-04 06:57] G-White-ISB commented on #121
three-state box added in next commit

[2020-08-04 07:01] G-White-ISB commented on #145
somehow this issue and #121 have ended up at the same place

[2020-08-04 16:02] #145 closed

[2020-08-04 18:42] fedorov opened #183 ""Clear filter" should reset range slides of the quantitative measures"
Right now, "Clear all" has no effect on the quantitative sliders:

![image](https://user-images.githubusercontent.com/313942/89331993-aadc7300-d660-11ea-8aca-6981a4634dca.png)
![image](https://user-images.githubusercontent.com/313942/89332010-b039bd80-d660-11ea-8b08-65de382e4f50.png)

[2020-08-04 19:09] fedorov opened #184 "Applying quantitative filters does not filter at the case level"
If I adjust any of the quantitative measurements filters, filtering results are returned at the series, not case level.

To reproduce, try to set anything, like Diameter to any constraints. Result is SR is the only modality available in the result:

![image](https://user-images.githubusercontent.com/313942/89334168-1b38c380-d664-11ea-9c39-43f2dfd6f157.png)

This cannot be correct, since every sing

[2020-08-05 20:56] G-White-ISB commented on #180
Should be fixed in next pull request

[2020-08-05 20:56] G-White-ISB commented on #183
fixed in current pull request

[2020-08-05 21:03] G-White-ISB opened #186 "Series and Study Tables need to account for 'unfetched data'"
The server limits all ajax calls from the browser for series and studies data to 1k record batches. In some cases this means that all matching records are not retrieved at once. In these cases reordering a table or jumping to a new page may require another ajax call to fetch more data. Currently this is not handled correctly. The request for a study or series is assumed to return all records at on

[2020-08-06 18:14] pieper commented on #164
When we are ready to fork ohif it will be easy to go through and disable this and the annotation tools as requested in #171.

I think yes, we should disable the study list because it doesn't sort as one would expect.  At some point we should be able to provide the selected cohort in a similar sort of list and bring up ohif on any of the studies in the cohort, right?  Makes the most sense for me if

[2020-08-07 20:08] fedorov opened #194 "Need to define format of the cohort manifest"
What will be the format of the manifest for the portal-defined cohorts?

We never discussed any tools that would facilitate fetching the cohort data to the VM, so I assume this, at least initially, will need to be done by the user, and so we will need to document the manifest format. We probably need to document what users should do next once they have the manifest - right?

[2020-08-07 20:12] fedorov opened #195 "Collections page should show only the included collections"
Currently, it includes a lot more than that.

https://idc-testing.appspot.com/collections/

It would also be good to make sure all URLs are styled such that it is clear they are click-able, and all URLs are hyperlinked (let me know if I should make a separate issue about this).

[2020-08-07 22:32] s-paquette commented on #195
This isn't really a bug; it's that BillC hasn't re-performed the ETL on the metadata table to include the analysis collections. Once he does I can pull it in and this will update.

[2020-08-10 14:04] fedorov opened #198 "It appears that Solr behind idc-testing has not been updated to use wave0 content"
See details of debugging in Slack here: https://nciimagingdat-m8a6349.slack.com/archives/G013MCULK5E/p1597067641061800

[2020-08-10 16:40] s-paquette commented on #198
Should be up to date now. @fedorov

[2020-08-10 22:30] pieper commented on #194
This is a very important topic.  NHLBI BDC is also going to be interested in this and it would be good to have a common standard.

My suggestion would be something very limited and focused for MVP, and then post-MVP start defining the process for drafting the specific use case and approaches we need to support.

[2020-08-11 14:27] fedorov commented on #194
Related user-facing discussion is here: https://discourse.canceridc.dev/t/cohort-manifest-content/37

Once MVP is released, we will also hopefully get feedback from the users about what they would want to see in the manifest.

[2020-08-11 14:31] #198 closed

[2020-08-11 19:58] s-paquette commented on #149
Do we have a link to those instructions somewhere? Or are we planning to add it somewhere?

[2020-08-12 16:58] fedorov commented on #149
You can add the support email: canceridc+support-email@discoursemail.com, this has been set up. I have not yet populated that documentation page mentioned.

[2020-08-13 13:13] fedorov commented on #171
Adding @JamesAPetts. Can ISB team please provide the details about how OHIF team should go about making these updates in the IDC OHIF deployment?

[2020-08-13 13:18] fedorov opened #199 "Need to disable measurements panel in OHIF"
Measurements panel does not apply to the data in IDC, we need to disable it to reduce confusion.

Features were added to do this from config, see https://github.com/OHIF/Viewers/issues/1864.

OHIF Team can take care of this, but needs instructions as to what is the process for updating OHIF IDC deployment.

cc @JamesAPetts

[2020-08-13 16:38] wlongabaugh commented on #171
I have now created a fork https://github.com/ImagingDataCommons/Viewers. @JamesAPetts can make a pull request on that repo to disable annotations and study lists.

[2020-08-13 16:44] pieper commented on #171
Sounds good to me.

@fedorov I'm thinking we should also point the idc-sandbox at this fork, do you agree?

[2020-08-13 17:01] madelyngreyes commented on #120
Looking on the dev tier for other reasons, I noticed this seems to be implemented for the most part in the Search Scope panel.

But, there is some text box cut-off in the top-left for the collection LIDC_IDRI at 100%+ zoom on a laptop using Google Chrome.
<img width="960" alt="text-box- cutoff for LIDC_IRDI descriptions in search scopr panel" src="https://user-images.githubusercontent.com/16824894

[2020-08-13 17:11] s-paquette commented on #120
Are you working with a zoom level? This is a tooltip library, so we can't really adjust where it opens, but more importantly, browser zoom information isn't available, so we can't adjust it anyways.

[2020-08-13 19:09] s-paquette commented on #120
...this goes for System Zoom as well; if the system is set to eg. 125%, we have no way to check that, nor can we really alter libraries to account for it.

[2020-08-13 19:21] madelyngreyes commented on #120
Test system zoom settings below.

<img width="573" alt="display resolution" src="https://user-images.githubusercontent.com/16824894/90177514-a870cc00-dd78-11ea-8b0e-2186b18fce17.png">

[2020-08-14 00:48] fedorov commented on #171
Yes, I agree.

[2020-08-14 08:44] JamesAPetts commented on #171
PR for #171 and #199 here: https://github.com/ImagingDataCommons/Viewers/pull/1.

[2020-08-14 08:44] JamesAPetts commented on #199
PR for #171 and #199 here: https://github.com/ImagingDataCommons/Viewers/pull/1

[2020-08-14 15:06] madelyngreyes commented on #71
For the Derived tab, under the Quantitative Analysis tab there is text cut-off for the pie chart/bar chart title.

<img width="647" alt="text cut off - quantitative analysis" src="https://user-images.githubusercontent.com/16824894/90263775-1e7b3e80-de1e-11ea-8575-b19ce51c9436.PNG">

[2020-08-14 16:30] madelyngreyes opened #200 "Age at diagnosis none selection from Search Results panel broken"
On the IDC dev tier if an end-user selected the Filter option None from the Search Results panel, the filter option is displayed as NaN-NaN within the Filter Definition panel.

Also, the Search result panel doesn't update to None only when the filter option None is selected. All possible filter options are still displayed.

<img width="684" alt="Age at diagnosis none filter option" src="https://us

[2020-08-14 18:13] madelyngreyes opened #201 "JS error returned on the data portal when certain filters are selected/de-selected"
Returned an Uncaught RangeError, Invalid String length in the dev console, while selecting and de-selecting filter options on the dev tier.

<img width="945" alt="invalid string length error found in dev tier also" src="https://user-images.githubusercontent.com/16824894/90279841-eed93000-de37-11ea-9ea2-c3d204df21c9.PNG">

George is aware of the issue and wrote, "The encountered an error message is

[2020-08-14 18:34] madelyngreyes commented on #201
Also, if you do a hard refresh of the IDC data portal while filter options are selected you return the error message, "Encountered an error when attempting to load the page - please contact the administrator."  some of the time. This bug also can only be encountered with extensive testing.

<img width="939" alt="encountered error while loading the page" src="https://user-images.githubusercontent.c

[2020-08-14 18:43] madelyngreyes opened #202 "Change study_id to series_id in the Selected Series panel in data portal"
Currently, the study Id is displayed in the Selected Series panel instead of the series Id.

<img width="647" alt="change study_id to series_id - dev tier" src="https://user-images.githubusercontent.com/16824894/90282347-2fd34380-de3c-11ea-842a-7eef2ccc2907.PNG">

[2020-08-14 18:46] madelyngreyes commented on #202
Andrey also mentioned, "It also does not make any sense that to view study one needs to click on the study UID, and to show series it is ok to click anywhere on the row."

To make it consistent we can set the Selected Series panel to require a click on the Series UID to open the OHIF viewer.

[2020-08-14 21:29] G-White-ISB commented on #202
We made the choice to reference each series by the study id plus series number. We used to show the series id and that was removed on request.

[2020-08-14 21:29] #202 closed

[2020-08-17 13:51] fedorov commented on #79
Issues here have either been fixed, or superseded by other open issues.

[2020-08-17 13:51] #79 closed

[2020-08-17 13:58] fedorov opened #203 "Study/series tables selection behavior should be consistent"
Follow up on https://github.com/ImagingDataCommons/IDC-WebApp/issues/79

There is currently an inconsistency in clicking behavior between study and series tables: in the study table, to open the study user needs to click on the study UID, while in the series table, it is ok to click anywhere on the row.  Is there a reason for this inconsistency?

[2020-08-17 14:05] fedorov opened #204 ""Clear all" does not reset any of the facet selection in dev"
Still see the below after even repeatedly clicking "Clear all"

![image](https://user-images.githubusercontent.com/313942/90404986-27b01980-e071-11ea-9da1-c51455a05f1c.png)

[2020-08-17 14:07] fedorov commented on #204
Correction: none of the facets selected appear to be affected by "Clear all" in idc-dev.

[2020-08-17 14:09] fedorov commented on #184
Confirming the issue is still present as of today in idc-dev.

[2020-08-17 14:13] fedorov commented on #183
"Clear all" resets the filter, but the slider range is set to the incorrect values.

![2020-08-17_10-12-12](https://user-images.githubusercontent.com/313942/90405768-3ba84b00-e072-11ea-9bfc-574d8120bb79.gif)

[2020-08-17 14:25] fedorov opened #205 "Occasional runtime error: "Invalid string length""
I hit the error below twice today during testing. Last time it happened was after clicking "Clear all".

![image](https://user-images.githubusercontent.com/313942/90406958-e0775800-e073-11ea-8927-35a120075d8d.png)

[2020-08-17 14:27] fedorov commented on #138
Confirmed this is fixed in dev.

[2020-08-17 14:27] #138 closed

[2020-08-17 14:28] #121 closed

[2020-08-17 14:30] fedorov commented on #120
@s-paquette can you confirm - can we have links in the tooltips? If not, can we think of an alternative way to allow users to link to the collections wiki pages?

[2020-08-17 14:30] fedorov commented on #59
This appears to be fixed.

[2020-08-17 14:30] #59 closed

[2020-08-17 16:12] fedorov opened #206 "Pagination problem"
Could be related to the selection of more than one study

![image](https://user-images.githubusercontent.com/313942/90418189-cc872280-e082-11ea-9766-a5ad80922645.png)

[2020-08-17 16:16] fedorov commented on #203
Discussed this issue and decided it would be more intuitive to load selection with a separate button instead of clicking on rows/UIDs.

[2020-08-17 16:22] fedorov opened #207 "Allow to load multiple selected series from the single study into OHIF"
Steve, I thought this is possible to select multiple series from a single study and load into OHIF, no?

[2020-08-17 16:22] fedorov commented on #207
Related earlier issue #48

[2020-08-17 16:31] fedorov opened #208 "Provide more space for the SeriesDescription column"
Currently all cols are spaced equal.

[2020-08-17 16:37] fedorov commented on #199
idc-dev needs to point to the fork above, @wlongabaugh is working on it this week.

[2020-08-17 16:41] fedorov opened #209 "Better flow for the descriptions in the collections table"
Reduce the height of the descriptions

[2020-08-17 16:46] s-paquette commented on #120
There are links in the tooltips, though they may be hard to see; I'll adjust the CSS.

[2020-08-17 16:46] fedorov commented on #183
Might be related to #204

[2020-08-17 16:50] fedorov commented on #164
@pieper can you disable it, now that we have the fork?

[2020-08-17 16:58] fedorov opened #210 "Improve styling of the collections tab"
Alignment of children under TCGA should be to the right of the parent, and the color for the font should be consistent for all items in the collections panel.

![image](https://user-images.githubusercontent.com/313942/90422778-5934df00-e089-11ea-9e47-f2c835e63518.png)

[2020-08-17 18:26] madelyngreyes commented on #159
Selection of the filter option, 80 to * for the option GLYCOLYSIS WITHIN FIRST QUARTER OF INTENSITY RANGE (GRAM) using the Search Results panel will display as 80-120. Also, the left Search Configuration panel is displayed as 0-300.

Steps to reproduce
1. Open the Derived tab in the search results panel
2. Open the show panel for the Quantitative Analysis
3. Select the 80 to * filter option for th

[2020-08-17 19:07] madelyngreyes commented on #159
Selection of numerical options in the left filter panel doesn't re-set after selection of the reset button.

Steps to reproduce
1. Open the filter option GLYCOLYSIS WITHIN FIRST QUARTER OF INTENSITY RANGE (GRAM)
2. The default values is 0-300
3. Change the filter option to reflect 71-196
4. Select the reset button
5. The numerical values displayed is still 71-196

<img width="960" alt="reset butto

[2020-08-17 19:56] fedorov commented on #169
Here's the link to the MGB logo: https://www.massgeneralbrigham.org/themes/custom/partners_mgb/logo.svg

@pieper @radicalrob @ahomeyer @DavidPotCanuck @pieper @dclunie can you please provide links to the logos of your organizations you would like to see featured on the IDC home page?

[2020-08-17 19:58] madelyngreyes commented on #158
It displays a blank filter when zero cases are present. Should it say there is no data available?

<img width="900" alt="blank filter when zero cases are available" src="https://user-images.githubusercontent.com/16824894/90438746-732eeb80-e0a2-11ea-9edd-e8615404b5fe.PNG">

[2020-08-17 20:27] fedorov commented on #159
Failure to reset sliders range has been reported in a separate issue here: https://github.com/ImagingDataCommons/IDC-WebApp/issues/183. I think this issue can be closed.

[2020-08-17 20:29] fedorov commented on #159
Correction - I see there may be multiple problems reported above ... I wonder if it's better to make a separate issue for each one to simplify tracking.

[2020-08-17 20:31] pieper commented on #169
Here's the Isomics logo:

https://www.dropbox.com/s/93p4va2nkjtmv43/isomics-logo-text-horizontal.png?dl=0

[2020-08-17 21:01] madelyngreyes commented on #200
The same can be seen when you go the Derived tab, Quantitative Analysis, then select a None filter option.

[2020-08-17 22:34] pieper commented on #207
You can change the layout and see multiple studies, or you can drag and drop series into viewports.

Did you mean you want to specify multiple series as url parameters?  That is not currently possible so far as I know.

![image](https://user-images.githubusercontent.com/126077/90450465-c8c1c300-e0b7-11ea-8c2d-01a58a9facb7.png)

[2020-08-18 13:55] DavidPotCanuck commented on #169
GDIT logo is correct

[2020-08-18 16:27] fedorov commented on #207
@pieper what is then the interpretation of this comment from @swederik in https://github.com/ImagingDataCommons/IDC-WebApp/issues/48#issuecomment-600055075:

[2020-08-18 16:30] madelyngreyes commented on #146
Working on a notebook that will check the counts found in the BigQuery tables for the Qualitative Analysis filter options with collection lidc_idri. @fedorov

[2020-08-18 16:56] pieper commented on #207
I take it to mean that the viewer can be configured in terms of how it interprets a series UID parameters.  Either it only shows those series or it shows them at the top of the series list above others in the study.

[2020-08-18 20:37] pieper commented on #164
It turns out this is already a configure option.  @G-White-ISB can you add the highlighted line below to the appconfig for IDC's OHIF deployment?

[code]

[2020-08-19 01:54] fedorov commented on #207
Steve, would it be difficult to set that filterQueryParam parameter and test it so we can confirm the actual behavior?

[2020-08-19 14:53] pieper commented on #207
Sure, the idc-sandbox is being deployed now with `filterQueryParam: false` (was true before).

I'm not sure of the format of the multiple seriesUIDs as URLParameters though.  Did you see it documented anywhere?

[2020-08-19 15:03] swederik commented on #207
I'm not 100% sure we every checked that this works. Let me check

[2020-08-19 15:08] swederik commented on #207
It doesn't work. There was an open PR which apparently was closed by our stupid stale bot: https://github.com/OHIF/Viewers/pull/1533/files

I've reopened it.

[2020-08-19 15:23] swederik commented on #207
The current PR uses commas to delimit different series. Is that okay? Or should we do it as multiple values separated by an ampersand (see the answer to this one: https://stackoverflow.com/questions/24059773/correct-way-to-pass-multiple-values-for-same-parameter-name-in-get-request)

[2020-08-19 15:25] pieper commented on #207
I think either commas or ampersand would work here, but whatever format seems like it would work best in general would be fine as far as I know.

[2020-08-19 15:40] fedorov opened #212 "Incorrect filtering results for qualitative analysis"
I was testing on dev, and if I select Anatomic region = Chest, I get all zeros for all of the qualitative analysis results. I know this is incorrect because the LIDC cases are included, and all of them have qualitative analysis results.

[2020-08-19 16:18] s-paquette commented on #212
This is happening for the same reason that selecting a derived attribute would zero out the original records--the segmentation records don't have qualitative values, hence the zeros.

It's sounding more and more like the index shouldn't be SOP instance record based. Is the intention that selecting a filter selects the study? The series? Because right now, it selects the instance level record.

[2020-08-19 17:40] georgezakinih opened #213 "Clicking on the 2D MPR freezes the viewer"
Hi,

Please see attached for the error
<img width="824" alt="Screen Shot 2020-08-19 at 8 46 19 AM" src="https://user-images.githubusercontent.com/15987938/90670637-7dc3bf00-e221-11ea-865e-5ef34257663a.png">

[2020-08-19 17:43] pieper commented on #213
Can you paste the contents of the developer contents when this happens, and also the URL in the viewer tab?

[2020-08-19 18:05] fedorov commented on #212
I always thought the facet selects a case, not study, series or instance.

[2020-08-19 18:14] s-paquette commented on #212
The BQ table being supplied to build the index is SOP Instance records, so that's what's selected. We would need to reconstruct the source data in order for cases to be 'selected' and then counted.

[2020-08-19 18:27] georgezakinih commented on #213
https://testing-viewer.canceridc.dev/viewer/1.3.6.1.4.1.14519.5.2.1.2744.7002.150059977302243314164020079415

[2020-08-19 18:35] pieper commented on #213
I believe it's the same as this issue: https://github.com/OHIF/Viewers/issues/1957

[2020-08-19 19:04] georgezakinih commented on #213
OK I just wanted to report it as I am no an expert in OHIF.

[2020-08-19 19:43] fedorov commented on #212
Ok, so apparently there was miscommunication, since from the start I thought we are counting cases, and I did not realize the culprit is on the BQ side.

I am guessing at this point it is not feasible to fix this for the MVP, so the least we can do is to document for the users the current behavior of the system without getting into the discussions about the internals. Could you do that? I am not s

[2020-08-19 19:46] fedorov commented on #213
@georgezakinih can you double-check the URL? There is only one CT in the study you referenced, and it does not appear to be the same as shown in your screenshot.

![image](https://user-images.githubusercontent.com/313942/90682543-1c0c5080-e233-11ea-8cdb-e47a419f49a2.png)

I was not able to reproduce the issue in your screenshot.

[2020-08-19 19:47] s-paquette commented on #212
Although we *are* counting cases,

[2020-08-19 19:53] pieper commented on #213
Just noting that I didn't get the same issue @georgezakinih reported, but I did get a 404 once out of a few tries to use the 2D MPR feature which is why I think it's related to https://github.com/OHIF/Viewers/issues/1957

[2020-08-19 20:13] fedorov commented on #212
Can you formulate the requirements of how the data should be structured?

[2020-08-19 22:22] madelyngreyes commented on #146
This notebook was created - https://colab.research.google.com/drive/1mwr8qHCftY_sPKNY3T3MiTjLR6Jtm7HP

All counts match except the None column due to anything without derivied data will not show up on the data portal.

[2020-08-20 00:35] s-paquette commented on #212
This will depend on how we expect the counting to function. In other words, what do we think users want to actually apply the filter *to*--cases? (Or series, or studies...) If it's cases, then the data needs to be arranged by case; in other words, a given case has only *one* row in the index, and then a long series of fields summarizing the various data in its available records. Eg. modality would

[2020-08-20 15:48] fedorov commented on #212
Ok, I need to think about this. I wish we had this discussion earlier than 1 month before the MVP release.

[2020-08-20 16:43] fedorov commented on #213
I am curious, since I don't think I had the error message as in that screenshot from @georgezakinih when I had 404. But maybe I just forgot. @pieper did you ever get that same error message - Error rendering ViewerMain?

[2020-08-20 16:53] fedorov commented on #212
@s-paquette I think we need to set the time to discuss this. I will follow up on Slack.

[2020-08-20 16:55] pieper commented on #213
@fedorov no, I don't recall ever seeing that error message.

[2020-08-20 23:08] G-White-ISB commented on #206
should be fixed in next pull

[2020-08-20 23:08] G-White-ISB commented on #205
should be fixed

[2020-08-20 23:08] G-White-ISB commented on #204
should be fixed in next PR

[2020-08-21 05:27] s-paquette commented on #212
I should be free to discuss it possible next week. Right now I'm focused on the homepage and cohort saving.

Regarding the questions:

- More than one table would still be combined into a single index, because joining across indicies is incredibly bad for performance.
- Cells *can* be multivalued but they can't be formal object types. So, lists, in the sense that there's a basic delimiter specifie

[2020-08-21 05:29] s-paquette commented on #212
@fedorov Although...to back up to the original comment, I don't see 'Chest' in Anatomic Region. Do you mean Body Part Examined?

[2020-08-23 18:39] #204 closed

[2020-08-23 18:40] #183 closed

[2020-08-23 18:46] fedorov opened #220 "Location of the UID in the table"
If we plan to keep UID in the table, it should be in the same column for the study and series levels. Issue reported by Ulli.

Also, can someone document the use case for UID in the table? I again forgot what it is.

[2020-08-23 18:47] fedorov opened #221 "Make facets lists sortable by either count or alphabetically"
Currently facets are sorted alphabetically only. Feature suggested by Ulli.

[2020-08-23 19:15] fedorov opened #222 "Improve support of "3rd party" analysis results"
1) it would be good to be able to include/exclude 3rd party items from the selection, similar to how this is done by TCIA, as suggested by Ulli.
2) it might be helpful to expose at some level the analysis results collections. Maybe in addition to Collections section we could have "Analysis results" collections. Toggling inclusion of a given analysis results collection would also toggle inclusion o

[2020-08-23 19:16] fedorov opened #223 ""Show more" should include how many more"
IDC:

![image](https://user-images.githubusercontent.com/313942/90986808-88e55a80-e553-11ea-95bb-307b7b97ce3f.png)

TCIA:

![image](https://user-images.githubusercontent.com/313942/90986815-900c6880-e553-11ea-9a3c-f9cf71aff193.png)

I think TCIA is more helpful.

As suggested by Ulli.

[2020-08-23 23:26] wlongabaugh opened #224 "Mouse overs on menu wrong/missing"
Mouse over "documentation", text is copy of Discourse MO. Mouseover cohorts, nothing shows.

[2020-08-23 23:28] wlongabaugh opened #225 "Drop the right pane of user overview."
Points people to apply for ISB-CGC cloud credits, which is not really something for IDC, and taking people to their Google console seems superfluous in IDC context.

[2020-08-24 08:34] ahomeyer commented on #169
Here are the Fraunhofer MEVIS logos:

* [fraunhofer_mevis_logo.pdf](https://github.com/ImagingDataCommons/IDC-WebApp/files/5116668/fraunhofer_mevis_logo.pdf)
* [fraunhofer_mevis_logo.png](https://user-images.githubusercontent.com/53333973/91022335-52f8b280-e5f5-11ea-8e1c-f3e71e433de4.png)

[2020-08-24 10:27] dclunie commented on #169
Hi Andrey

PixelMed logo attached in various different forms and rendered at various resolutions (with transparency).

David

On 8/17/20 3:57 PM, Andrey Fedorov wrote:

[2020-08-24 11:33] radicalrob commented on #169
Here is the Radical logo.

[2020-08-24 21:49] wlongabaugh commented on #203
We added a separate button _to each row_ to replace the different link in different columns in different tables, to make the action clear and unambiguous. Unfortunately, there was some difference in interpretation of the statement "...a separate button instead of clicking on rows/UIDs." Sorry. We can consider a single launch button post MVP, but that is more than just a UI rearrangement that maint

[2020-08-25 13:57] fedorov opened #227 "Use proper NCI IDC logo for the website"
the official logo is here: https://drive.google.com/drive/folders/1KnH0sfGX4odmHYKyG2uKCvYyrSfn3-K5?usp=sharing

[2020-08-25 13:57] fedorov opened #228 "Use accurate stats counts for the front page"
Current counts at the bottom of the website do not correspond to the actual data offering in the MVP

[2020-08-25 13:58] fedorov opened #229 "Add IDC funding acknowledgments at the bottom of the front page"

[2020-08-25 13:59] fedorov opened #230 "Improve style and attractiveness of the gallery box on the front page"
the grey box with the images looks quite ugly, and the resizing and
fitting of the image in that box often leaves a lot of gray space
around the image. What are the constraints on what you can and cannot
do on the front page? What toolkits or frameworks you are able to use,
so I can try to find a design/element that you can implement?

[2020-08-25 14:16] fedorov opened #231 "Mouse over sapiens items shows "0 files""
Mouse over a bar in the bar plot does not.

![image](https://user-images.githubusercontent.com/313942/91185597-075d0c00-e6bc-11ea-9ffe-509b7b3d07f0.png)

![image](https://user-images.githubusercontent.com/313942/91185625-13e16480-e6bc-11ea-90ef-53ee7f10a85c.png)

[2020-08-25 15:50] s-paquette commented on #230
Regarding the images--we can certainly change the color of the box housing the image. That's just what I was given to work with. There are several issues at play here:

1. Sapiens cannot be resized.
2. It's on the right.

This results in a very awkward problem which isn't related to any framework; it's that everything around sapiens has to move while it doesn't. However, I was also asked to keep i

[2020-08-25 18:39] fedorov commented on #230
FWIW, it is completely fine with me if sapiens is on the left.

[2020-08-25 19:30] #231 closed

[2020-08-26 01:33] fedorov commented on #230
@wlongabaugh do you have any reason to keep sapiens on the right? Shall we make Suzanne's life easier by moving it to the left?

[2020-08-26 01:47] fedorov opened #233 "Resolve duplicate names for Digital Mammo Class names"
Right now there are 2 duplicate entries under object class with the name "Digital Mammography X-Ray Image".

Most likely, this is because the names are incomplete - see http://dicom.nema.org/medical/dicom/current/output/chtml/part04/sect_B.5.html#sect_B.5.1.2, one should probably be " - for Processing", and the other " - for Presentation".

[2020-08-26 02:48] s-paquette commented on #230
A couple of floating image card type options I threw together between working on cohort code:

![option_1](https://user-images.githubusercontent.com/8442808/91249369-96dddb80-e70b-11ea-8fba-fe4bf63de0db.png)
![option_2](https://user-images.githubusercontent.com/8442808/91249371-980f0880-e70b-11ea-95c1-2130fa0dd69f.png)

This is just to give you an idea of ways it could look. I've set these up in t

[2020-08-26 03:35] pieper commented on #230
Wow, cool, yes, we need more of this 👍

[2020-08-26 13:47] fedorov commented on #230
Suzanne, I think those floating cards look better than what we had before. Thank you! I would let Alison look and comment on how to improve further.

[2020-08-26 13:57] fedorov commented on #227
I see in dev this has been fixed.

[2020-08-26 13:57] #227 closed

[2020-08-26 14:00] fedorov commented on #230
Suzanne, what is the icon set from where the Discourse and Documentation icons are coming from?

[2020-08-26 16:31] fedorov commented on #230
For the future - nice example of a tabbed floating card: https://datacommons.cancer.gov/ (just because I was looking at that page and noticed it).

[2020-08-26 20:56] s-paquette commented on #230
The good news is Bootstrap already supports this. So, here's what I'm handing off to Mi:

Option 1:
![image](https://user-images.githubusercontent.com/8442808/91355969-c6d8bd80-e7a3-11ea-8b8e-c5ed587b0b5e.png)

Option 2:
![image](https://user-images.githubusercontent.com/8442808/91355957-c3453680-e7a3-11ea-99fe-b0f99d704ef2.png)

The primary difference here is Option 1 makes use of a box drop shad

[2020-08-26 21:51] s-paquette commented on #233
It looks like this happened to a LOT of them, actually. I think that's because the original table I was pointed at didn't break them out like this. Do we have a table that does? This page has them broken up, unfortunately.

[2020-08-26 21:56] s-paquette commented on #233
Note, this table also has VERY different, and much *longer* text values than the first one I was pointed to. Do we want to go with these? They're going to look awkward on the UI.

[2020-08-26 22:16] s-paquette commented on #212
@fedorov Okay to close this one for now? We can open a new ticket for re-organization of faceted data.

[2020-08-26 22:24] s-paquette commented on #212
For reference:

A shim was placed to relate the Original attribute records *back* to the Derived attribute records, the same way derived records relate to Original records. (I.e. the subquery was only happening when Derived facets are selected; now it will happen for both).

Going forward we'll want to reformat the data we count to be central to the *kind* of counting we're doing, i.e., if we're c

[2020-08-26 22:45] s-paquette commented on #229
@fedorov Where can I get copy for this?

[2020-08-26 22:47] s-paquette commented on #230
@fedorov Missed this question earlier:

Font-Awesome, Free version (we use this throughout the site). There are also glyphs available with Bootstrap itself:

https://getbootstrap.com/docs/3.3/components/#glyphicons

[2020-08-27 00:09] fedorov commented on #229
At the bottom of https://imagingdatacommons.github.io/

[2020-08-27 14:00] fedorov commented on #213
It looks like this is the same issue as reported here: https://github.com/OHIF/Viewers/issues/2005

We tested, and on Safari trying to do MPR resulted in the same error as reported by @georgezakinih in the screenshot at the top of this issue.

fyi @JamesAPetts

[2020-08-27 14:04] fedorov commented on #213
@madelyngreyes are you testing on different platforms? It would be good to test on Safari and Firefox in addition to Chrome.

[2020-08-27 16:32] fedorov commented on #233
Indeed, the tables I earlier suggested in https://github.com/ImagingDataCommons/IDC-WebApp/issues/131#issuecomment-647865078 to use for this purpose do not have this distinction. We do not have an alternative table that has this distinction.

[2020-08-27 16:37] fedorov commented on #230
Thanks!

How about we use one of those for collections:
![image](https://user-images.githubusercontent.com/313942/91469607-99524980-e861-11ea-9cfd-1945a0d20e51.png)
![image](https://user-images.githubusercontent.com/313942/91469761-d1598c80-e861-11ea-8a26-5a91b098cc1b.png)

this for exploration:

![image](https://user-images.githubusercontent.com/313942/91469722-c1da4380-e861-11ea-9113-bb6a5d75fe5

[2020-08-27 16:38] fedorov commented on #230
I just think it will look cleaner if we use a consistent set of icons throughout the site

[2020-08-27 16:41] fedorov opened #236 "Define organization of the revised Solr table"
This is a follow up on https://github.com/ImagingDataCommons/IDC-WebApp/issues/212

@s-paquette:

The question is how to structure this table considering that for a given case we can have multiple kinds of measurements, and for individual measurement we can have multiple instances of measurement, and within a given case we can have multiple structures that have multiple instances of those measurem

[2020-08-27 16:41] #212 closed

[2020-08-27 17:05] s-paquette commented on #230
Font Awesome is here:

https://fontawesome.com/icons?d=gallery&m=free

We can definitely switch to those; they were used because that's what's on the other two sites.

[2020-08-27 17:28] fedorov commented on #230
Sorry, I mis-read the previous comment. I am fine with any collection of icons, I am just suggesting all of the icons in the header come from the same collection. I will make another issue, since we diverged from the topic of this one.

[2020-08-27 17:29] #230 closed

[2020-08-27 17:29] fedorov opened #237 "Harmonize icons used in the header of the website"
This is follow up on https://github.com/ImagingDataCommons/IDC-WebApp/issues/230#issuecomment-682060625.

Suggestion is to pick all icons that show up on the top of the front page from the same icon set.

[2020-08-27 17:32] fedorov commented on #237
@s-paquette let me know if you would like me to suggest specific ones from https://fontawesome.com/icons?d=gallery&m=free.

Potentially:
* exploration: https://fontawesome.com/icons/eye?style=regular
* collections: https://fontawesome.com/icons/copy?style=solid or https://fontawesome.com/icons/stream?style=solid

[2020-08-27 17:38] s-paquette commented on #237
So I managed to find the GDC icon set. We could in fact just use those. The GDC Portal is using them at the moment, if you want to have a look:

https://portal.gdc.cancer.gov/

[2020-08-27 19:14] madelyngreyes commented on #125
If you first filter option TCGA, then go to the Collections panel. Then if you select the collection e.g., tcga_brca the Filter Definition panel will still display all collection options. Is this expected behavior?

[2020-08-27 19:17] #146 closed

[2020-08-27 19:26] #148 closed

[2020-08-27 19:28] #158 closed

[2020-08-27 19:37] madelyngreyes opened #238 "Selection of the series will return the error message, "ViewerMain: Cannot read property 'SeriesInstanceUID' of undefined""
On the dev tier the selection of the series description, VOI PE Segmentation thresh=70 will return a,  "ViewerMain: Cannot read property 'SeriesInstanceUID' of undefined." ISPY1 is the related collection.

<img width="960" alt="2020-08-27 (2)" src="https://user-images.githubusercontent.com/16824894/91486835-d2e37e80-e87a-11ea-9033-960c1d13486f.png">

<img width="960" alt="2020-08-27 (3)" src="http

[2020-08-27 19:42] s-paquette commented on #236
So, before we even do this, we need to define what we want our facets to result in. (This is what Justin and Ulrika were getting at on the call with them the other day.)

- If I select an Original facet like modality, does it:
 - Select all cases which have instances with that modality, and then do faceted counts for *all* instances in those cases?
 - Select all cases which have instances with tha

[2020-08-27 20:11] madelyngreyes commented on #238
Also, the collection qin_headneck seems return an error "ViewerMain: Referenced series for SEG dataset not present."

<img width="960" alt="2020-08-27 (6)" src="https://user-images.githubusercontent.com/16824894/91490054-d6c5cf80-e87f-11ea-96d4-1a7593c1c2f6.png">

<img width="960" alt="2020-08-27 (5)" src="https://user-images.githubusercontent.com/16824894/91490042-d3cadf00-e87f-11ea-9e67-da47ec24

[2020-08-27 20:11] #205 closed

[2020-08-27 20:15] madelyngreyes commented on #224
There is slight cut off of the border of the mouse over box.

<img width="960" alt="2020-08-27 (7)" src="https://user-images.githubusercontent.com/16824894/91490405-67041480-e880-11ea-83a6-fdf4d6bde536.png">

[2020-08-27 20:21] madelyngreyes opened #239 "text cut-off from the selected studies panel when working with the collection qin_headneck"
When working with the collection qin_headneck, there is text cut-off in the Selected Studies panel.

<img width="960" alt="2020-08-27 (8)" src="https://user-images.githubusercontent.com/16824894/91490979-51431f00-e881-11ea-925a-ae794d2e3bf7.png">

[2020-08-27 20:41] fedorov commented on #237
With all my admiration of many features of GDC, I have to admit that in this case the icons we have in FontAwesome look much better to me than below - they seem too tiny and pale. But I can live with those too. Your call.

![image](https://user-images.githubusercontent.com/313942/91492702-15f61f80-e884-11ea-8fde-c41da5639404.png)

[2020-08-27 21:10] s-paquette commented on #224
Unrelated issue--would like to request a new ticket.

[2020-08-27 21:11] s-paquette commented on #224
...note, this isn't happening to me. I suspect this is related to your monitor's zoom level. That's not really something we can develop to.

[2020-08-27 21:28] s-paquette commented on #237
The size we can definitely adjust. For some weird reason GDC is using microscopic sizing. It's more than a little baffling.

Here's what it looks like using their icons at a more reasonable size:

![image](https://user-images.githubusercontent.com/8442808/91496772-95c6be80-e871-11ea-8c0b-86d967e291f2.png)

[2020-08-27 22:13] s-paquette commented on #236
Note, this is the flip side of wanting to select, eg., BodyPartExamined=Chest but still see the Modality=SR records. We only get those because we 'subquery' the Study.

That's a way to handle it, maybe; we make the data *study* centric, and count cases. This might get you what you're after.

[2020-08-28 00:33] pieper commented on #238
@s-paquette let us know if you think this is an OHIF issue.

[2020-08-28 00:46] s-paquette commented on #238
...certainly sounds like it. All we do is send along a UID, we don't really DO anything else. @wlongabaugh This isn't possibly proxy-related, is it?

[2020-08-28 01:54] fedorov commented on #238
@madelyngreyes in both cases you seem to be trying to open a SEG series, not study, which is not expected to work, and that is the ultimate source of the error. So the real bug is that IDC allows this to happen, not that it happens per se.

This is because you are trying to open a SEG series, and so OHIF does not have the reference since the URL ends with something like `1.3.6.1.4.1.14519.5.2.1.62

[2020-08-28 02:03] fedorov opened #240 "Incorrect cohort summary plots"
See issue described in https://discourse.canceridc.dev/t/understanding-idc-portal-cohort-plots/81.

[2020-08-28 02:09] s-paquette commented on #240
I want to note that this isn't really a bug--this is case centric counting. So if we want the counts to function in some other manner--Study centric, for example--then we need to do things differently.

[2020-08-28 02:16] s-paquette commented on #240
I think I wound up mentioning all of this in a different ticket, but here are the things we need to answer before we can change this:

- What are the numbers we want counted--cases, or studies?
- What are we aggregating those numbers based on--*studies* filtered using the filters, or *cases*?
  - If we count by case, then selecting eg. a modality indicates you want the case counts for all *cases*

[2020-08-28 02:22] fedorov commented on #240
Ok, I thought that through the discussion on the forum you confirmed that this is a bug:

If this is not a bug, can you please explain how the current interface counts cases?

The issue is what I described in the forum, I did not see an explanation of how this could be a correct behavior.

[2020-08-28 05:50] G-White-ISB commented on #125
Hi Madelyn,

I'm not following. Maybe a screen shot would help. The filter definition
should match the checked attributes/collections exactly.
George

On Thu, Aug 27, 2020 at 12:14 PM Madelyn <notifications@github.com> wrote:

[2020-08-28 05:53] G-White-ISB commented on #239
I have also observed the Study table being cut off or shorter than needed
to display all the expected rows. However I have not tracked down
conditions to reproduce and it seems random right now. It seems to fix
itself by selecting a new page or reordering the Study records.
George

On Thu, Aug 27, 2020 at 1:21 PM Madelyn <notifications@github.com> wrote:

[2020-08-28 06:31] G-White-ISB commented on #240
Yeah I haven't followed the discussion well enough. Let me try an example. If we have 3 cases with CT modality only, 4 cases with PT only, and 2 cases with CT and PT modalities then filtering with 'MODALITY=CT' will produce a chart showing only CT=5 and no other modalities. Andrey you would expect the pie chart to show 5 cases with CT modality and 2 with PT modality? I guess a pie chart is confusi

[2020-08-28 13:17] fedorov commented on #240
@G-White-ISB thanks for the response! I was struggling with this this morning ...

Right, that's probably the key, since for our data attributes are most definitely NOT exclusive, and I perhaps you nailed the source of the troubles we've been having.

Yes, I think that would be the logical behavior which I would be able to explain. We define a cohort based on the presence of CT modality for a give

[2020-08-28 15:08] madelyngreyes commented on #125
Apologies for the confusion, should a selection from the Collections panel reset the filter options in the Filter Definition panel is my question.

Currently, if I select an option from the collections panel the filter definition panel doesn't seem to update.  If this is expected functionality that works for me.
![collection panel selection doesnt reflect in the filter definition panel](https://us

[2020-08-28 15:08] s-paquette commented on #240
After digging around a bit, I discovered the piechart situation. It's that due to the change to make 'child records' (i.e. derived data records without original data column values) was causing a sort of 're-inclusion' of the original records. I have a fix for that, so that the records are only subqueried if they have no modality (lack of modality was optional, hence the re-inclusion). So, let me g

[2020-08-28 15:26] madelyngreyes opened #242 "On the homepage the collaborators link points to the privacy policy"
At the bottom of the page the Collaborators link points to the privacy policy

![collaborators link broken](https://user-images.githubusercontent.com/16824894/91584830-37591900-e921-11ea-8b63-d0147b8ede0d.PNG)

[2020-08-28 16:33] G-White-ISB commented on #125
You have a collection selected with the checkbox and it doesn't show in the
filter definition? I have not seen that. Highlighting a collection in the
collections table does not filter the collection but adds its studies to
the studies table.
George

On Fri, Aug 28, 2020 at 8:08 AM Madelyn <notifications@github.com> wrote:

[2020-08-28 16:40] madelyngreyes commented on #125
No, I don't see that either. If highlighting a collection doesn't affect the Filter Definition panel then it's working as expected. Will close the ticket.

[2020-08-28 16:40] #125 closed

[2020-08-28 16:48] G-White-ISB commented on #125
Well it's worth taking note as a possible source of confusion for the user.
George

On Fri, Aug 28, 2020 at 9:40 AM Madelyn <notifications@github.com> wrote:

[2020-08-31 15:54] madelyngreyes commented on #224
Will make a note in the existing zoom ticket and close this issue.

[2020-08-31 15:54] #224 closed

[2020-08-31 15:55] madelyngreyes commented on #157
Mouse over feature will display border box cut off for certain users related to comment, https://github.com/ImagingDataCommons/IDC-WebApp/issues/224#issuecomment-682168215

[2020-08-31 16:04] fedorov commented on #238
For the MVP, we should turn off the button that corresponds to the series of types SEG or RTSTRUCT.

[2020-08-31 16:07] fedorov commented on #238
My preference is grayed out button with tooltip "Please open at the study level to see this series"

[2020-08-31 16:09] fedorov opened #243 "Add information to the table to the referenced image series"
Follow up with the resolution on #238

[2020-08-31 16:12] wlongabaugh commented on #242
Placeholder till we get collaborators list up.

[2020-08-31 16:12] fedorov commented on #240
Please comment in https://discourse.canceridc.dev/t/understanding-idc-portal-cohort-plots/81/7?u=fedorov on the accuracy of the definition as I understand it.

[2020-08-31 16:26] wlongabaugh commented on #228
Need to scan buckets for number.

[2020-08-31 16:28] #225 closed

[2020-08-31 16:29] wlongabaugh commented on #199
Will point to latest OHIF version this week.

[2020-08-31 16:30] wlongabaugh commented on #195
Andrey says it is fixed.

[2020-08-31 16:30] #195 closed

[2020-08-31 16:32] wlongabaugh commented on #186
Referenced in a ZenHub ticket

[2020-08-31 16:35] wlongabaugh commented on #184
Question is what do we want the filter to mean? Need to explain to user what filter means?

[2020-08-31 16:36] wlongabaugh commented on #184
This is what caused pie charts to behave differently.

[2020-08-31 16:37] wlongabaugh commented on #184
Add documentation to describe this.

[2020-08-31 16:41] wlongabaugh commented on #130
Needs to be cleaned up.

[2020-08-31 16:43] fedorov commented on #225
duplicate of #149

[2020-08-31 16:57] #203 closed

[2020-08-31 17:01] wlongabaugh commented on #144
What level does the filter apply to?

[2020-08-31 17:02] fedorov commented on #236
Related to #144

[2020-08-31 17:02] #144 closed

[2020-09-01 02:34] fedorov commented on #184
Ok, I don't know if it works or not - all I know I cannot make sense of it. So I guess I am not the right person to tell if it works or not, because I just have no clue about what to expect. Sorry.

Here's the configuration:

![image](https://user-images.githubusercontent.com/313942/91788326-eb84c900-ebd9-11ea-8fae-864e66ef8d74.png)

So I selected "None", and "None" has 2 cases. Then why do I have

[2020-09-01 18:58] G-White-ISB commented on #206
testing needed. Build: dev.010920201029.e06ce4

[2020-09-01 18:58] G-White-ISB commented on #201
testing needed. Build: dev.010920201029.e06ce4

[2020-09-01 18:59] G-White-ISB commented on #71
testing needed. Build: dev.010920201029.e06ce4

[2020-09-01 19:22] #120 closed

[2020-09-01 21:26] madelyngreyes commented on #71
Looks so much better!

But, unfortunately I seem to be running into a zoom setting issue again. For the browsers Google Chrome and Firefox at 80-100% zoom there is some text overlap for the filter options, Standardized Added Metabolic Activity (Gram) and Standardized Added Metabolic Activity Background (Standardized Uptake Value body weight).

<img width="960" alt="2020-09-01 (3)" src="https://use

[2020-09-01 22:59] madelyngreyes opened #246 "IDC local login reset password functionality improvements"
When an end user uses the local login to reset the password a ">" appears on the reset confirmation page.

<img width="960" alt="2020-09-01 (5)" src="https://user-images.githubusercontent.com/16824894/91914040-327bc880-ec85-11ea-9272-add90c6b1997.png">

[2020-09-01 23:06] madelyngreyes opened #247 "Sign-in link from Change Password confirmation page unresponsive"
After an end-user finalizes the password has been changed, they are sent to a Change Password confirmation page. If an end-user selects the Sign In link in the top right, nothing happens. Unfortunately, no errors in the DEV console appeared during this test run.

<img width="960" alt="2020-09-01 (8)" src="https://user-images.githubusercontent.com/16824894/91914405-f7c66000-ec85-11ea-9d71-891463957

[2020-09-01 23:26] madelyngreyes opened #248 "Email verification page slight text modification for local login functionality"
On the email verification page, currently the first sentence uses email with a hyphen e.g., e-mail. Current text example below,

"We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.
If you do not receive the email within a few minutes, check your spam folder. Registration confirmation emails are often flagged as potential spam.
If the email hasn

[2020-09-02 00:27] G-White-ISB commented on #184
No this is a bug. The 'None' filter is not working for derived tab attributes.

[2020-09-02 00:51] s-paquette commented on #184
So, once again, it's a question of what selecting an attribute should mean. Like related, are Derived attribute filters ONLY ever applied to records with derived data? Are they only applied to records with that specific category of derived data?

[2020-09-02 06:44] mitianisb commented on #237
I found the discourse (fa-comments) and documentation (fa-book) icons are from FontAwesome 4.0.3 we are using. The collections and exploration icons are from gdc-icons. I found two in FontAwesome to replace them (fa-th-list and fa-eye), so they will all be from the same icon set. It look like this:
![image](https://user-images.githubusercontent.com/58752821/91940616-982f7b00-ecac-11ea-84a7-fa97d2c

[2020-09-02 15:05] fedorov commented on #237
FWIW I like the new set of icons better. Thanks for putting together this experiment!

[2020-09-02 15:13] fedorov commented on #184
@s-paquette is it still about what they **should** mean, or about what they **do** mean right now?

I mean, they should mean something right now - do we have an explanation for the currently observed behavior? Is this a bug or not?

I have to say it is concerning that even among developers there does not seem to be an agreement whether what we have right now in the interface is correct or not corr

[2020-09-02 15:19] s-paquette commented on #184
What's happening right now is any record with a null in one of the derived fields is returned, but that effectively means all of them since most cases have records with null values for derived data. As with related, we can change the filtering to mean 'has derived data but doesn't have this field filled out', if that makes more sense.

[2020-09-02 16:00] fedorov commented on #184
In this case, why is the left side showing 2 as the number of cases that have "None"? Or the meaning of "None" is different between counting cases on the left and selecting cases on the right?

[2020-09-02 16:13] s-paquette commented on #184
The counts show a number because we're counting derived only AS derived; which is to say, derived filters only apply to derived records for purposes of counts. We can also filter that way, as we do now for related data, if we want.

[2020-09-02 16:32] wlongabaugh commented on #130
Current quota page. On the actual page, the formatting is messed up, the message reads "MB" but should read GB, and there are odd "jkl jkl" strings on the far right.

I understand that the warning message is not going away, though if the user has been recently in the main site and accepted, it might not show up again. It is possible that if I have a static page with the same CSS and styling (not f

[2020-09-02 16:32] wlongabaugh commented on #130
Page URL: https://idc-dev.appspot.com/quota/index.html

[2020-09-02 16:40] G-White-ISB commented on #130
Yes, will do.
George

On Wed, Sep 2, 2020 at 9:32 AM wlongabaugh <notifications@github.com> wrote:

[2020-09-02 16:43] fedorov commented on #184
Suzanne, I am sorry, I think I am lost.

If you believe the current behavior is as expected, can you please summarize it in a form of end-user documentation that would explain the current behavior?

[2020-09-02 17:06] s-paquette commented on #184
I'll be honest, I don't know the data itself nearly well enough to write end-user documentation. I can take a stab at it, but the text is likely to be off. Effectively:

Facets are counted by case, with filters on attributes from related data sets only applying to cases which have those data. For counting purposes, all instance records from a study which contains *at least one instance record* tha

[2020-09-02 17:22] G-White-ISB commented on #184
Well what about a technical explanation for one example? Is it still possible to explain this with Big Query or would one need to understand SOLR? If the only filter is ANATOMIC REGION IN NONE, then what are the queries to 1) count attributes in Modality? and 2) count attributes in Anatomic Region?

Could we drop the None category in the UI for now?

[2020-09-02 17:30] s-paquette commented on #184
It's less about Big Query vs. Solr, because you would have this problem in BigQuery as well. Derived data are in their own views--so, are those views joined in using INNER JOIN, or LEFT JOIN? And as the pair of queries discussed on discourse show, there's a distinct difference between using the filter to pull records from a study, and using it to pull just instance records. That will be an issue r

[2020-09-02 18:08] G-White-ISB commented on #184
I understand there are ambiguities and design issues in faceted counting. I am not trying to debate those right now. I just want to follow what is CURRENTLY implemented ... what is your recipe right now?

I only brought up Biq Query because Andrey and I understand it better than SOLR. Could you write a couple of queries that yield the same numbers for a couple attributes that we see in the web app

[2020-09-02 18:15] G-White-ISB commented on #130
Do you still want the header part (NCI logo, link to Collections,
Exploration etc.)?  I see the footer is in the wrong place. Do we want the
footer at all?

George

On Wed, Sep 2, 2020 at 9:40 AM George White <george.white@isbscience.org>
wrote:

[2020-09-02 19:02] wlongabaugh commented on #130
Actually, @mitianisb is assigned now. Something to help get up to speed.

[2020-09-02 19:04] s-paquette commented on #184
Can we move this discussion to Discourse, where we have a similar thread?

[2020-09-02 19:06] G-White-ISB commented on #184
sure

[2020-09-02 19:09] wlongabaugh commented on #130
Maybe just a page with the NIH IDC logo in the upper left, with the message centered on the screen. Having looked at it, I'm not sure it is best to have it fully integrated with the site? They should already have the portal up in another tab. I think this page replaces the OHIF viewer, and so something that has a visual feel matching the site might work best.

[2020-09-02 19:10] #206 closed

[2020-09-02 19:11] #201 closed

[2020-09-02 19:13] madelyngreyes commented on #71
Also, now when no data is available the pie charts appear as blank.

<img width="960" alt="2020-09-02 (6)" src="https://user-images.githubusercontent.com/16824894/92026340-de2d2300-ed2e-11ea-9795-bf7292189cd7.png">

[2020-09-02 19:57] mitianisb commented on #130
Thanks for the info! I can mock up something later today and get your feedback. I am not familiar with OHIF viewer, can you share a link or screenshot please?

It feels to me that if this page is opened in a new tab then maybe no need to keep the navigation header anymore.

[2020-09-02 20:15] G-White-ISB commented on #130
Hi Mi,

You don't need the OHIF viewer. You are fixing this page:
https://idc-dev.appspot.com/quota/ .

George

On Wed, Sep 2, 2020 at 12:57 PM mitianisb <notifications@github.com> wrote:

[2020-09-02 20:18] fedorov opened #250 "Simplify login workflow"
Not clear why we need separate sub-menu under "Sign in" for google vs IDC, since if you click "via IDC" you are anyway prompted with the option to log in with Google. I think instead it would be nice to have "Sign in" bring user to the page which is currently accessed via "via IDC". One click less is always good, I think.

![image](https://user-images.githubusercontent.com/313942/92032221-d2922a00

[2020-09-02 20:51] wlongabaugh commented on #130
Yeah, and in fact it will be pretty hard to trigger the quota page from the viewer at the moment...the quotas are pretty high. OHIF stands for Open Health Imaging Foundation. Go into the dev webapp, click on filters and collections to get to a study row, and click the icon on the far right.

[2020-09-03 00:13] mitianisb commented on #229
I added acknowledgements at the front page. Please let me know if you have any feedback. Thanks!
![Screen Shot 2020-09-02 at 5 08 08 PM](https://user-images.githubusercontent.com/58752821/92049437-513e9580-ed3f-11ea-96f4-0b3134d9885d.png)

[2020-09-03 07:27] mitianisb commented on #130
I made some changes to the quota.html to make this mock-up. One has background and one without. Please let me know of your feedback, happy to make more changes!
![image](https://user-images.githubusercontent.com/58752821/92084270-01ca8a80-ed7c-11ea-8cd7-23d86395e8ba.png)
![image](https://user-images.githubusercontent.com/58752821/92084320-1149d380-ed7c-11ea-96fa-329044a7cc26.png)

[2020-09-03 16:28] wlongabaugh commented on #130
I like the background. Looks great.

[2020-09-03 18:00] G-White-ISB opened #251 "TCGA filters not applied to Studies Table"
As an example the filter

COLLECTION IN (tcga_brca) AND MODALITY IN (Mammography)

shows 5 cases. The filter

COLLECTION IN (tcga_brca) AND MODALITY IN (Mammography) ANDTCGA.HISTOLOGICAL TYPE IN (Infiltrating Lobular Carcinoma)
shows 2 cases. However opening the studies for these cases yields 5 cases. The URL called to fetch the studies is below. It seems to be correct:

 http://localhost:8085/exp

[2020-09-03 18:36] s-paquette commented on #251
...maybe I'm confused but I thought filters weren't being applied to study and series tables?

[2020-09-03 18:59] s-paquette commented on #251
Found the issue, though, if we DO want to filter those. You're passing in `with_clinical=False` which implicitly indicates you don't want to use those filters.

[2020-09-03 19:04] G-White-ISB commented on #251
I thought with_clinical=False means we don't return clinical data in the
records, not that we disable clinical filters.
George

On Thu, Sep 3, 2020 at 11:59 AM S. Paquette <notifications@github.com>
wrote:

[2020-09-03 19:11] s-paquette commented on #251
We never return clinical records, not being a clinical data node. ONLY Original set data is ever returned as records; `with_clinical` and `with_derived` provide toggles for leaving those data types (and any sources related to them) out of all filters and counting.

[2020-09-03 19:12] s-paquette commented on #251
Sorry, wrong button!

[2020-09-03 19:13] s-paquette commented on #251
(I can, if you want, adjust them to leave the data types out of counting but not filters, though a) I'm not sure of a case where you'd want that and b) it would have to be post MVP.)

[2020-09-03 20:20] G-White-ISB commented on #251
I would not worry about it. I'll adjust the front end call.
George

On Thu, Sep 3, 2020 at 12:13 PM S. Paquette <notifications@github.com>
wrote:

[2020-09-04 00:12] s-paquette opened #253 "Edit sapien raw svg to exclude extra body parts"
Location: https://github.com/ImagingDataCommons/IDC-WebApp/tree/master/static/js/sapien

Can comment out the unneeded sections, or delete? (Various options go here.)

[2020-09-04 00:13] s-paquette opened #254 "Add 'chest' SVG entry to sapien raw svg"
Might be able to draw with Adobe Illustrator?

[2020-09-04 00:17] s-paquette commented on #248
Templates location: https://github.com/ImagingDataCommons/IDC-WebApp/tree/master/templates/accounts

[2020-09-04 19:16] wlongabaugh commented on #240
If a pie chart was to show 5 and 2, then we are showing studies, since pie charts are by definition showing features that partition a set (i.e. are mutually exclusive and cover the set). If we are graphically showing non-exclusive attributes, then the appropriate visualization is an Euler diagram (Venn diagrams with no empty intersections shown).

[2020-09-04 20:43] G-White-ISB commented on #240
So I'm not sure what you mean by 5 and 2 above. We actually are not
returning the right data to construct Euler diagrams - we don't return the
sizes of intersections between attributes.
George

On Fri, Sep 4, 2020 at 12:16 PM wlongabaugh <notifications@github.com>
wrote:

[2020-09-04 20:45] G-White-ISB commented on #240
'So I'm not sure what you mean by 5 and 2 above. ' - Sorry thats above of course.

[2020-09-04 23:42] wlongabaugh commented on #240
Yes, we would need intersection counts to depict correctly. For this simple example, the selection of a filter picks a circle out of the Venn diagram, and all cases within the circle are chosen. If you pick another filter, another circle is selected, and all cases in that circle are added to the cohort.
![VennFilter](https://user-images.githubusercontent.com/8441547/92291383-3f8af880-eecd-11ea-9a0

[2020-09-04 23:54] wlongabaugh commented on #240
So a bar chart that broke out all the unique set membership combinations could do the same thing, and is highly scalable.
<img width="530" alt="ModalityBar" src="https://user-images.githubusercontent.com/8441547/92291809-27b47400-eecf-11ea-9c08-77d4e9094793.png">

[2020-09-05 00:06] wlongabaugh commented on #240
BioFabric Plot as an Euler Diagram. Use bar height instead of width for cardinality of subset, use the Gray code ordering of the set intersections as shown here (only one element changes between adjacent subsets), and away you go.
![BioFabEuler](https://user-images.githubusercontent.com/8441547/92292144-89c1a900-eed0-11ea-92b5-030840a2d925.jpeg)

[2020-09-05 00:13] wlongabaugh commented on #240
We might need a log scale on the bar chart to handle the large dynamic range between tiny intersections and large size of one-modality-only cases.

[2020-09-05 00:16] wlongabaugh opened #255 "Click on Landing Page Bar Goes to Explorer With That Filter"
E.g. click on Brain on the Landing page takes you to brain in the Explorer. Need to be able to launch the Explorer with a specified filter set.

[2020-09-05 00:21] wlongabaugh commented on #240
Clicking on a bar labeled as a set intersection would toggle all the filters tied to that set intersection.

[2020-09-05 01:06] wlongabaugh commented on #240
So say we have four modalities, and there are cases with each combination of the four. Here is what I will dub an EulerBar depiction, with modality MR selected. Note that some modalities are not contiguous regions; in this plot, CT and MR are contiguous, the other two are not.

[EulerBar.xlsx](https://github.com/ImagingDataCommons/IDC-WebApp/files/5177383/EulerBar.xlsx)

[2020-09-05 01:43] wlongabaugh commented on #240
If we wanted to be visually explicit about the existence or absence of overlapping attributes in the filter set, we could switch between pie charts and EulerBars depending on whether all set intersections were null or not.

[2020-09-05 21:12] wlongabaugh commented on #240
Of course, if we are creating pie slices for all the non-null combination subsets and labeling them as such, we can go back to using a pie chart, since those partition the set.

[2020-09-08 16:40] fedorov opened #258 "Collection filters are broken"
![image](https://user-images.githubusercontent.com/313942/92504264-68aed000-f1d0-11ea-9d47-da2c8dfb9371.png)

[2020-09-08 18:41] bcli4d opened #259 "Webapp shows studies from cases not in cohort"
In the webapp, create this filter:
`COLLECTION IN (tcga_read) AND MODALITY IN (Computed Tomography, Digital Radiography) AND TCGA.RACE IN (White)`
Note that in the 'Collections' table it says Total # of Cases is 3 and Total # of Cases(this cohort) is 2.

Now click on 'tcga_read'. Note that the Selected Studies table displays studies from 3 cases (it might not show all of them until you change Show

[2020-09-09 16:40] fedorov commented on #255
Landing page summarizes cancer location (as in "Location" in this table https://www.cancerimagingarchive.net/collections/), which is available in the BQ tables but is not currently exposed in the portal UI. BodyPart shown in the portal UI and extracted from DICOM metadata is not the same as the cancer Location, which is a collection-level attribute not stored in DICOM metadata.

[2020-09-09 16:41] fedorov opened #261 "Consider revising version naming for the webapp"
Current format is DDMMYYYYHHMM.hash. YYYYMMDDHHMM.hash might be less confusing

[2020-09-09 17:02] G-White-ISB commented on #259
Duplicate of https://github.com/ImagingDataCommons/IDC-WebApp/issues/251

[2020-09-09 17:02] #259 closed

[2020-09-09 17:06] G-White-ISB commented on #186
If its OK with Suzanne I am bumping up the record limit to 2k from 1k to avoid this issue for now. The only relevant collection right now is LIDC which has ~1300 records. The size of the LIDC records fetched is only 800kb.

[2020-09-09 17:17] G-White-ISB commented on #255
Also, where do any of the numbers in the 'Cases by Major Primary Site
Chart' come from?
George

On Wed, Sep 9, 2020 at 9:40 AM Andrey Fedorov <notifications@github.com>
wrote:

[2020-09-09 18:53] G-White-ISB commented on #251
Testing needed Application Version: dev.090920201037.46fd5a

[2020-09-09 18:58] G-White-ISB commented on #240
Testing needed (dev.090920201037.46fd5a). None attribute filters are disabled in the 'derived' tab with a tooltip trying to explain why. I am open to suggests on the tooltip text. I realize now the tooltip should activate when user is hovering over the word None and not just the checkbox.

[2020-09-09 19:02] G-White-ISB commented on #238
In progress.

[2020-09-09 22:55] madelyngreyes opened #266 "cursor blocks text in the Search Results panel for filter options on the Exploration page"
On the Search Results panel it seems the cursor blocks the first letter in the filter option being hovered over. I have attached the URL to a video for reference.

https://screencast-o-matic.com/watch/cYQQ3MH8YV

[2020-09-09 23:32] G-White-ISB commented on #266
I have not seen that. What is your OS and browser?

[2020-09-10 00:00] mitianisb commented on #248
I noticed we have been using "e-mail" in most places, and only here we had "email". I have changed them to be "e-mail" to be consistent.

[2020-09-10 02:46] s-paquette commented on #247
@madelyngreyes  Can you give this another shot now on dev?

[2020-09-10 02:46] s-paquette commented on #246
@madelyngreyes Can you check this again?

[2020-09-10 02:48] s-paquette commented on #228
@madelyngreyes @fedorov Can you let us know if these are correct.

[2020-09-10 02:48] s-paquette commented on #200
@madelyngreyes Okay, should be working again.

[2020-09-10 12:57] fedorov commented on #255
One place where those can be found is `canceridc-data:idc.data_collections_metadata`, but I will let @s-paquette comment where she is getting them from for the front page.

[2020-09-10 13:36] fedorov opened #267 "Do not use same/similar colors for adjacent segments of the piechart"
This is what I get with the following configuration:

![image](https://user-images.githubusercontent.com/313942/92737417-1ba23980-f349-11ea-9e9a-94af1a8542fa.png)

[2020-09-10 13:38] fedorov opened #268 "Toolbar icons should line up with the logged user icon on the right"
Right now they are not

![image](https://user-images.githubusercontent.com/313942/92737683-5906c700-f349-11ea-8155-428e2585a8d8.png)

[2020-09-10 14:02] fedorov opened #269 "Collection counts are not updated"
Reproducible with the configuration below. The only counts that are updated are collections under TCGA

![image](https://user-images.githubusercontent.com/313942/92739942-59a05d00-f34b-11ea-9299-52dfb030ed52.png)

[2020-09-10 15:05] fedorov commented on #258
Appears to be resolved in dev.090920201505.377d44

[2020-09-10 15:05] #258 closed

[2020-09-10 15:08] fedorov opened #270 "Piecharts appear disorganized on smaller page width"
Maybe the size should scale down, or they should be aligned better when changing page width?

![image](https://user-images.githubusercontent.com/313942/92751447-f831bb80-f355-11ea-9eda-b9f00b92912e.png)

[2020-09-10 15:13] madelyngreyes commented on #246
The arrow is still visible on the dev tier.

<img width="960" alt="password reset arrow still present on the dev tier" src="https://user-images.githubusercontent.com/16824894/92752122-a3db0b80-f356-11ea-9e82-f12261c32a71.PNG">

[2020-09-10 15:53] madelyngreyes commented on #228
Total cases count in the collections panel is 4,957 subject count while the homepage lists 3,230 cases. I created a quick spreadsheet that checks the sum of all subject count values. - https://docs.google.com/spreadsheets/d/1o9B2a2hBqq0cXXmpBcCkb3nRhlvO2X2Mjf4erITSk1I/edit#gid=0

Another question I have is should we use the same verbiage across the platform e.g., to use either subject count or cas

[2020-09-10 16:39] G-White-ISB commented on #267
I have not been able to replicate. What is your filter definition here?

[2020-09-10 16:56] G-White-ISB commented on #267
Sorry I was looking under Body Part Examined. I have replicated this.

[2020-09-10 17:00] s-paquette commented on #255
The numbers in the chart are coming from the collections metadata table, and not from a specific counting query done against the dicom_all dataset.

[2020-09-10 17:04] madelyngreyes commented on #266
The system is Windows 10 Pro version 1909, the browser I was using in the case above is Google Chrome.

[2020-09-10 17:10] s-paquette commented on #255
The `tcia_tumorLocation` filter can be used for this.

[2020-09-10 17:16] s-paquette commented on #228
@madelyngreyes  You need to drop the analysis collections from your totals--that's effectively counting some cases twice. Only count the primary collections.

[2020-09-10 17:24] madelyngreyes commented on #228
Yes, I had noticed the some data is supplementary e.g., the first option is related to collection lidc_idri.  I'm able to return the correct count of 3,230 cases.

[2020-09-10 18:09] madelyngreyes commented on #200
On the exploration page, the selection of the Age at Diagnosis: None filter doesn't update the pie chart to display only the none filter option selected.

Another point I noticed is the text in the Filter Definition panel displays the text, "NaN-NaN". I have taken a video and a screenshot of the functionality below.

<img width="960" alt="IDC - age at diagnosis bug still present in the IDC dev tie

[2020-09-10 19:25] madelyngreyes commented on #240
I agree with George the tool-tip should activate over the text as well.

The text looks good to me.
<img width="202" alt="none description" src="https://user-images.githubusercontent.com/16824894/92790035-68056d80-f379-11ea-8738-cd93e09b88f7.PNG">
Does this work for you as well by chance? @fedorov

[2020-09-10 19:30] G-White-ISB commented on #239
Testing needed (dev.090920201505.377d44). No specific action on this but I am not able to reproduce it anymore. If you encounter this problem please try to reproduce and document steps to reproduce.

[2020-09-10 20:44] fedorov opened #272 "Add TCIA data usage terms"
We should add a link to the TCIA usage terms at the bottom of the front page.

"Data hosted by IDC is subject to the [TCIA Data Usage License and Citation Requirements](https://wiki.cancerimagingarchive.net/x/c4hF)"

Once we have data from sources other than TCIA we will need to update this.

p.s. This was agreed upon with @wlongabaugh and our stakeholders.

[2020-09-11 03:05] fedorov opened #273 "Google Analytics setup"
Would it be possible to set up google analytics tokens for the portal?

The Analytics account for IDC has been setup, and @s-paquette should have admin rights to create a property.

[2020-09-11 14:25] madelyngreyes commented on #130
Implemented on the testing tier, all looks well.
URL for reference: https://idc-testing.appspot.com/quota/

[2020-09-11 14:25] #130 closed

[2020-09-11 14:32] fedorov commented on #240
Yes, the current behavior is fine with me. Thanks.

[2020-09-11 14:38] fedorov commented on #228
I don't think we should drop analysis results from the counts. In fact, it will be good to highlight the number of cases/series that have analysis results in the front-page stats post-MVP.

I don't think the counts should be done based on the collections table, but instead directly on the BQ table with the metadata corresponding to the collections we include.

So I think the counts we should be sh

[2020-09-11 14:38] #240 closed

[2020-09-11 14:42] fedorov opened #274 "Make presentation of analysis collections more clear in the collections table"
The way analysis results are displayed in the collections table is somewhat confusing right now, since they do not have an ID, and it is not possible to differentiate between primary and analysis results collections.

I think it would be better if for the analysis results in the "ID" column we list primary collections those analysis results correspond to, and also add another column "collection ty

[2020-09-11 14:44] madelyngreyes commented on #210
Looks much better!

But, I believe we should remove the "Show More" from the detailed list of the TCGA collection options we have available.  No additional collections are displayed with the selection of the "Show More" option.

<img width="219" alt="show more for the collections tab" src="https://user-images.githubusercontent.com/16824894/92939334-a489a580-f41b-11ea-8c29-734c3c68ecd0.PNG">
<img w

[2020-09-11 16:31] mitianisb commented on #210
Thanks for the feedback Madelyn! I think this is a bug. I feel it should work like when TCGA is expanded, only a small set of rows (5-6) are shown. And click "show more" will show all the 21 rows, and click "show less" again will show the small set only. If @fedorov can confirm that's what we want, I can work on fix it.

[2020-09-11 17:42] #237 closed

[2020-09-11 18:29] G-White-ISB commented on #200
I removed the 'none' box for now. But there is still a backend issue. If I send both a range filter and a none selection filter, ie
filters= {'age_at_diagnosis': 'None', 'collection_id': ['tcga_luad'], 'age_at_diagnosis_btw': [67, 89]}, then the 'None' attribute is missing from the age_at_diagnosis category. It seems you cannot apply the  'age_at_diagnosis' and 'age_at_diagnosis_btw' filters at th

[2020-09-11 20:16] fedorov commented on #227
It actually has not been fixed, but is tracked in https://github.com/ImagingDataCommons/Viewers/issues/4

[2020-09-11 21:47] s-paquette commented on #200
Ah, I hadn't realized you were sending it twice.

So, you can't send the same attribute twice. If you do, one will overwrite the over. You need to send it once. Since we need to make sure the _btw is parsed, you send it as _btw. None just goes in as it's own value. So:

{ 'age_at_diagnosis_btw': [[x, y], 'None']} should work

[2020-09-11 21:50] s-paquette commented on #200
Ah, discovered a bug which will make that fail, but it's a simple fix. I'll merge it in shortly.

[2020-09-11 21:55] s-paquette commented on #242
@fedorov Do we have text and logos for this yet?

[2020-09-11 21:56] fedorov commented on #242
@s-paquette that's been tracked here: https://github.com/ImagingDataCommons/IDC-WebApp/issues/169

I think most responded with the logos

[2020-09-11 21:58] s-paquette opened #276 "Save filters when user logs in after selecting them and re-apply to explorer"
As is done in ISB-CGC, when a user is not logged in and selects filters, the 'Save as Cohort' button should be a 'Log in To Save' button. If the user goes to log in, their filters should be saved in localStorage and then applied after login is successful and they're re-directed to the explorer page.

This can be done the same way as ISB-CGC, so re-use of that code (with adjustments for our layout)

[2020-09-11 21:59] s-paquette commented on #242
Thank you! @mitianisb Feel free to use the privacy policy page's core as a template for this.

[2020-09-11 22:00] fedorov commented on #210
Can you move the collections that are children of TCGA to the right to communicate that they are subordinate to the parent? Right now they are lined up with the parent.

![image](https://user-images.githubusercontent.com/313942/92976499-a32a9e00-f458-11ea-9f6f-8b13f894a0d1.png)

[2020-09-11 23:35] s-paquette commented on #255
Note, tcia_tumorLocation is now available for filtering under the Original tab as 'Primary Site Location' on dev.

[2020-09-12 06:08] s-paquette commented on #194
Current deployment of dev now allows for saving of Cohorts, and downloading them.

Format example:

[code]

[code]

[2020-09-12 06:21] s-paquette commented on #200
@G-White-ISB
So, note, there's still a front-end issue. If someone clicks on 'None' from the pie-chart, it's sending [None, None] as the values. What it should send is:

{ 'age_at_diagnosis': ['None']}

Then if they add a range:

{ 'age_at_diagnosis_btw': [[x, y], 'None']}

[2020-09-12 19:39] fedorov commented on #194
Thanks Suzanne!

What is the meaning of "Program", considering we don't have a filter for that?

[2020-09-12 19:45] fedorov commented on #194
When I try to save, I get this error:

![image](https://user-images.githubusercontent.com/313942/93003660-a2ecda00-f50e-11ea-8eca-bc9ca0529438.png)

similar when I try to download:

![image](https://user-images.githubusercontent.com/313942/93003675-bef07b80-f50e-11ea-80f2-90f95394043e.png)

After I open a cohort, the filter is not populated, and no filters are applied.

Errors in the console:

![i

[2020-09-13 01:32] s-paquette commented on #194
Can you tell me what filters you used for your cohort?

[2020-09-13 05:55] s-paquette commented on #194
Found the bug--not manifest related, it's that derived selections were missing a necessary value in the explorer template. That change is now in, so you should be able to save cohorts with derived filters.

[2020-09-13 06:09] mitianisb commented on #210
Thanks Andrey! I think this was caused by a bad merge. I have fixed it again and will merge into master soon. I also noticed the show more/show less bug has been fixed in the latest.

[2020-09-13 06:31] mitianisb commented on #268
![image](https://user-images.githubusercontent.com/58752821/93011910-e7e53080-f54f-11ea-9a77-734c9905ddc6.png)
I have fixed the top alignment. The bottom is not aligned because the user icon is 40x40, and the toobar icons is 32x32. I tried 32x32 for the user icon but it looks too small.

[2020-09-14 14:18] fedorov commented on #194
Thank you, save and download seem to work now.

What is the meaning of "Program", considering we don't have a filter for that?

[2020-09-14 15:11] madelyngreyes commented on #269
Seems to be working as expected now.
<img width="938" alt="selection of body part examined breast working as expected" src="https://user-images.githubusercontent.com/16824894/93103642-e3696680-f67a-11ea-8b12-a2c8f2f67974.PNG">

[2020-09-14 15:11] #269 closed

[2020-09-14 15:13] madelyngreyes commented on #229
Text matches the current IDC webpage.

<img width="926" alt="text matches" src="https://user-images.githubusercontent.com/16824894/93103972-465afd80-f67b-11ea-8d0c-9f64576f1235.PNG">
<img width="378" alt="matching text" src="https://user-images.githubusercontent.com/16824894/93103973-46f39400-f67b-11ea-956d-99a58268ba83.PNG">

[2020-09-14 15:13] #229 closed

[2020-09-14 16:12] madelyngreyes commented on #253
Screenshot of all options listed on the landing page.

<img width="340" alt="All primary sites available in the landing page" src="https://user-images.githubusercontent.com/16824894/93110635-96d65900-f683-11ea-8783-2014938e5705.png">

[2020-09-14 16:12] #253 closed

[2020-09-14 16:14] G-White-ISB commented on #71
Charts are now centered in the containing div. 'No data available' added.

[2020-09-14 16:16] madelyngreyes commented on #254
On the landing page the count for Chest filter is 2,120 cases but, when you go to the data portal the primary site location has 1,079 cases present for the Chest filter option.

<img width="960" alt="2020-09-14 (1)" src="https://user-images.githubusercontent.com/16824894/93110971-00566780-f684-11ea-859f-c337a151e871.png">

<img width="949" alt="1079 cases in the data portal" src="https://user-imag

[2020-09-14 16:18] G-White-ISB commented on #267
Testing needed (dev.120920201915.f0fa04)

[2020-09-14 16:19] G-White-ISB commented on #270
I'm trying a different layout (dev.120920201915.f0fa04).

[2020-09-14 16:34] madelyngreyes commented on #239
There is still text cutoff on my laptop when using Google Chrome at 80% zoom unfortunately. This is visible for both the Selected Series and the Selected Studies panel.

<img width="960" alt="2020-09-14 (2)" src="https://user-images.githubusercontent.com/16824894/93112986-9db29b00-f686-11ea-8feb-871f1c5c525a.png">

<img width="960" alt="2020-09-14 (3)" src="https://user-images.githubusercontent.co

[2020-09-14 16:42] madelyngreyes opened #282 "Slider updates are all broken"
On the dev tier, if you select the filter option GLYCOLYSIS WITHIN FIRST QUARTER OF INTENSITY RANGE (GRAM)  80 - * doesn't update the pie chart to the filter option selection. I have attached a video for reference.

https://screencast-o-matic.com/watch/cYQ2DpJY7B

[2020-09-14 16:44] madelyngreyes commented on #282
Also, the filter option is displayed as 80-279 in the Filter Definition panel but, is displayed as 80-* in the pie chart.

<img width="960" alt="2020-09-14 (5)" src="https://user-images.githubusercontent.com/16824894/93113989-01899380-f688-11ea-89fa-400c42aed39b.png">

[2020-09-14 16:57] G-White-ISB commented on #282
This is since the latest deployment. Investigating this morning.

[2020-09-14 17:04] s-paquette commented on #194
'Program' is a concept we'll need to integrate due to the CRDC and CDA; it groups collections. Eg. all the TCGA collections are part of TCGA, etc. We've postulated programs for others, based on their current collection names, and can put in something more formal once we have it. It needn't show up in the manifest, if you'd rather exclude it.

[2020-09-14 17:36] madelyngreyes opened #283 "Selection of filter option from the Search Results pie chart panel doesn't enable the Save As New Cohort button"
When you select a filter option from the Search Results pie chart panel doesn't enable the save cohort button.

<img width="960" alt="2020-09-14 (7)" src="https://user-images.githubusercontent.com/16824894/93119097-35b48280-f68f-11ea-99aa-4cb161136147.png">

[2020-09-14 17:46] madelyngreyes opened #284 "cohort doesn't apply filter selection on the cohort details page"
After you save a cohort the filters do not seem to be applied on the cohort details page.

<img width="960" alt="2020-09-14 (11)" src="https://user-images.githubusercontent.com/16824894/93119945-a27c4c80-f690-11ea-8766-5ee97fc08976.png">

[2020-09-14 17:48] madelyngreyes opened #285 "# of cases and # of samples not displayed on the cohort list table"
<img width="960" alt="2020-09-14 (12)" src="https://user-images.githubusercontent.com/16824894/93120142-e8391500-f690-11ea-993e-363c5c7cbdb4.png">

[2020-09-14 17:49] madelyngreyes commented on #285
Also, there is text cut off when the cohort name is too long.

[2020-09-14 17:50] madelyngreyes commented on #285
Another issue is also N/A being displayed for the Last Modified column when it should be a date and/or time.

[2020-09-14 18:09] G-White-ISB commented on #282
Yeah the '_btw' or sliders are not working with the new backend.
Request:
http://localhost:8085/explore/?counts_only=True&is_json=true&is_dicofdic=True&data_source_type=S&filters=%7B%22Diameter_btw%22:%5B16,50%5D%7D

Stack Trace:

Traceback (most recent call last):
  File "/home/vagrant/www/IDC-Common/idc_collections/collex_metadata_utils.py", line 332, in get_collex_metadata
    results = get_met

[2020-09-14 18:10] G-White-ISB commented on #283
And the selection does not check the appropriate checkbox. Will fix ASAP

[2020-09-14 18:44] G-White-ISB opened #286 "Adjust the bucket ranges for quantitative filters"
Right now every bucket is 10 units 'wide' and the last bucket is '80 to *' regardless of the facet data. An example is Glycolysis in 2 Qrtr Range. The min value is 1.38, the max is 252, but the buckets are

* to 10
10 to 20
...
70 to 80
80 to *
None

[2020-09-14 18:44] madelyngreyes commented on #71
Formatting looks much better.

<img width="960" alt="2020-09-14 (17)" src="https://user-images.githubusercontent.com/16824894/93125221-ccd20800-f698-11ea-9dc8-47982b1afcd6.png">

[2020-09-14 18:46] mitianisb commented on #242
![image](https://user-images.githubusercontent.com/58752821/93124942-43620c00-f67f-11ea-945c-180be73a9d88.png)
Hi all, I have implemented the collaborator page, can you give feedback on the following?
- The logos are in alphabetical order, do we want a different order?
- The Isomics logo has a white background, do we want to remove the background?
- I was not able to find the logo of Radical Imagi

[2020-09-14 18:54] madelyngreyes opened #287 "Search Scope Collection filter not working on the dev tier"
<img width="960" alt="2020-09-14 (18)" src="https://user-images.githubusercontent.com/16824894/93126132-ffc8cb80-f699-11ea-8ff5-e0b4272e95ef.png">

[2020-09-14 19:05] madelyngreyes opened #288 "Disable Save As New Cohort when no data is available"
The filter options I have selected don't have any data available but, I was still able to select the Save As New Cohort button.

<img width="960" alt="2020-09-14 (19)" src="https://user-images.githubusercontent.com/16824894/93127276-98ac1680-f69b-11ea-8f44-92b5dd7ea2e0.png">

[2020-09-14 19:08] G-White-ISB commented on #287
... and that is also a break from a recent commit. Will try and patch today.

[2020-09-14 19:08] madelyngreyes commented on #287
Also, if we can remove the blue arrow from the ISPY1 collection since nothing is displayed after it's selected.

<img width="238" alt="remove arrow from ispy1" src="https://user-images.githubusercontent.com/16824894/93127574-25ef6b00-f69c-11ea-8d49-88033352343c.PNG">

[2020-09-14 19:16] madelyngreyes commented on #251
Waiting for collections panel fix to test filter set originally mentioned in first comment. https://github.com/ImagingDataCommons/IDC-WebApp/issues/287

[2020-09-14 19:18] madelyngreyes commented on #272
<img width="960" alt="2020-09-14 (20)" src="https://user-images.githubusercontent.com/16824894/93128424-74513980-f69d-11ea-92cc-ffb667d79b28.png">

[2020-09-14 19:23] #71 closed

[2020-09-14 19:31] s-paquette commented on #251
@madelyngreyes Is there a reason the Search scope filter needs to work to test this? They're not related issues. You can check by using any of the derived filters (which won't apply to TCGA).

[2020-09-14 19:32] s-paquette commented on #286
I need to know what we want the buckets to be. The by-10 and 80-max are simply defaults. @fedorov What would you like the bucket values to be for the pie-charts on the numeric attributes?

[2020-09-14 19:35] s-paquette commented on #282
Sorry, thought I'd merged this in. It's now on master Common if you want to try it out locally.

[2020-09-14 19:54] G-White-ISB commented on #286
Maybe just decide on 10 even buckets between min and max?

On Mon, Sep 14, 2020 at 12:33 PM S. Paquette <notifications@github.com>
wrote:

[2020-09-14 20:28] madelyngreyes commented on #251
I mainly just wanted to test the filter options George mentioned in the first comment as well.

[2020-09-14 20:31] madelyngreyes commented on #270
Formatting has greatly improved, screenshot below is from when using Google Chrome at 110% zoom.

<img width="960" alt="2020-09-14 (23)" src="https://user-images.githubusercontent.com/16824894/93135075-bd0df000-f6a7-11ea-92f9-79d0272cde85.png">

[2020-09-14 20:31] #270 closed

[2020-09-14 20:37] madelyngreyes commented on #268
At 110% zoom the toolbar icons appear above the user icon.
<img width="960" alt="2020-09-14 (24)" src="https://user-images.githubusercontent.com/16824894/93135477-65bc4f80-f6a8-11ea-991c-a5dca1b1b11f.png">

Then at 125% zoom the toolbar icons appear to be aligned with the user icon.
<img width="960" alt="2020-09-14 (25)" src="https://user-images.githubusercontent.com/16824894/93135487-694fd680-f6a

[2020-09-14 20:40] madelyngreyes commented on #267
New color scheme.
<img width="960" alt="2020-09-14 (26)" src="https://user-images.githubusercontent.com/16824894/93135871-fdba3900-f6a8-11ea-9ac9-be11955ba32c.png">

[2020-09-14 21:31] G-White-ISB commented on #282
Where would I pull from? The last commit to IDC-Common master was 3 days
ago and I am up to date, also up to date on IDC-WebApp.
George

On Mon, Sep 14, 2020 at 12:35 PM S. Paquette <notifications@github.com>
wrote:

[2020-09-14 21:40] s-paquette commented on #282
Yes, apparently my PR didn't go through. Try now-- a pull from Common master.

[2020-09-14 21:56] fedorov commented on #194
@s-paquette I am completely in support of integrating the concept of program that would group collections into the portal UI and into the manifest. In fact, I believe I suggested that a while ago. All I am saying is that we should not include into the manifest things that are currently not available in our tables and/or the portal.

[2020-09-14 21:57] fedorov commented on #272
@madelyngreyes it is not clear from the screenshot - can you confirm if that is a link, or just a text?

[2020-09-14 21:57] s-paquette commented on #194
We can definitely include it in the portal as a filter; it's in the index and table as of Bill's last ETL. Do we want to?

[2020-09-14 21:57] fedorov commented on #272
never mind, I see it is a link

[2020-09-14 21:57] #272 closed

[2020-09-14 22:03] fedorov commented on #286
10 even buckets between min and max is fine with me.

I've just noticed that clicking of quantitative pie charts updates the filter definition but does not update the corresponding piechart content.

I do not know if this is expected or not.

![image](https://user-images.githubusercontent.com/313942/93142689-868aa200-f6b4-11ea-9182-9eb6a75a6426.png)

![image](https://user-images.githubusercontent.

[2020-09-14 22:05] s-paquette commented on #286
Filters don't count against themselves, is the reason for this. Or, they shouldn't; not for counting purposes.

[2020-09-14 22:06] fedorov commented on #286
I don't understand this, but we can review this tomorrow.

[2020-09-14 22:06] fedorov commented on #194
I do not see Program column in the collection-level metadata table

https://console.cloud.google.com/bigquery?project=idc-dev-etl&p=canceridc-data&d=idc&t=data_collections_metadata&page=table

[2020-09-15 05:37] s-paquette commented on #284
Can you let me know what filters this is happening for? Also please check the dev console--this is definitely implemented functionality, so I need to be able to sort out the actual bug.

[2020-09-15 05:39] s-paquette commented on #268
@madelyngreyes The bug isn't in reference to what you have in the screenshots. That overflow is a natural result of the toolbar not having enough room. Andrey's original comment is that when the navigation icons and the login are on the same line, they're not lined up. The staggering due to lack of screen size is as-expected.

[2020-09-15 05:41] s-paquette commented on #288
So, this isn't strictly a bug. The reason is, unlike in ISB-CGC, where we save samples and cases, we don't save those here. We only save filters. The reasoning being, these filters might not match records now--but they could, in the future, with a more recent data version. So, do we want to still prevent saving of cohorts which don't *currently* have any available cases/studies/series/instances? @

[2020-09-15 05:42] s-paquette commented on #285
This is not a bug; case and sample count won't be displayed. The columns *do* need to be removed, however.

[2020-09-15 05:44] s-paquette commented on #266
This is likely due to your zoom level--can you set your monitor to 100% and see if it's still hapenning?

[2020-09-15 05:48] s-paquette commented on #266
(I'll note, in checking my laptop--1920x1080, 100% and 125%, Windows 10, Chrome 85--I can't replicate this behavior.)

[2020-09-15 05:50] s-paquette commented on #210
@fedorov Can you let us know if the current version is improved?

[2020-09-15 13:50] fedorov commented on #242
Would it be possible to arrange them such that they are center -aligned, and there is more space around individual logos? It looks way too cramped right now.

[2020-09-15 13:51] fedorov commented on #242
See example here https://cloud.google.com/ or here https://mlperf.org/

[2020-09-15 13:52] fedorov commented on #210
Yes, this is resolved as far as I am concerned!

[2020-09-15 13:53] #210 closed

[2020-09-15 13:56] fedorov commented on #288
I think for the user what is important is the actual cases included in the cohort, and that the cases included in the cohort remain the same. I believe it was mentioned in the past that the cohort defined by filter is presumably going to be persistent and with the versioning of the data the actual composition of the cohort will remain the same. If that remains a requirement, there would be no use

[2020-09-15 14:16] fedorov opened #290 "Cohort view panel styling/appearance issues"
1) currently, name of the cohort appears in largest font size anywhere on the page - is there a good reason for this? I would decrease the font, and also use background color closer to the existing color scheme (perhaps Allison can comment on that)

2) when resizing the width of the window, cohort panel sometimes completely disappears, see below

![2020-09-15_10-07-35](https://user-images.githubus

[2020-09-15 15:00] fedorov opened #291 "Add an option to download cohort manifest in a BQ-compatible JSON format"
At the moment, with CSV format, one needs to manually remove the header, or specify rows to skip, and then manually edit the column names, which is quite awkward.

[2020-09-15 16:03] madelyngreyes commented on #284
I was able to reproduce this issue with body part examined Abdomen and Brain with Modality: Magnetic resonance filters.

The filter was added after I saved the cohort for a test run I just made this morning. Which wasn't being added yesterday.

But, now I went to the cohort table list page, then selected the cohort I just created and the filters are no longer present in the Filter Definition panel

[2020-09-15 16:05] fedorov commented on #288
Decided to disable creation of empty cohorts.

[2020-09-15 16:07] madelyngreyes commented on #266
At 100% zoom seems to be working as expected.
<img width="960" alt="2020-09-15 (2)" src="https://user-images.githubusercontent.com/16824894/93235802-0a439d80-f74c-11ea-91d8-3b28e0ab89eb.png">

[2020-09-15 16:25] s-paquette commented on #284
Got it--thank you! I'll see if I can get to the bottom of this.

[2020-09-15 16:36] fedorov commented on #286
Agreed that the behavior shown above for diameter is what we actually want to have for all filters. Agreed to investigate how much effort it will take to implement this. @s-paquette will follow up.

[2020-09-15 16:36] fedorov commented on #286
Also agreed to put a tooltip with this explanation over an "i" icon: https://discourse.canceridc.dev/t/understanding-idc-portal-cohort-plots/81/7?u=fedorov

[2020-09-15 16:56] fedorov commented on #194
Decided to leave for now out of manifest, will add Program post-mvp

[2020-09-15 17:00] fedorov opened #292 "Add separate entry/count for original vs analysis collections on the front page"
We can rearrange the text "Data release" to be above the toolbar, if needed.

It is important to highlight analysis collections separately.

[2020-09-15 17:01] fedorov commented on #228
Analysis vs original counts issue is tracked in #292

[2020-09-15 17:01] #228 closed

[2020-09-15 17:03] mitianisb commented on #242
No problem, I will give it try and send a new screenshot.

[2020-09-15 17:03] fedorov opened #293 "Document portal filters in tooltip"
For the DICOM attributes, we can link to the definition in the standard. For the coded terms link to the coding authority.

[2020-09-15 19:15] madelyngreyes commented on #268
Okay, I will close this ticket then. Is there an open ticket for the screen size issue or just leave it as is for now? @s-paquette

[2020-09-15 19:17] s-paquette commented on #291
We can also do this for CSV, but the request was explicitly made to have all of this header information. JSON files will inherently have fewer records owing to the overhead in the format causing the 32M limit to come in much earlier. So a headerless CSV might be a good option as well.

[2020-09-15 19:18] madelyngreyes commented on #248
Text has been updated. - https://idc-dev.appspot.com/accounts/confirm-email/

[2020-09-15 19:18] #248 closed

[2020-09-15 19:24] s-paquette commented on #268
There isn't because that flow of the icons is working as intended.

[2020-09-16 05:14] mitianisb commented on #254
I have integrated a new chest image from Allison and it looks like this now, also with a new color.
![image](https://user-images.githubusercontent.com/58752821/93294422-4d7b2c00-f79f-11ea-8d3c-43bf9a754033.png)

@madelyngreyes Are the count in other body parts correct? I am not familiar with how the count are calculated (maybe @s-paquette knows more). It also is different in my explore page (chest

[2020-09-16 05:18] mitianisb commented on #276
Hi @s-paquette, I tried to apply my code from CGC to here and noticed the checkboxes do not have ID available to save and load back like in CGC (in CGC it has format like FEATURENAME_VALUENAME_PROGRAMNAME). Is this something you are working on? I can try add them but not sure if it would conflict with your change. Thanks!

[2020-09-16 05:33] mitianisb commented on #242
@fedorov I made the changes and I think it look better now. I changed the order (moved mgb to first row) so that the two rows align better. Please let me know if you have any further suggestion. Thanks!

![image](https://user-images.githubusercontent.com/58752821/93296017-39d1c480-f7a3-11ea-83ed-ba5de0f6426b.png)

[2020-09-16 08:30] s-paquette commented on #276
@mitianisb Ah ha, yes I just merged in a fix for this, you'll need to grab Common master *and* IDC-WebApp.

[2020-09-16 19:16] fedorov commented on #242
Thank you, this is much better.

I think ISB logo is missing from the list. It shoud be added, and also the first line should list MGB, ISB and GDIT in that oder.

[2020-09-16 20:42] mitianisb commented on #242
Got it. This is the new look.

![image](https://user-images.githubusercontent.com/58752821/93390366-6ed12c00-f822-11ea-8300-af61770bfc0b.png)

[2020-09-16 21:44] #268 closed

[2020-09-16 22:26] madelyngreyes commented on #251
To follow the original test case reported by George, the studies should now return five or seven entries?  I'm currently reporting seven entries in the studies panel.
<img width="940" alt="seven entries on selected studies panel" src="https://user-images.githubusercontent.com/16824894/93398733-1f065b00-f84a-11ea-9926-4ff44a56c436.PNG">

@G-White-ISB Is this expected?

[2020-09-16 22:47] madelyngreyes opened #296 "Search Scope panel incorrect cases count for the TCGA related collections"
The selection of the Original:Modality filter doesn't change the cases count reflected in the Search Scope panel when working with TCGA related collections.

<img width="960" alt="2020-09-16 (10)" src="https://user-images.githubusercontent.com/16824894/93399999-c2586f80-f84c-11ea-8e3e-7abc1bceead9.png">

No errors in the dev console were returned.

[2020-09-16 23:20] madelyngreyes commented on #242
Looks great!

[2020-09-16 23:27] s-paquette commented on #242
Is there a reason this is reopened?

[2020-09-17 01:25] madelyngreyes commented on #284
I was also able to reproduce this by first the selection of a Modality: SR document from the Search Results panel pie chart. Then from the left Search configuration panel, I selected body part examined: Abdomen. Then going to save a cohort doesn't save the filters once you are sent to the cohort details page.

[2020-09-17 01:46] fedorov commented on #242
My guess is Madelyn wanted me to confirm, and indeed it looks great to me. Thank you @mitianisb!

[2020-09-17 01:48] fedorov commented on #242
Sorry, I do have one more nit-pick ... Can we change "Collaborators" to "Team" or something like that?

[2020-09-17 05:30] mitianisb commented on #242
Sure, maybe change to "partners" like in ISB-CGC? https://isb-cgc-test.appspot.com/about/

[2020-09-17 14:10] madelyngreyes commented on #242
Yes, I just wanted Andrey to confirm mainly.