[2021-02-19 15:25] ulrikew commented on #523
The notification looks ok. Do we need to include the first sentence (URL says)?

[2021-02-19 18:18] s-paquette commented on #551
@fedorov The opening in a new tab is functional on test for me; are you not seeing that currently?

[2021-02-19 18:22] s-paquette commented on #550
@fedorov Shared With and Ownership are related to cohort sharing, which isn't enabled at this time. Cohort ID is used to fetch a Cohort in the API. Shorting the version column is easy enough to do. The 'size' is something we're working on; we have the columns in (on test) but I need to write a script to populate them.

[2021-02-19 18:44] fedorov commented on #550
I understand. I am saying we show a lot of stuff which is irrelevant, and don't show things that are of interest. This ticket is to revise what we show to the user.

[2021-02-19 18:45] fedorov commented on #551
Yes, it is opening in a new tab in test. So we should just add the external link icon.

[2021-02-19 18:49] fedorov opened #552 ""Show less" shows up when there's not much less to show"
This is happening for me in the test tier. Hard reload and clear cache did not help.

![image](https://user-images.githubusercontent.com/313942/108547927-20d0c080-72b9-11eb-8216-e635f3da3663.png)

[2021-02-19 18:52] fedorov commented on #523
I do not like the idea of popup at all. Instead, I suggest somewhere under the filter definition, there should be a summary of the defined cohort (number of cases, and perhaps also studies and series).

[2021-02-19 19:07] s-paquette commented on #523
@ulrikew The 'x says' is due to the manner of implementation and can't be removed; we would need to use a different method.

[2021-02-19 19:26] s-paquette commented on #538
@madelyngreyes So, this is a bug in Django-allauth. I can make a work-around, but as it's a separate concern, I'd like to make a different ticket for it to address this item in particular (that setting a password takes you to the change page). So, aside from this, for which we'll make a ticket, is the testing passed?

[2021-02-19 19:30] s-paquette opened #553 "Setting a password sends the user to the change password page"
**General description**
Due to Django-allauth [#2195](https://github.com/pennersr/django-allauth/issues/2195), setting a password on a social account in order to disconnect it causes the user to be sent to the change password page.

**Steps to reproduce the behavior**
Log in via a social account. Go to the user account details page and select 'Manage Account Connections'. Disconnect your current G

[2021-02-19 19:30] s-paquette commented on #538
Ticket made for this: #553

[2021-02-19 19:42] ulrikew commented on #545
It is somewhat confusing because when I select BRCA as disease code and limit the age at diagnosis all TCGA collections but the BRCA disappear from the list but other unrelated collections like QIN_headneck hang around.
![image](https://user-images.githubusercontent.com/3019001/108553489-bde32780-72c0-11eb-91cd-b6daba495f22.png)

[2021-02-19 19:44] ulrikew commented on #545
I don't have a good idea how to solve this right now and agree with Andrey, for now, to leave it as is. I will submit a new ticket with thoughts about addressing this issue as more collections become available.

[2021-02-19 19:45] ulrikew commented on #528
Looks good.

[2021-02-19 20:04] madelyngreyes commented on #538
I was able to unlink my google ID and link again. But, could we also list the email that is linked? I was able to link my @csra.com email with my @gdit.com email address but, the gdit email is not listed anywhere.

![Screen Shot 2021-02-19 at 3 02 36 PM](https://user-images.githubusercontent.com/16824894/108555673-c8eb8700-72c3-11eb-9cb2-459bd41e3ee3.png)

[2021-02-19 20:44] wlongabaugh opened #554 "Display last-exported table on cohort list page"
After exporting a manifest to Big Query, you click on the link and it replaces the page, as opposed to opening in another tab. I do various copy operations to my project, and then I have to back up a few tabs to get back to the WebApp. I overshot, and when I got back to the portal, I no longer had the info on where the table lived. It would be useful to 1) Open BQ in new tab, 2) Record the table l

[2021-02-19 21:24] pieper commented on #554
I agree, I was going to suggest the new tab for BQ too.

[2021-02-19 21:55] madelyngreyes commented on #554
We currently have this ticket open to address opening the link in a new tab. https://github.com/ImagingDataCommons/IDC-WebApp/issues/517

To address your second point it's my understanding this will be difficult to do. But, Suzanne would have more information. @s-paquette

[2021-02-19 22:33] s-paquette commented on #554
The later is an issue in terms of timeout; the table will be deleted after a week, but possibly still exists in the cohort table. We'll need to implement a cron job to delete the entry once the table expires. So, doable, needs some significant work.

[2021-02-19 22:37] s-paquette commented on #551
Looks like this is a duplicate of #542, can we close it?

[2021-02-22 15:30] G-White-ISB commented on #552
@fedorov can you provide steps to reproduce? Thanks.

[2021-02-22 15:52] fedorov commented on #549
Since it was confirmed by @G-White-ISB that query of even very large manifests using the BQ approach works from colab notebook, this is not an emergency I thought it was. We do need to revisit the current approach and develop the best practice to recommend to the users.

[2021-02-22 17:39] fedorov commented on #545
@dclunie do you want to add your thoughts to this issue?

[2021-02-23 17:52] fedorov commented on #552
Confirmed @G-White-ISB has the steps to reproduce.

[2021-02-23 17:57] fedorov commented on #522
@madelyngreyes the issue above is not addressed in this issue. Can you please create a new issue for not using an alt-key for selection:

[2021-02-23 18:05] s-paquette commented on #522
There doesn't seem to be any violation:
https://www.w3.org/TR/WCAG20/#keyboard-operation-keyboard-operable

There's an explicit exception for timing based on movement. That said, we can definitely add in a checkbox.

[2021-02-23 18:14] madelyngreyes opened #555 "Enhancements to selection of cases/studies/series"
**Is your feature request related to a problem? If so, let us know**

Related to ticket, https://github.com/ImagingDataCommons/IDC-WebApp/issues/522

**Enhancement description**

Add a checkbox to be able to select multiple studies/cases currently you need to select shift or control(mac) then select another row to select multiple options.

**Screenshots**

![108521862-2a96fb80-729a-11eb-87de-59755

[2021-02-24 18:14] s-paquette commented on #538
Let's make that a separate ticket for that as well, if only to get the sprint out.

[2021-02-24 19:50] fedorov opened #556 "Need to be able to distinguish visually hyperlinks from text on the front page"
Would it be possible to change the styling of the hyperlinks for the portal front page to indicate what text is hyperlinked? As is, it is impossible to know if certain text is hyperlinked or not, until you mouse over.

![2021-02-24_12-29-01](https://user-images.githubusercontent.com/313942/109057273-894fe100-76af-11eb-9aa4-048a29049cb0.gif)

It would be very helpful if hyperlinks were distinguishe

[2021-02-25 15:06] ulrikew commented on #527
Alphabetic 👍  Looks good

[2021-02-25 17:52] madelyngreyes commented on #514
Scroll down on cohort manifest export confirmation page is working as expected,
![Screen Shot 2021-02-25 at 12 51 27 PM](https://user-images.githubusercontent.com/16824894/109195221-40a82e80-7768-11eb-8e79-08cb5468185e.png)

[2021-02-25 17:53] madelyngreyes commented on #506
New clarification section for filters returned,
![Screen Shot 2021-02-25 at 12 53 05 PM](https://user-images.githubusercontent.com/16824894/109195422-7cdb8f00-7768-11eb-8859-95e098339c81.png)

[2021-02-25 19:37] madelyngreyes opened #557 "Add email used to link to Google on account connections page"
**Is your feature request related to a problem? If so, let us know**
related to ticket, https://github.com/ImagingDataCommons/IDC-WebApp/issues/538

**Enhancement description**
On the account connections page I was able to link my @csra.com email with my @gdit.com email address but, the gdit email is not listed anywhere.

**Screenshots**
![108555673-c8eb8700-72c3-11eb-9cb2-459bd41e3ee3](https://us

[2021-02-25 22:30] wlongabaugh commented on #506
@G-White-ISB I'm wondering if the pie chart shown in the glyph (corresponding to nothing selected) should correspond the the attributes selection (Abdomen selected). I found that somewhat perplexing when trying to understand what was being conveyed.

[2021-02-25 23:26] s-paquette commented on #535
@fedorov @madelyngreyes Is this working now?

[2021-02-25 23:27] s-paquette commented on #523
@G-White-ISB Has this been changed away from an alert and to a simple text message in the table, etc.?

[2021-02-25 23:29] s-paquette commented on #506
@wlongabaugh @fedorov Is this considered testing passed? (That glyph is simply a fixed image, it's not a realtime drawing.)

[2021-02-25 23:30] #453 closed

[2021-02-25 23:32] #454 closed

[2021-02-25 23:34] s-paquette commented on #528
@ulrikew A quick note, the reason they're present is we were told to make the page look similar to GDC, which has both the buttons and the same links in the header.

[2021-02-25 23:41] wlongabaugh commented on #506
My preference would be to swap in this image instead and then consider it testing passed:
![results_glyp2](https://user-images.githubusercontent.com/8441547/109234059-d602ed00-777f-11eb-8c70-8c82b50f4e52.png)

[2021-02-25 23:51] G-White-ISB commented on #506
Concur with change proposed in image. Actually I had meant the filter selection to correspond with the pie chart.

[2021-02-26 00:03] G-White-ISB commented on #523
No, its not been on my radar for a while.

[2021-02-26 00:04] s-paquette commented on #523
Got it--gonna bump it into Sprint 19

[2021-02-26 14:29] ulrikew commented on #528
@s-paquette Thank you, Suzanne. Bill L. mentioned it in one of the stakeholder meetings.

[2021-02-26 20:24] s-paquette commented on #532
@madelyngreyes If the regression test is done we can mark this as testing passed.

[2021-02-26 20:29] s-paquette commented on #552
@fedorov @madelyngreyes This is now on test.

[2021-02-26 20:30] s-paquette commented on #522
@fedorov @ulrikew @madelyngreyes This is now available on test.

[2021-02-26 20:31] s-paquette commented on #506
@G-White-ISB Are we going to get to this adjustment this Sprint, or should I push this into Sprint 19?

[2021-02-26 20:33] wlongabaugh commented on #506
@G-White-ISB  Should be able to take the above image and drop it in place. Original file just edited.

[2021-02-26 20:51] G-White-ISB commented on #506
I can put this in now.
George

On Fri, Feb 26, 2021 at 12:33 PM wlongabaugh <notifications@github.com>
wrote:

[2021-02-26 21:12] G-White-ISB commented on #506
In a PR. Nothing else is changed.

On Fri, Feb 26, 2021 at 12:51 PM George White <george.white@isbscience.org>
wrote:

[2021-02-26 21:48] fedorov commented on #506
I am not a 508 compliance expert, but dark blue on dark grey for the link color does not strike me as good contrast.

[2021-02-26 21:49] fedorov commented on #522
I am not a 508 compliance expert. @ulrikew is there any chance Tin can be included in this discussion?

[2021-02-26 21:52] fedorov commented on #535
it worked for me when I tried second time, I didn't do any further testing

[2021-02-26 22:03] s-paquette commented on #522
@ulrikew @fedorov It'd be preferable for any 508 concerns to be addressed in their own ticket, as that wasn't the specified issue in this ticket. (Trying to avoid scope creep in specific task items.) We have a 508 ticket in #555, which would be where we should focus that discussion.

[2021-02-26 22:05] s-paquette commented on #506
@fedorov We can I think make a separate ticket for addressing 508 items such as contrast, so as to minimize scope creep. The new proposed image is now live on idc-testing; does it address the ticket's original concerns?

[2021-02-26 22:05] ulrikew commented on #522
Has the decision been made to have checkboxes as mentioned in  #555?

[2021-02-26 22:09] s-paquette commented on #522
@ulrikew Yes, that'll be done in hopefully Sprint 19 (depends on our workload otherwise).

[2021-02-27 16:23] fedorov commented on #506
I thought this belongs to this ticket, since we are introducing a new feature, and my comment was specifically about testing of that new feature. Again, I am not in a position to comment on 508. All I am saying is that the choice of colors in the tooltip for this specific feature implemented in this ticket is suboptimal.

[2021-03-01 14:08] madelyngreyes commented on #535
I received this email when registering with a brand new email, I then was able to verify my email but, got a notification only members of idc_group can access the server. Can do further testing on production to run workflow as end user perspective.

<img width="982" alt="Screen Shot 2021-03-01 at 9 04 05 AM" src="https://user-images.githubusercontent.com/16824894/109508226-a0a31b80-7a6d-11eb-8dbf-

[2021-03-01 14:16] madelyngreyes commented on #522
Number of entries selected in the series panel matches the number of series' selected in the selected studies panel in the screenshot below,
<img width="1067" alt="Screen Shot 2021-03-01 at 9 13 53 AM" src="https://user-images.githubusercontent.com/16824894/109509313-c1b83c00-7a6e-11eb-9ade-0c41e88a3657.png">

[2021-03-01 16:41] G-White-ISB commented on #522
@urlikew and @fedorov, are clicking the checkboxes going to be the only way to select a row or can one still highlight the row itself?

[2021-03-01 17:13] fedorov commented on #522
I am fine either way.

[2021-03-01 18:41] s-paquette commented on #506
@fedorov We generally try to keep 508 compliance in its own ticket or tickets, because those changes are often small tweaks which are best done en masse rather than issue by issue. (Also because we run the test as a separate pass.)

[2021-03-01 21:28] fedorov commented on #522
Am I the only one finding it not particularly intuitive or usable that the only way to un-select individual rows is to do control-click for those already selected?

[2021-03-01 21:37] G-White-ISB commented on #522
?? That's not how its supposed to work, nor how its working in my experience (Mac, Safari or Chrome). If you click a row that's already selected, the corresponding rows in the following table will be removed. You should not need to do control click, just click.

[2021-03-02 00:06] madelyngreyes commented on #534
user details page example below,
![Screen Shot 2021-03-01 at 7 06 21 PM](https://user-images.githubusercontent.com/16824894/109576157-403dc980-7ac1-11eb-84b9-41fce5b6c885.png)

[2021-03-02 00:06] #534 closed

[2021-03-02 00:19] #487 closed

[2021-03-02 00:40] madelyngreyes commented on #487
Cohort manifest export example format on the production tier,

![Screen Shot 2021-03-01 at 7 19 41 PM](https://user-images.githubusercontent.com/16824894/109577142-1b4a5600-7ac3-11eb-8cce-2df103f8e938.png)

[2021-03-02 15:37] fedorov commented on #522
Ok, I really don't know how it is supposed to work. My (apparently, incorrect) expectation was that the behavior would be the same as when selecting multiple files on desktop - click+ctrl adds a new file to selection, but click without control resets the selection to just the single file clicked.

I tested it just now on the production tier, and apparently all tables multi-select without the need

[2021-03-02 16:57] G-White-ISB commented on #556
Call out for opinions - should the hyperlinks be bold, underlined, etc?

[2021-03-02 20:35] s-paquette opened #563 "Add datacommons.cancer.gov to homepage"
Per IDEA, add a link back to the datacommons.cancer.gov site to the top of the homepage (see PDC).

[2021-03-03 14:02] fedorov commented on #556
Making them underlined in all places would make the site consistent with itself.

[2021-03-03 14:11] pieper commented on #556
Yes, a consistent underlining of links would be a web-standard approach.

[2021-03-03 14:13] #527 closed

[2021-03-03 14:18] madelyngreyes opened #564 "Qualitative analysis filter default settings improvements"
**General description**

Text cut off for filter selection and, show less was set as default setting for calcification filter.

**Steps to reproduce the behavior**

1. go to the explore page
2. go to the derived tab
3. open the Calcification tab
4. show less is set as the default
5. open the Internal Structure tab
6. there is text cut off for the check all/ uncheck all option

**Screenshots**
<img

[2021-03-03 14:25] #514 closed

[2021-03-03 14:28] madelyngreyes commented on #528
<img width="618" alt="Screen Shot 2021-03-03 at 9 27 49 AM" src="https://user-images.githubusercontent.com/16824894/109820221-cd3c6c00-7c02-11eb-979f-1b932bdcc000.png">

[2021-03-03 14:28] #528 closed

[2021-03-03 21:58] ulrikew commented on #528
👍

[2021-03-04 13:19] ulrikew opened #565 "Add manifest export/download to cohort list page"
Please investigate if the export cohort manifest button can be shown on the cohort page rather than the search screen.

On the Cohort screen, users have to click the name of the cohort which btw is not marked as a link by underlining it to go to the search results screen where they find the Export Cohort Manifest button.
This is neither user-friendly nor intuitive.

The "Delete cohort" functionali

[2021-03-04 19:03] G-White-ISB commented on #522
@fedorov I am seeing the same behavior you recorded above. In my last comment I expect my browser may have used a cached version of some javascript sources.
We are close to implementing selection with checkboxes only, which is the same as in https://portal.gdc.cancer.gov/, and  the same as in https://public.cancerimagingarchive.net/nbia-search/ (if you replace the shopping cart with a checkbox)

[2021-03-04 20:38] madelyngreyes commented on #552
<img width="386" alt="Screen Shot 2021-03-04 at 3 38 00 PM" src="https://user-images.githubusercontent.com/16824894/110027161-a3b53a80-7cff-11eb-9494-6640f977f761.png">

[2021-03-04 20:38] #552 closed

[2021-03-04 20:39] #521 closed

[2021-03-04 20:42] madelyngreyes opened #566 "Selected studies panel # of series column asc/desc broken"
**General description**

Ascending and descending order incorrect for # of series column

**Steps to reproduce the behavior**
1. go to explore page
2. select a collection
3. select multiple cases
4. select the # of series column to sort
5. the numerical count is not in descending order

**Screenshots**
<img width="1440" alt="Screen Shot 2021-03-04 at 3 39 27 PM" src="https://user-images.githubuser

[2021-03-04 20:44] madelyngreyes opened #567 "section 508 enhancements to pie chart explanation"
**General description**

 New description of pie chart functionality needs to be section 508 compliant.
related to ticket, https://github.com/ImagingDataCommons/IDC-WebApp/issues/506

[2021-03-04 20:44] #506 closed

[2021-03-04 20:45] #538 closed

[2021-03-04 20:48] madelyngreyes commented on #535
<img width="989" alt="Screen Shot 2021-03-04 at 3 47 50 PM" src="https://user-images.githubusercontent.com/16824894/110028265-078c3300-7d01-11eb-95a0-d740b1d1d9e9.png">

[2021-03-04 20:48] #535 closed

[2021-03-04 20:48] #532 closed

[2021-03-04 21:10] fedorov commented on #522
@G-White-ISB what effect, if any, will this selection have on the definition of the cohort?

[2021-03-04 21:17] G-White-ISB commented on #522
@fedorov - no effect.  The cohort is defined by the filter definition and the data version number, which are not changed by what you select to view in these tables.The table selections allow one to view information pertaining to the cohort as it is already defined.

[2021-03-05 17:10] #519 closed

[2021-03-05 18:24] s-paquette commented on #374
@G-White-ISB

[2021-03-08 17:13] fedorov opened #568 "IDC consortium logo should be removed from the login page"
IDC consortium logo (image right above the user name) should be removed from the login page

![image](https://user-images.githubusercontent.com/313942/110355836-a79ad280-8007-11eb-839d-5b9010338c44.png)

[2021-03-08 17:58] fedorov commented on #568
Let's just put text "Sign in with IDC credentials" instead, to keep things simple.

[2021-03-08 23:03] s-paquette commented on #542
So, one thing I just realized, this is already supported in any browser--if you right-click on a link (or command click) you get a context menu with 'copy link text' and 'copy link address' etc. We can definitely add this, but it might be a confounding addition. (Copying the Table name, on the other hand, makes perfect sense.)

[2021-03-08 23:43] s-paquette commented on #565
Definitely can be done!

[2021-03-08 23:46] s-paquette commented on #554
Just adding a note that this would be a significant addition, and include a cron task or similar to time out the entries on the display page, so we'd need to decide how important we think it is.

[2021-03-09 00:26] s-paquette commented on #517
@madelyngreyes Not sure how this never got flagged for testing but it's in production.

[2021-03-09 00:29] s-paquette commented on #490
@ulrikew Would Andrey's suggested changes address this? We have it on our radar to come up with a way to track prior exports and if they're still available provide a link from the cohort list page. (As the tables time out after 7 days we need to come up with a cleanup mechanism, so we're still brainstorming.)

[2021-03-09 00:31] s-paquette commented on #457
@madelyngreyes Is this still pending?

[2021-03-09 02:10] fedorov commented on #542
I was indeed talking about the table name.

[2021-03-09 13:53] ulrikew commented on #490
Yes, that would be helpful.

[2021-03-09 16:44] madelyngreyes commented on #522
Can this ticket be closed by chance?

[2021-03-09 16:46] #517 closed

[2021-03-09 16:46] #457 closed

[2021-03-09 18:27] G-White-ISB commented on #522
Superseded by #555, so lets close

[2021-03-09 18:27] #522 closed

[2021-03-11 03:57] s-paquette commented on #556
The main issue is, due to the number of links on the site, it really makes the site look ungainly. Especially the Navbar.

Note that none of the other sites use underlining on their links:
https://proteomic.datacommons.cancer.gov/pdc/
https://gdc.cancer.gov/access-data/data-access-processes-and-tools

There's a reason for this: it's visually ugly any time you have a large number of links, and in a

[2021-03-11 12:49] pieper commented on #556
True, underlining isn't really the issue, just visually distinct and consistent on all our pages is the key issues.  Good idea to try to maintain visual consistency with other data commons nodes.

[2021-03-11 18:26] fedorov commented on #556
I have nothing to say other than restate the title of the issue: "Need to be able to distinguish visually hyperlinks from text on the front page"

[2021-03-12 19:20] G-White-ISB commented on #555
Currently on dev-tier:

Each row in the Collections, Cases, and Studies table now has a checkbox. Checking the checkbox opens the relevant rows in the 'child' table. Unchecking the checkbox removes those rows. The checkbox is similar to the shopping cart icon in TCIA. One can no longer select a row by clicking anywhere on it - one must check the box. The Studies/ Series tables also have +/- icons

[2021-03-15 15:10] ulrikew opened #578 "Increase number of items that can be shown on a page"
This item falls under the general topic of "The IDC GUI needs to handle a lot of data".

Right now users can show up to 50 items on a single page under collections, cases, studies, and series.
This should be increased.
The collections in TCIA range from 6671 to one cases per collection. Pagination with a max set of 50 will not work.
NBIA currently has 500 as maximum per page which in my opinion is

[2021-03-15 15:16] ulrikew opened #579 "Will there be a "select all" checkbox and what is the function of the checkbox?"
This item falls under the general topic of "The IDC GUI needs to handle a lot of data".

Will there be a function to "select all" after the implementation of checkboxes as a selection mechanism? If so, will the "select all" checkbox select all items on a page e.g. all 50 cases shown on the first page of the result set that contains 125 cases or will the "select all" checkbox select all 125 cases?

[2021-03-15 18:11] ulrikew commented on #579
Thank you, George, for reminding me about the comment in #555. I will close this ticket.

[2021-03-15 18:11] #579 closed

[2021-03-16 15:59] G-White-ISB commented on #564
I saw that earlier. Fix deployed in dev

[2021-03-16 16:05] G-White-ISB commented on #566
It's doing alphabetical sorting "27" >"5" rather than numeric. Will fix

[2021-03-16 16:06] G-White-ISB commented on #567
@madelyngreyes. Do you have suggestions for a fix?

[2021-03-16 17:06] fedorov commented on #578
@ulrikew there is no technical obstacle that would prevent us from doing this, but we have doubts this will be helpful to the users of the portal.

* the page will be very long and difficult to navigate
* page load time may increase noticeably
* we have multiple tables on the portal page, further increasing the height of the page

We are also not sure what is the use case that would benefit from t

[2021-03-16 20:14] ulrikew commented on #578
@fedorov
I made the request under the assumption that selecting from the list of search results influences the cohort. If I understand correctly, this is not currently the case. Are there plans to let the user modify the cohort based on which collections/cases/studies/series are selected on the search results screen? (shopping cart principle)

If users can select from the search screen using the c

[2021-03-16 21:03] fedorov commented on #578
Ulli, adding the ability to form a cohort based on selected items at the case/study/series level is not something actively developed at the moment. Our main priority on the webapp side right now is to address the needs of data versioning, and I don't have a good idea how long this will take.

If we indeed think this is a valid use case, and it might, and 300 will not be the default selection of th

[2021-03-24 20:44] fedorov commented on #414
@G-White-ISB @s-paquette can we switch to using `tcia_api_collection_id` from `idc-dev-etl:idc_v2.auxilliary_metadata` for the name of the collection displayed in the webapp?

![image](https://user-images.githubusercontent.com/313942/112380706-18a4e000-8cc0-11eb-8895-68684f530aac.png)

[2021-03-29 13:26] fedorov opened #582 "Implement opt-in screen to allow IDC user contact"
Similar to how this is done in ISB-CGC, follow up on https://app.zenhub.com/workspaces/overall-project-workspace-5d39f406a4f118000112b4bb/issues/imagingdatacommons/idc-projectmanagement/851.

[2021-03-30 16:34] madelyngreyes opened #583 "selection of the back button on the exploration page will clear the filter definition panel"

[2021-04-06 16:21] fedorov opened #585 "Develop approach to indicate collections that have non-human data on the front page"
The we discussed and agreed is to have an icon for mouse and an icon for a dog. When a given primary site has collections that have non-human data, the entire icon for the corresponding non-human species is changing appearance.

[2021-04-06 16:25] fedorov opened #586 ""Show more" should show on top of the list, not the bottom"
When shown at the bottom, it disappears at the bottom of the scroll area.

[2021-04-06 16:39] fedorov commented on #565
We will also need this capability in order to support migration of cohorts into new data version. We will need to be able to support export of the cohort using the original version this cohort was created from.

[2021-04-08 01:23] s-paquette opened #588 "DICOM source name hard coded in several places to aid the display"
In numerous places, the DICOM source Solr name is hard-coded for purposes of fetching data out of the context and result set for displaying in the UI. This needs to be refactored to make no use of the source name, as this will change from data version to version.

Eg., in idc/template_tags/custom_tags.py: https://github.com/ImagingDataCommons/IDC-WebApp/blob/a2b3962e9cbdaa848fcffcdcc164d613bdabba1

[2021-04-13 18:02] fedorov opened #590 "Improve support for analysis results collections"
Per discussion on the call today, we need to have better support for analysis results collections.

These may need to be broken into separate issues in the future, but I wanted to record our decisions per discussion today so they are not lost.

Overall motivation for the items below are:
* provide prominent visibility to the analysis results collections and their contributors in the webapp UI
* su

[2021-04-15 16:43] G-White-ISB commented on #588
So web app code is refactored to expect the derived sources to have names in the pattern *:quantitative, *:qualitiative, *:segmentation. Note that some of the etl code is still hard coded with the source name

[2021-04-15 18:14] s-paquette opened #593 "Provide user with the selection of the analysis results collections under the Search Scope tab."
Broken out from #590

A few things we need to consider:

- What is the value we're displaying for selection? The DOI, the name of the results collection, something else...?
- How do we plan to keep this list of values up to date? Right now, all attributes used in filtering are a complete list of values, but this would imply a sub-set of values (analysis results DOIs, as opposed to ALL DOIs)
- Coun

[2021-04-15 20:13] G-White-ISB commented on #414
TCIA collection names (https://www.cancerimagingarchive.net/collections/) should now appear consistently in IDC

[2021-04-15 23:11] fedorov opened #595 "Cohort export is broken - filter appears to be applied at series or instance level, not case level"
TL;DR: "I select the filter as in screenshot; I export the cohort; I look at the cohort in BQ, and it does not include anything other than SEG series"

Issue reproducible after "clear cache and hard reload"

https://imaging.datacommons.cancer.gov/
![image](https://user-images.githubusercontent.com/313942/114948587-4b547b00-9e1d-11eb-9934-6c8be75cc868.png)

As expected, cohort summary is showing CT

[2021-04-16 16:38] fedorov commented on #414
Great, thanks - I see it on dev.

Did you notice that now there are some rendering issues do to lack of wraparound for top-level names?

![image](https://user-images.githubusercontent.com/313942/115056279-9e2b4280-9eb0-11eb-83a1-d9755ac01364.png)

[2021-04-19 02:27] s-paquette commented on #595
I've fixed the issue with derived filters not properly exporting all of a study. However, we need to decide HOW we want study level inclusion to work. There's two main ways:

1. When we say the records are included at the study level, we mean ALL of the records from the study; as a result, even records which don't match the filter come along. (In effect, the filter is used to determine studies *co

[2021-04-19 15:18] fedorov opened #599 "Fix link to the page explaining cohort count"
The correct URL to be used in the tooltip below is https://learn.canceridc.dev/portal/data-exploration-and-cohorts#understanding-counts-in-the-search-results.

[2021-04-19 15:21] fedorov commented on #595
@s-paquette thank you.

That's how we've been defining the cohort all along, see https://learn.canceridc.dev/portal/data-exploration-and-cohorts#understanding-counts-in-the-search-results.

No! We should not include cases that have records, which lack a value for that specific filter!

Did you figure out why this regression happened? I am confident export was working in production at some point.

[2021-04-19 15:22] fedorov commented on #599
![image](https://user-images.githubusercontent.com/313942/115261312-826aab00-a101-11eb-867f-44140d29c2db.png)

[2021-04-19 16:30] wlongabaugh commented on #595
@s-paquette, what is the use case for #2? Trying to wrap my head around this.

[2021-04-19 18:27] s-paquette commented on #595
@fedorov

I'm speaking of the study level, not the case level. The difference between #1 and #2 is:

For #1, all instances from the studies identified are included.
For #2, only instances which have a matching value or which have NO value are included from that study.

Let's say we have 2 studies, A and B. A has instances which match a given filter, or which are NULL. B has instances with values t

[2021-04-20 11:54] fedorov commented on #595
@s-paquette I think the reason I am confused is because this bug is about production tier, and in production tier we only have cohort defined at case level. The topic you are raising is important for introducing study- and series-level filters, but I thought it is different from fixing the bug we currently have in production.

Use case `#1` is appropriate if we apply filtering at the study level,

[2021-04-20 17:07] fedorov commented on #451
@ulrikew I find the absence of scroll bar on the left side to be very limiting. I think it would be very helpful for improved usability of the portal to be able to scroll through the search options without moving the results of the search out of view. This became a particularly problematic issue looking at the v2 with the extent of the number of collections and options in the portal.

I suggest th

[2021-04-20 17:22] ulrikew commented on #451
Yes, let's revisit. I have only access to the test tier and don't see the full list of collections there.

[2021-04-22 13:51] madelyngreyes commented on #595
<img width="1097" alt="Screen Shot 2021-04-22 at 9 50 57 AM" src="https://user-images.githubusercontent.com/16824894/115725954-46795500-a350-11eb-92a4-f172042c9dfd.png">

Seems to be working on the test tier as expected again.

[2021-04-25 01:50] fedorov opened #602 "Support cohort filter application granularity at case/study/series levels"
Currently, the counts reported in the portal are the counts of cases that match the cohort filter, while for the export of the cohort, the filter is applied at the study level.

It might be a useful feature to support application of cohort filter at series or study level, based on user selection. I am not sure filter-based selection at case level is as useful as study- and series-level.

@s-paquet

[2021-04-25 02:56] madelyngreyes opened #603 "IDC dev tier test run results report"
Test run of home page and exploration page report can be found below,
https://app.qase.io/public/report/acf06626bf7c8ee084f728598245511aeabd7d86

[2021-04-26 01:49] fedorov commented on #568
@s-paquette can this be included in the upcoming hotfix please?

[2021-04-26 02:51] fedorov opened #604 "Support sorting by date in studies/series tables"
As pointed out by a user in this thread https://discourse.canceridc.dev/t/tcga-gbm-tutorial-notebook/162, some cases contain multiple studies (and TCGA-GBM collection contains cases with over 10 studies!), and sorting by date is a much needed feature.

[2021-04-26 14:52] madelyngreyes opened #605 "unable to export cohort to BigQuery"
**General description**
When attempting to export a cohort you are returned the error message, "Unable to export cohort file manifest to table canceridc-user-data.user_manifests.manifest_cohort_181_20210426_144515--please contact the administrator."

**Steps to reproduce the behavior**
I believe the the issue has to due with the filter selections, filters used are listed below.

COLLECTION IN (tcg

[2021-04-26 15:14] madelyngreyes commented on #605
Clicking the failed button will display screenshots and videos of bugs in the test report.

[2021-04-26 15:20] madelyngreyes commented on #603
Clicking the failed button will display screenshots and videos of bugs in the test report.

[2021-04-26 15:35] s-paquette commented on #568
It will roll out when V2 data was; I'd need to, in effect, re-do the change to hotfix it. I can if we want to but it's basically a duplication of the effort.

[2021-04-26 17:29] G-White-ISB commented on #604
I thought dates are randomized/meaningless as part of the de-identification process

[2021-04-26 17:44] fedorov commented on #568
Let's hold it then, I didn't know how difficult it would be to include it.

[2021-04-26 20:36] s-paquette commented on #605
Issue seems to be related to SOPClassUID being detected as a numeric type and not a string--oddly I could swear we dealt with this for the API already, so I'm poking at how this is a problem again.

[2021-04-26 21:06] s-paquette commented on #605
Okay, bug identified. I guess we never tested SOPClassUID as one of the 'strings which has a lot of numbers in it' because it wasn't added to the BQ type schema which defines the types for any possible weirdness. Going to adjust this for hopefully some better guidance here in the BQ filter builder.

[2021-04-26 21:17] s-paquette commented on #605
Right, it turns out there's no easy way to tell that '1.4.6.3.2' is a string while '1.4' might be a number, due to how it's possible to send in numeric values AS strings in BigQuery. (The parameter type is used by BQ's API to cast the parameter, so you can send whatever you want.)

So, added SOPClassUID to the type schema list of 'looks like a number, actually is a string' alongside all the other

[2021-04-26 21:17] s-paquette commented on #605
@fedorov Did you want me to drop this in as a hotfix? I can put it on test alongside the current one for @madelyngreyes to look at it, and if both are all clear I'll put them onto production.

[2021-04-26 22:58] fedorov commented on #605
I don't have objections dropping this in as a hotfix.

[2021-04-26 22:59] fedorov commented on #604
No, they are most definitely not meaningless. It depends on the program, I guess, but for longitudinally collected data the dates are shifted to maintain temporal context.

[2021-04-27 19:42] s-paquette commented on #605
@madelyngreyes Now available on test.

[2021-04-28 01:56] madelyngreyes commented on #605
Able to export cohort on the test tier with filters used in the original screenshot.
<img width="1316" alt="Screen Shot 2021-04-27 at 9 55 25 PM" src="https://user-images.githubusercontent.com/16824894/116334558-6c18bb00-a7a3-11eb-8b5a-00cf6890285e.png">

[2021-04-28 18:47] fedorov commented on #593
Here are the short names for the analysis results collections we currently include, as coordinated with TCIA (see this issue https://help.cancerimagingarchive.net/servicedesk/customer/portal/1/TH-47291):
* PROSTATEx Zone Segmentations - PROSTATEx-Seg-Zones
* High Resolution Prostate Segmentations for the ProstateX-Challenge - PROSTATEx-Seg-HiRes
* DICOM SR of clinical data and measurement for brea

[2021-04-29 16:31] fedorov opened #608 "Program assignment for TCIA collection"
The work is ongoing to assign program to individual collections, see current status here, in coordination with TCIA and @kirbyju:
 https://docs.google.com/spreadsheets/d/1-sk8CMTDDj-deKv7sXglLvHUhDSNS1cRqUg5Oy5UpRY/edit#gid=0.

Issue in TCIA: https://help.cancerimagingarchive.net/servicedesk/customer/portal/1/TH-47350.

[2021-04-29 17:28] madelyngreyes commented on #595
Example of a cohort created on the production tier, exported, and then queried by modality,
<img width="691" alt="Screen Shot 2021-04-29 at 1 23 05 PM" src="https://user-images.githubusercontent.com/16824894/116593051-acd11b00-a8ee-11eb-9672-43c6e9b1d153.png">

[2021-04-29 17:28] #595 closed

[2021-04-29 22:16] madelyngreyes commented on #605
Cohort was successfully exported on the production tier.
<img width="1300" alt="Screen Shot 2021-04-29 at 1 41 51 PM" src="https://user-images.githubusercontent.com/16824894/116624992-e3229080-a916-11eb-89b7-4fe49f933645.png">

[2021-04-29 22:16] #605 closed

[2021-05-04 15:21] fedorov commented on #451
@madelyngreyes I think we were planning to revisit this.

[2021-05-04 16:13] fedorov commented on #451
I personally like how on GDC portal the left scroll area height is adjusting to the height of the right side panel when the number of items is changing:

![image](https://user-images.githubusercontent.com/313942/117035170-014f0e80-acd2-11eb-9571-ec5ddcbc7a43.png)

Also note there is a single left-side scrollable area in GDC Portal.

[2021-05-04 16:15] fedorov commented on #451
Will revisit once v2 is available to @ulrikew in the test tier.

[2021-05-04 16:31] fedorov opened #610 "BodyPartExamined capitalization should not be altered"
Currently, there is some transformation applied, while original values are most often all caps (per DICOM definition of this attribute).

[2021-05-05 16:19] fedorov opened #611 "[v2] Study/SeriesDescription incorrectly shown as "undefined""
Example filter:

![image](https://user-images.githubusercontent.com/313942/117174545-d29d6a80-ad9b-11eb-8478-6a4122d0ee93.png)

Selecting study/series shows "undefined" for descriptions:

![image](https://user-images.githubusercontent.com/313942/117174510-c7e2d580-ad9b-11eb-931e-a6ef8d041616.png)

Opening a study in the viewer can be used to confirm that descriptions of series are not "undefined"

[2021-05-05 18:18] fedorov opened #612 "When dev-portal logs me out, I am brought to idc-dev"
when dev-portal logs me out, I am brought to idc-dev

![image](https://user-images.githubusercontent.com/313942/117189921-bfdf6180-adac-11eb-9de5-f9ce66e08c11.png)

[2021-05-11 16:07] fedorov opened #617 "Derived filters are not handled properly for export to BQ (download is fine)"
![image](https://user-images.githubusercontent.com/313942/117848425-4be00600-b251-11eb-9913-6a7f74bd6177.png)

[2021-05-11 16:19] fedorov opened #618 "Need to hide the remark re analysis collections"
The note below does not seem to apply in v2

![image](https://user-images.githubusercontent.com/313942/117850150-08869700-b253-11eb-961b-73031bf28610.png)

[2021-05-12 06:22] s-paquette commented on #610
Switched BodyPartExamined to preformatted_values: 1

[2021-05-12 06:23] s-paquette commented on #565
Partially done - download part isn't functional yet, choosing a large number of cohorts will get a 500 if the request is > 30s

[2021-05-12 06:24] s-paquette commented on #550
@fedorov This has been overhauled and is now on test.

[2021-05-12 06:25] s-paquette commented on #611
Partially done: the most recent v2 Solr cores will now properly supply all Series and Study description values available as a list. @G-White-ISB You'll need to concatenate them for display in some manner. For empty values we should leave it blank for now.

[2021-05-12 06:28] s-paquette commented on #551
@fedorov This is now in test.

[2021-05-13 17:47] G-White-ISB commented on #611
@fedorov, how should we display study description in cases where there are  multiple descriptions

[2021-05-13 19:13] madelyngreyes commented on #221
For the filter option Derived tab Lobular Pattern, the sort by is not working as expected.

https://user-images.githubusercontent.com/16824894/118175049-9605ea80-b3fd-11eb-92d3-5754983af13a.mov

[2021-05-13 19:26] madelyngreyes opened #622 "400 error if many filters selected will cause an error on the exploration page"
Selection of all filters from the collections, body part examined, and the modality filter options will cause an infinite loading wheel to appear, and a 400 error within the dev console.

<img width="1333" alt="Screen Shot 2021-05-13 at 3 19 44 PM" src="https://user-images.githubusercontent.com/16824894/118176519-82f41a00-b3ff-11eb-9f82-fb8d0279ab54.png">

[2021-05-13 19:38] madelyngreyes commented on #414
There is another field that has text cut off.

<img width="1322" alt="Screen Shot 2021-05-13 at 3 37 26 PM" src="https://user-images.githubusercontent.com/16824894/118177844-3a3d6080-b401-11eb-82f3-90b75392cd82.png">

[2021-05-13 20:18] ulrikew commented on #414
We have similar issues in NBIA and have brought this up as a topic in this morning's NBIA/TCIA call. Our plan is to work towards a size limit for the collection short names. Which max length would IDC prefer?

[2021-05-13 21:15] fedorov commented on #611
Here are two ideas:
1. pick any one SeriesDescription, show it with an asterisk, and show full list with the descriptions separated by comma in the tooltip
2. show concatenated list of descriptions separated by comma

Probably option 2 is least controversial. What do you think?

[2021-05-13 21:17] fedorov commented on #414
I am not sure it is a good idea to change the collection names for the existing collections, so I think we need to have a way to deal with the current lengths. Did you think about enacting the limit going forward, or also for the existing collections, Ulli?

[2021-05-13 21:46] madelyngreyes opened #623 "Unable to select a collection from the cohort details page"
On the test tier, after you create a cohort from the cohort details page you are no longer able to open the IDC viewer.

https://user-images.githubusercontent.com/16824894/118191748-16831600-b413-11eb-9785-ff3629f45fa3.mov

[2021-05-13 21:57] madelyngreyes opened #624 "Select all cohorts on the cohorts list page will return the error to contact the administrator"
https://user-images.githubusercontent.com/16824894/118192420-1d5e5880-b414-11eb-8178-eed15c7dbcf0.mov

[2021-05-13 23:31] madelyngreyes opened #625 "selection of sapien cases count doesn't match the exploration page cases count for selection"
From the homepage the selection of the sapien filter option e.g. skin has a cases count of 141 cases. After this option is selected on the homepage the body part examined skin 60 cases are present for the filter.

The same can be seen for other filter selection options.

https://user-images.githubusercontent.com/16824894/118199727-b3e54680-b421-11eb-8d4a-65cde8afa223.mov

[2021-05-13 23:41] madelyngreyes opened #626 "selection of collection CT Colonography (ACRIN 6664) doesn't open the selected series related to cases selected"
On the test tier, from the exploration page if you select the collection CT Colonography (ACRIN 6664), then cases the selected studies panel doesn't populate with options for selection.

https://user-images.githubusercontent.com/16824894/118200417-fd826100-b422-11eb-8cca-a0f5d583d1cb.mov

[2021-05-14 13:01] ulrikew commented on #414
@fedorov I do not yet know the answer to your question. I will put it on the IRCoCo agenda for all to discuss.

[2021-05-17 20:38] G-White-ISB commented on #233
This seems to be resolved for now? We are using the longer Class name values such that the two Digital Mammo Classes have distinct names

[2021-05-17 20:43] G-White-ISB commented on #420
Remains an issue. Will see if I can resolve it.

[2021-05-17 20:54] G-White-ISB commented on #462
I don't believe this is still relevant

[2021-05-17 21:00] G-White-ISB commented on #516
Still an issue

[2021-05-17 21:07] G-White-ISB commented on #541
Cannot seem to export cohorts on either dev or testing portals right now.

[2021-05-17 22:50] s-paquette commented on #516
@G-White-ISB Can you specify what kind of error you're getting, or what's happening, and what filters you used? I can't reproduce this with any of my current cohorts on dev.

[2021-05-17 22:51] s-paquette commented on #541
@G-White-ISB Can you specify what filters are a problem? I can export just fine at the moment, but it might be related to the specific filters I have.

[2021-05-17 22:53] s-paquette commented on #541
Note, I'm unable to reproduce this error on dev.

[2021-05-17 23:08] G-White-ISB commented on #541
I have one cohort with collection in TCGA* and modality in Magnetic Resonance, and another with collection in ISPY1(ACRIN 6657). Neither csv download or BQ exports were successful

<img width="1133" alt="Screen Shot 2021-05-17 at 4 01 54 PM" src="https://user-images.githubusercontent.com/58443591/118566806-6b7f9e80-b729-11eb-98ad-9ebb45d1600b.png">
<img width="1133" alt="Screen Shot 2021-05-17 at

[2021-05-17 23:14] s-paquette commented on #541
got it--will test with those.

[2021-05-17 23:21] s-paquette commented on #541
@G-White-ISB One issue is 'hide zeroes' is being sent as a filter during saves:

selected-filters: {"1":["TCGA"],"107":["MR"],"120":["tcga_blca","tcga_brca","tcga_cesc","tcga_coad","tcga_esca","tcga_gbm","tcga_hnsc","tcga_kich","tcga_kirc","tcga_kirp","tcga_lgg","tcga_lihc","tcga_luad","tcga_lusc","tcga_ov","tcga_prad","tcga_read","tcga_sarc","tcga_stad","tcga_thca","tcga_ucec"],"undefined":["hide

[2021-05-17 23:30] madelyngreyes commented on #505
Chrome browser at 100% zoom on a laptop display the next button still appears to be displayed in another row.

<img width="1440" alt="Screen Shot 2021-05-17 at 7 29 31 PM" src="https://user-images.githubusercontent.com/16824894/118568647-451c2c00-b746-11eb-953b-266dac5f1574.png">

[2021-05-17 23:37] madelyngreyes commented on #462
Was able to select and save the cohort selection listed in the original note.
<img width="1440" alt="Screen Shot 2021-05-17 at 7 34 45 PM" src="https://user-images.githubusercontent.com/16824894/118569133-48fc7e00-b747-11eb-889f-4fecde6c8424.png">

[2021-05-17 23:43] madelyngreyes opened #628 "Unable to create a cohort with all collections present"
The selection of all collections then trying to save a cohort will cause the red notification error to appear stating, "Failed to save cohort!"

Video of test run is displayed below,

https://user-images.githubusercontent.com/16824894/118569491-0a1af800-b748-11eb-83ec-0d98c0479ed3.mov

[2021-05-17 23:52] madelyngreyes opened #629 "Select All enabled for cohort details when should be disabled"
After the end user goes to save a cohort. If they try to select one filter the checkbox becomes disabled for the filter selection. But, if the end user chooses select all, the filters are added to the saved cohort when I believe it should be disabled.

https://user-images.githubusercontent.com/16824894/118570027-37b47100-b749-11eb-948d-ccac28efb51c.mov

[2021-05-18 01:52] madelyngreyes commented on #555
Able to select a collection with more than 2,000 entries and trigger a notification. But, after the selection of okay the collection is still appears selected. The cases panel also did not populate with any entries. Video of the test run below,

https://user-images.githubusercontent.com/16824894/118578410-1f991d80-b75a-11eb-8a6e-0d38cdedcfab.mov

[2021-05-18 13:09] fedorov commented on #233
yes, this is resolved in test.

[2021-05-18 13:09] #233 closed

[2021-05-18 14:04] madelyngreyes commented on #550
The field order by name in descending order is not working as expected.

<img width="1307" alt="Screen Shot 2021-05-17 at 9 39 53 PM" src="https://user-images.githubusercontent.com/16824894/118577509-874e6900-b758-11eb-9b36-c4d4d95a2f49.png">

[2021-05-18 14:04] madelyngreyes commented on #544
New notification, when there are zero cases present for the filter selection. @fedorov
<img width="1321" alt="Screen Shot 2021-05-17 at 9 13 30 PM" src="https://user-images.githubusercontent.com/16824894/118575571-ca0e4200-b754-11eb-83d8-5f84e17808c9.png">

[2021-05-18 15:37] fedorov commented on #544
Why is it needed? Is it not possible to just show empty list?

[2021-05-18 15:41] fedorov commented on #555
I find the new approach to selecting items using checkbox only to be restrictive (user needs to click in a very specific small area). My personal preference would be to mimic the behavior of standard file picker selection (click to select, ctrl+click to toggle selection of a specific row, shift+click to select/unselect group of items, click when selection exists to unselect everything).

Selection

[2021-05-18 15:51] G-White-ISB commented on #544
We do show the empty list.
 Please see this issue which is specifically about what else to report when filter returns no cases.
https://github.com/ImagingDataCommons/IDC-WebApp/issues/523.

[2021-05-18 15:51] #544 closed

[2021-05-18 15:52] G-White-ISB commented on #523
We now generate stats to report as per @fedorov's comment above

[2021-05-18 15:59] ulrikew commented on #555
I like the checkboxes in particular in combination with the plus and minus signs that allow the user to select multiple rows and receive an indication of which items have been selected.
What still is very strange to me is that I cannot save a cohort based on the selections I made on the search results page.

[2021-05-18 16:00] ulrikew commented on #555
What does this message mean? Why is there a limitation on the number of rows that a user can select?
![image](https://user-images.githubusercontent.com/3019001/118684873-97099400-b7d0-11eb-9125-7c39517b9ba7.png)

[2021-05-19 04:12] G-White-ISB commented on #555
There is a limit on  the number of rows (currently 2000) the server can return to the web app AT ONE TIME. There is no way around having such a limit on returned rows in a single request. However we are going to handle this more intelligently such that the user can still select any size of rows. The rows will be sent to the web app in batches (sets of pages) as the user traverses the pages of rows

[2021-05-19 14:52] ulrikew commented on #555
@G-White-ISB Thank you for the explanation, George.

[2021-05-19 15:35] fedorov commented on #555
@ulrikew I would agree this would be helpful if it was possible to add the selected items to the cohort, but currently this is only used to define the items that would be included in the table below in the hierarchy.

I have never used/thought of using the plus/minus sign buttons. Now that I tried, I am confused about the behavior. See the recording below, noting the "Selected studies" number of e

[2021-05-19 19:07] G-White-ISB commented on #555
When you select cases in the cases table you are retrieving the associated Study level rows.  So when selecting all cases in the above you are asking to retrieve ~200 studies. But there is a bug such that the  webapp checks the total # number of series associated with the studies instead of the number of studies, which is greater than 2000.
I did not notice the 'click anywhere on row mystery' unti

[2021-05-19 21:21] fedorov commented on #555
I thought when I click the "+" sign, I am asking to retrieve only the studies on the current page, not on all pages. In fact, you can confirm this is what is happening (rather, appears to be happening) if you select a different collection, such as "AAPM RT-MAC Grand Challenge 2019".

![2021-05-19_17-19-24](https://user-images.githubusercontent.com/313942/118886102-850a1d00-b8c6-11eb-91a1-c11d79f63

[2021-05-19 22:02] G-White-ISB commented on #555
Correct, only the studies on the current page are selected.  The 10 4d-lung collections on the shown page in your previous video have about ~200 studies by my estimate

[2021-05-20 13:37] madelyngreyes commented on #586
<img width="379" alt="Screen Shot 2021-05-20 at 9 36 45 AM" src="https://user-images.githubusercontent.com/16824894/118988120-e970bf00-b94e-11eb-9f73-504f3fb77470.png">

Show more at the top of the filter.

[2021-05-20 13:39] madelyngreyes commented on #568
<img width="1081" alt="Screen Shot 2021-05-20 at 9 38 29 AM" src="https://user-images.githubusercontent.com/16824894/118988397-276de300-b94f-11eb-8ed8-bb617561625a.png">

Removal of logo from login page above.

[2021-05-20 16:53] G-White-ISB commented on #541
Several things:
1. If one selects 'hide zeros' in the Collections tab then "undefined":["hide-zeros"] gets sent as filter and the cohort is not saved. Thats clearly a front end issue.
2. I am now consistently exporting cohorts successfully via BQ in local environment. On dev tier xxport via BQ is RANDOMLY SUCCESSFUL, even with identical cohort. I don't have insight here.
3. I see a new specific bu

[2021-05-20 17:01] s-paquette commented on #541
I suspect #3 is related to an extent ticket. #2 I'll look into, make a ticket if needed. #1 if you can fix it quickly, no need for a ticket, just go ahead and PR when it's ready to go. If it looks like it'll be more work, then make a ticket I think, just to track your time for reporting etc.

[2021-05-20 21:39] #568 closed

[2021-05-20 21:39] #586 closed

[2021-05-20 21:40] fedorov commented on #555
I thought the limit was 2000, not 200. At least that's what the popup was saying.

[2021-05-21 03:17] madelyngreyes opened #630 "Manifest export to BigQuery returns an error, "invalid table ID "idc-testing.test_user_dataset.manifest_cohort_86_20210521_020536".""
On the test tier from the exploration page, if the user goes to export the cohort via BigQuery the export is successful. But, when the user then selects the export cohort manifest link, they returned an error in the BigQuery console.

https://user-images.githubusercontent.com/16824894/119073981-3474eb80-b9bc-11eb-8a6d-399f0cd76ddd.mov

[2021-05-21 13:05] madelyngreyes opened #631 "Homepage lists data volume as 0.0TB"
<img width="1315" alt="Screen Shot 2021-05-20 at 10 59 37 PM" src="https://user-images.githubusercontent.com/16824894/119075694-37bda680-b9bf-11eb-86e7-1549c95ec435.png">

[2021-05-21 13:05] madelyngreyes opened #632 "Triggered 500 errors with random filter selections"
Trying to see which exact filters are triggering the 500 error but, seems to be different filters every time so far.

<img width="1319" alt="Screen Shot 2021-05-20 at 11 02 56 PM" src="https://user-images.githubusercontent.com/16824894/119076515-b535e680-b9c0-11eb-948b-48f788f6e066.png">
<img width="1317" alt="Screen Shot 2021-05-20 at 11 07 36 PM" src="https://user-images.githubusercontent.com/16

[2021-05-21 13:07] madelyngreyes commented on #564
Format as expected on the test tier,
<img width="382" alt="Screen Shot 2021-05-20 at 10 46 32 PM" src="https://user-images.githubusercontent.com/16824894/119074570-46a35980-b9bd-11eb-99e6-a58380db2acf.png">

[2021-05-21 14:19] madelyngreyes commented on #563
Link is present at the top of the page,

https://user-images.githubusercontent.com/16824894/119074709-7ce0d900-b9bd-11eb-858a-e3dcc7c9d946.mov

[2021-05-21 14:20] madelyngreyes commented on #542
Able to copy the table name as expected,

https://user-images.githubusercontent.com/16824894/119075152-53747d00-b9be-11eb-9403-74d51e2ef8b0.mov

[2021-05-21 16:48] madelyngreyes commented on #625
Similar issue can be seen with the selection of a bar chart value. The count on the homepage doesn't match the count on the exploration page for the number of cases for the filter selection.

[2021-05-21 18:36] G-White-ISB commented on #628
I've traced this to the limit in the MySQL column 'value' in the table cohorts_filter:
Traceback (most recent call last):
  File "/home/vagrant/www/IDC-Common/cohorts/utils.py", line 186, in _save_cohort
    Filter.objects.bulk_create(filter_set)
  File "/home/vagrant/www/lib/django/db/models/manager.py", line 82, in manager_method
    return getattr(self.get_queryset(), name)(*args, **kwargs)
  F

[2021-05-21 22:11] s-paquette commented on #628
So this is what I was saying on Tuesday--we need to decide if we want to have a limit on allowed size of a list of cohort filter values, or not. If we want to have a limit, you'd need to enforce that on the front end. It can be a per-attribute level, so having one attribute with a lot of values won't impose a limit on the rest.

The alternative is I raise the cap, or, convert the field to text (wh

[2021-05-24 03:08] s-paquette commented on #631
@bcli4d Do we have a count for our total volume yet?

[2021-05-24 03:10] s-paquette commented on #630
Does this happen on dev, BTW? @madelyngreyes

[2021-05-24 03:12] s-paquette commented on #624
Closing asa duplicate of #622

[2021-05-24 03:12] #624 closed

[2021-05-24 03:14] s-paquette commented on #622
Note this is the same issue as #624 so I closed that as a duplicate.

We need to decide if we want to either limit the length of selected filters, or, change the data type in MySQL. In CGC we have a limit on how many filter values (which is the actual issue) a user can choose. @fedorov @ulrikew do we have a preference here?

[2021-05-24 03:18] s-paquette commented on #588
@madelyngreyes Note there's no formal testing for this, once various exploration filters are working right we can count this as resolved.

[2021-05-24 03:32] s-paquette commented on #625
The counts on the homepage are from the collections table itself, so it's possible the numbers there need looking at. I'll double-check and then ping BillC about it.

[2021-05-24 03:33] s-paquette commented on #629
All checkboxes need to be disabled when the page is open in cohort mode.

[2021-05-24 03:55] bcli4d commented on #631
6227264481922B

<br class="Apple-interchange-newline">

[2021-05-24 14:00] fedorov opened #634 "Update Primary site locations to correspond to TCIA values"
TCIA updated the values for the primary site recently. As an example, there is no longer "Head-and-Neck", only "Head-Neck". We should update the values in IDC to match TCIA, definitely before pushing test to production.

[2021-05-24 16:13] G-White-ISB commented on #628
In my opinion for both user experience and ease of front end development it would be better to increase the size of this column or convert it to text.

[2021-05-24 16:29] fedorov commented on #622
What are the likely or possible consequences of changing the data type in MySQL?

[2021-05-24 16:30] fedorov commented on #628
Is this related to #622?

[2021-05-24 16:45] s-paquette commented on #628
@fedorov  Yes--the same ticket keeps being re-entered. It'd be best if we could consolidate this into a single ticket.

[2021-05-24 16:52] s-paquette commented on #622
The main issue is size of the MySQL database long-term, and maintenance of it in a general sense. The more data users are storing, the bigger it gets, the more it will cost us. And even the text format has a limit of 65k characters, so as we obtain more collections that too will eventually be insufficient.

So although we can shift to text for now, we still need to consider a max long term.

[2021-05-24 16:56] G-White-ISB commented on #628
They are related but are distinct. #622 is for an error in  applying a large filter. This had to do with calling the server through GET instead of POST. This occurs prior to trying to save a cohort. I have a fix for this. THIS ticket is for saving a cohort with a longish list of attribute values after filtering is applied.

[2021-05-24 17:03] s-paquette commented on #628
Okay, for that purpose we can keep them separate, in terms of back-end vs. front end.

[2021-05-24 17:14] s-paquette commented on #631
@madelyngreyes Updated on dev and test.

[2021-05-24 17:56] G-White-ISB commented on #622
As implemented the DB stores a string listing all values (by name) selected for each attribute in the filter.  So 2 values with long names may require more space than 3 with short names. Current limit is 256 characters. Current worse case scenario (a string with all collection names) seems to be about 1700 characters.

[2021-05-24 18:02] s-paquette commented on #622
So this would buy us some time, but ultimately, we're going to hit a limit, and it'd be best if we decided what that is right now.

[2021-05-24 18:23] s-paquette commented on #617
Okay, I know what the issue is here. The issue is, there's no such cohort, actually. The reason is a bit more complex.

When setting up the new Solr indicies, I forgot that there's the notion of each instance within a series having different data values, when it comes to derived data. Which is to say, in Study 1, Series A, you maybe have Instances 00 and 01. 00 might have Volume NULL but Nodule fo

[2021-05-24 18:25] s-paquette commented on #617
@fedorov @wlongabaugh @bcli4d This does bring up a thorny issue, though--the notion of 'study level' attributes vs. 'series level' vs. 'instance level'. For example, are there attributes with values which are the same for all instances in a study, because it's effectively a trait of the study, and not the instances? (I'm thinking Body Part Examined.)

[2021-05-24 20:00] s-paquette commented on #617
Sidebar, maybe we DO want to let people search for series/studies with 'instances which have one OR the other of these values, at least one of each' vs. series/studies with 'instances which have BOTH values'. At any rate, I've looked up how to do the child-doc setup, not sure on how big such a core would be but we'll find out once I get it running.

[2021-05-25 16:22] madelyngreyes commented on #630
I have been testing only on the test tier.

[2021-05-25 16:31] s-paquette commented on #625
This is likely related to #635.

[2021-05-25 16:33] s-paquette commented on #630
@madelyngreyes All good, this is one both tiers now.

[2021-05-25 16:40] fedorov commented on #617
We discussed this today, @s-paquette will summarize next steps here.

[2021-06-01 19:18] s-paquette commented on #612
Problem in the .env file's base URL setting, should be fixed on dev and test.

[2021-06-01 19:22] s-paquette commented on #610
@fedorov Can you have a look and make sure this is now listing what it should?

[2021-06-01 23:20] fedorov commented on #610
Looks more like it should be now, but I don't know how I would be able to check against the actual value of BodyPartExamined. I think as a general rule, there should be no transformations applied to any of the attributes shown to the user in the portal, since otherwise it will lead to difficulties re-constructing the filter against BigQuery.

[2021-06-02 12:37] madelyngreyes opened #637 "Related filter selection TCGA issues on the cohort details page"
For the testing tier on the cohort details page, the end user can select the clear button for a range filter e.g. Age at Diagnosis.

Also, the end user can select show less/ show more but, no more filters are listed. This is due to the hide filters with zero cases checkbox being set. The show more/less should be disabled if there is nothing to display.

Video of issues encountered documented below

[2021-06-02 12:51] madelyngreyes opened #638 "Table should reformat when a long series description is present for the Selected Series panel"
On the cohort details page, for the test tier. If the end user selects a series with a long description to be displayed in the Selected Series panel, all other rows are cut off and not displayed correctly.

Screenshot of view for the end user below,

<img width="1346" alt="Screen Shot 2021-06-02 at 8 46 06 AM" src="https://user-images.githubusercontent.com/16824894/120482904-97349280-c37f-11eb-96b

[2021-06-03 16:12] fedorov commented on #451
@ulrikew do you have any comments on the suggestion to mimic the scrolling approach implemented in the GDC portal, now that you have access to v2 in test?

[2021-06-03 17:42] ulrikew commented on #451
The implementation of the scroll bar looks ok.

[2021-06-03 18:53] s-paquette commented on #617
The issue here has to do with how derived data is managed in the BigQuery tables. Unlike in Solr, where records are collapsed to the Series or Study level, in BigQuery all records are instance level. A given instance will typically not have all values for attributes from a series' derived records; they will spread over the instances. In order for the derived filters to properly AND between themsel

[2021-06-04 14:36] madelyngreyes commented on #629
Still able to select All cohorts, then export to BigQuery manifest and return the error, "There was an error exporting your cohort to BigQuery. Please contact the administrator."

https://user-images.githubusercontent.com/16824894/120818528-b4549700-c520-11eb-8c31-1f08b3b408f1.mov

[2021-06-04 17:56] madelyngreyes commented on #629
You are right. This is the wrong ticket thank you for the clarification.

[2021-06-07 12:33] madelyngreyes commented on #628
![Screen Shot 2021-06-07 at 8 31 12 AM](https://user-images.githubusercontent.com/16824894/121017122-e9542a00-c76a-11eb-853b-d4847e842625.png)

Cohort with all collections selected created above.

[2021-06-07 12:37] madelyngreyes commented on #622
On the exploration page, filters from all tabs where selected to create a large cohort was successful.

![Screen Shot 2021-06-07 at 8 36 50 AM](https://user-images.githubusercontent.com/16824894/121017734-9b8bf180-c76b-11eb-9400-e40ce42c4514.png)

[2021-06-07 12:39] madelyngreyes commented on #610
Format present on the test tier can be viewed below,

https://user-images.githubusercontent.com/16824894/121017948-db52d900-c76b-11eb-8298-c70ac012e077.mov

[2021-06-07 13:04] madelyngreyes commented on #555
I'm able to select 5000+ entries in the Selected Cases panel.

<img width="1220" alt="Screen Shot 2021-06-07 at 9 02 39 AM" src="https://user-images.githubusercontent.com/16824894/121021365-4eaa1a00-c76f-11eb-89b0-296ddaf91e22.png">

But, there is also text cut off on the Collections panel for the option prostate in the screenshot above.

[2021-06-07 13:07] madelyngreyes commented on #623
Able to use the IDC viewer from the cohort details page on the test tier.

https://user-images.githubusercontent.com/16824894/121021753-b496a180-c76f-11eb-9811-5283bf256362.mov

[2021-06-07 15:05] G-White-ISB commented on #555
Well this is different issue. @madelyngreyes can you reproduce the cutoff issue? If so what are the steps to reproduce?

[2021-06-07 15:44] madelyngreyes commented on #555
Yes, just was unsure since the ticket states enhancements in the title.

I'm able to reproduce the issue by selecting all collections then sorting by descending order, then ascending order on the total # of cases column.

<img width="1033" alt="Screen Shot 2021-06-07 at 11 42 28 AM" src="https://user-images.githubusercontent.com/16824894/121049308-95a30a00-c785-11eb-9d1c-99101caa7d74.png">

[2021-06-07 16:13] madelyngreyes commented on #551
This is working as expected on the test tier.

https://user-images.githubusercontent.com/16824894/121053848-c6853e00-c789-11eb-8bbe-b0b18e3c1400.mov

[2021-06-07 19:35] fedorov opened #640 "Allow selection of the latest/earliest study when multiple studies are present"
**Is your feature request related to a problem? If so, let us know**

Sometime a patient has multiple studies, where only the first or last are of interest. Currently, one can only select those using BigQuery.

**Enhancement description**

Allow limiting the selection to the latest or earliest study when multiple studies are present.

**Other comments**

Suggested by @giemmecci in https://discours

[2021-06-08 15:18] fedorov commented on #549
Alternative approach to download is documented in https://learn.canceridc.dev/cookbook/virtual-machines/using-a-bq-manifest-to-load-dicom-files-onto-a-vm. Will revisit if that should be the recommended approach as we get user feedback. No concerns from the users so far following the recommended gsutil-based download approach.

[2021-06-08 15:18] #549 closed

[2021-06-08 15:23] #628 closed

[2021-06-08 15:24] fedorov commented on #622
@s-paquette @G-White-ISB before I close this issue - what is the expected behavior when hitting the limit? will user be alerted, or it will only show up in the console?

[2021-06-08 15:24] #631 closed

[2021-06-08 15:26] fedorov commented on #622
Also, with a long cohort definition, when cohort is selected, it is opened with empty filter, and after some time progress spinner shows up. Is this the expected behavior?

[2021-06-08 15:29] #623 closed

[2021-06-08 15:31] fedorov opened #641 "Export of cohorts as files should not be allowed when it is not feasible"
I selected all collections, and could still see export as files in the manifest export dialog.

When I clicked "Export JSON", I got the below.

![image](https://user-images.githubusercontent.com/313942/121214352-095c1a00-c84d-11eb-80c4-50a2820b9b99.png)

[2021-06-08 15:33] fedorov opened #642 "Export of cohort into BQ fails"
Cohort: https://testing-portal.canceridc.dev/cohorts/103/

Attempting to export it results in this error:

![image](https://user-images.githubusercontent.com/313942/121214657-517b3c80-c84d-11eb-8be8-2a8c7d28d620.png)

[2021-06-08 15:35] G-White-ISB commented on #622
The DB has been retooled so that for now no possible set of filters should exceed the limit.

When selecting a cohort the browser loads the page, then there is an automatic request sent to fetch the cohort data. This will cause the spinner to 'show up'. However the spinner should only stay for a few seconds after which the cohort should be loaded, and it's filters should appear in the filter defin

[2021-06-08 15:39] G-White-ISB commented on #642
@fedorov could you report or show a screenshot of the cohort definition? Thanks

[2021-06-08 15:46] madelyngreyes commented on #641
You also get this error when exporting a cohort with all collections for the download as CSV and download as TSV as well.

[2021-06-08 15:47] fedorov commented on #642
Can you access the cohort by the ID (103)? It's a very long definition (I was basically clicking everything to make the filter very long. But I've just been able to reproduce both issues above by simply selecting all collections.

[2021-06-08 15:50] #630 closed

[2021-06-08 15:51] #629 closed

[2021-06-08 15:52] madelyngreyes commented on #642
I selected multiple derived filters and was able to trigger the same error,
<img width="1326" alt="Screen Shot 2021-06-08 at 11 52 03 AM" src="https://user-images.githubusercontent.com/16824894/121217584-fe56b900-c84f-11eb-9d0f-f74ce574192e.png">

[2021-06-08 15:56] #588 closed

[2021-06-08 15:56] #566 closed

[2021-06-08 15:56] #462 closed

[2021-06-08 15:57] #564 closed

[2021-06-08 15:57] #563 closed

[2021-06-08 15:57] #551 closed

[2021-06-08 15:58] #520 closed

[2021-06-08 16:07] #622 closed

[2021-06-08 16:08] fedorov opened #643 "Spinner does not show for several seconds when opening a (large?) cohort"
Filter definition shows as blank, then for a moment the spinner shows up before the filter definition is populated.

follow up on #622

[2021-06-08 16:11] #610 closed

[2021-06-08 16:14] fedorov opened #644 "Alert the user when the filter length is exceeded/approaching the threshold"
follow up on #622

[2021-06-08 16:16] fedorov commented on #642
![image](https://user-images.githubusercontent.com/313942/121221274-678bfb80-c853-11eb-85c0-ce881c3b2036.png)

[2021-06-08 19:28] s-paquette commented on #641
I'm a little confused by the title of the ticket--we continue to allow it, we just don't let the user get the entire set of files. We warn them that this is the case. This is an actual breakage in the download itself, I think. @fedorov Do you mean you would prefer downloading the files not be listed as available if the entire thing can't be downloaded in a single file? I'm not clear on what the re

[2021-06-08 19:29] s-paquette commented on #642
@G-White-ISB I'm noticing that one of the problems is, program_name is once again being passed in as a filter when it shouldn't be. We don't offer program as a filter explicitly because it's not an entity in TCIA. Those checkboxes purely exist to allow the user to easily select a grouping of collections, but the program_name itself shouldn't be sent to the backend as a filter.

[2021-06-08 19:41] s-paquette commented on #642
Ah ha, just found it. Problem with checking on job status.

[2021-06-08 19:57] s-paquette commented on #516
@G-White-ISB Can you update me on this one?

[2021-06-08 19:58] s-paquette commented on #420
@G-White-ISB Move this into Sprint 22?

[2021-06-08 20:02] s-paquette commented on #523
@G-White-ISB Did you want to move this into 22, or is it on dev/test now?

[2021-06-08 20:04] s-paquette commented on #642
@madelyngreyes @fedorov Note this fix does NOT cover derived data, only 'large cohorts' eg. all collections, etc.

[2021-06-08 20:05] s-paquette commented on #565
Exports of several cohorts won't error anymore, it queues them up and only waits 5-10s for all of them, then reports your list and lets you know they're on-going.

Downloads can only be done one at a time, and are always series-level now.

[2021-06-08 20:06] s-paquette commented on #550
@madelyngreyes That 404 isn't related to the ticket--it's an icon not being found in the icon set (but not one we need).

The filters can be seen by clicking on the +.

[2021-06-08 20:52] G-White-ISB commented on #523
Move to 22

[2021-06-08 20:55] G-White-ISB commented on #641
Download as csv is currently failing on the test portal for even small cohorts. Currently investigating

[2021-06-08 21:23] G-White-ISB commented on #641
Locally I'm seeing the same error I mentioned in my last comment on https://github.com/ImagingDataCommons/IDC-WebApp/issues/541 when  trying to export via file download regardless of the cohort size. I expect the same thing is happening on the dev and test tiers.

<img width="1500" alt="Screen Shot 2021-06-08 at 2 21 41 PM" src="https://user-images.githubusercontent.com/58443591/121259412-ef2e3600

[2021-06-09 03:57] fedorov commented on #641
@s-paquette, per our [documentation here](https://learn.canceridc.dev/portal/data-exploration-and-cohorts#accessing-the-cohort-manifest): "You can download cohorts of up to 650,000 rows as a multipart file, with each file having a limit of 65,000 rows. Access cohorts larger that 650,000 rows by exporting to BigQuery."

Can you please clarify what is the expected behavior when a cohort results in a

[2021-06-09 06:21] s-paquette commented on #641
@fedorov In checking on production, the expected behavior is that it not be allowed; anything larger than 65k disables the download option.

I don't think it's the size that's the issue here--since we've swapped to series-level Solr cores, all downloaded cohorts will be series level aka bundles, so they're seldom likely to exceed 65k. When they do, it should disable. If that's not happening, that'

[2021-06-09 06:57] s-paquette commented on #625
So it turns out this is some kind of issue in the dicom_all view.

[code]
This gives me:
[code]

But in the collections metadata table:
[code]
[code]

@bcli4d Not clear what the issue is but it seems cptac_cm has some numbers issues.

[2021-06-09 14:06] fedorov commented on #641
Suzanne, yes, there may be two issues, but they are intertwined and not easily separable. The second error was identify trying to check/test the original issue. Feel free to break into two issues if you like.

I did not realize this has already happened. When I export into BQ, I see instance-level manifests. Are you saying file manifests are not the same as BQ manifests now?

Also, will someone pr

[2021-06-09 15:43] bcli4d commented on #625
This appears to be an error in the [TCIA Data Collections table.](https://www.cancerimagingarchive.net/collections/) which says there are 94 subjects in CPTAC-CM. However, the [TCIA CPTAC-CM wiki detailed descriptions page ](https://wiki.cancerimagingarchive.net/display/Public/CPTAC-CM#33948224171ba531fc374829b21d3647e95f532c) shows 13 'participants' which is the number of distinct patient_IDs in

[2021-06-09 16:23] bcli4d commented on #625
Of course, it could be that I have not somehow downloaded all data and/or that some of the differences are due to TCIA having added to a collection since I did the download. However, in the case of cptac-cm at least, our numbers match the wiki numbers.
[This](https://wiki.cancerimagingarchive.net/display/Public/CPTAC+Imaging+Proteomics) page shows that the Subjects numbers on the TCIA data collect

[2021-06-09 17:58] s-paquette commented on #641
@fedorov BigQuery exports are performed via the BigQuery pivot, as a result they're instance level. Downloaded exports are done via the Solr collections, which are series (or study) aggregated. For working with the bundles, we do need to put in documentation, which @bcli4d and I can discuss.

This is largely a function of the fact that we have a 30s timeout from the load balancer, so using BigQuer

[2021-06-09 18:13] fedorov commented on #641
Ok, thanks for clarifying. I did not realize we are pushing bundles into v2. If I have no clue how to work with those, then there is no way to even test this capability, forget about making it accessible to the users.

[2021-06-09 20:50] madelyngreyes commented on #446
Species options added to the exploration page,

<img width="1308" alt="Screen Shot 2021-06-09 at 4 49 57 PM" src="https://user-images.githubusercontent.com/16824894/121427477-c2505080-c942-11eb-902a-bc738494833e.png">

[2021-06-09 20:52] madelyngreyes commented on #612
I have still been seeing a 400 error.

[2021-06-09 20:57] madelyngreyes commented on #626
This ticket is still broken on the test tier. No data is present in the selected studies panel.

Uploading Screen Recording 2021-06-09 at 4.56.22 PM.mov…

[2021-06-09 21:00] madelyngreyes commented on #565
<img width="1321" alt="Screen Shot 2021-06-09 at 4 59 31 PM" src="https://user-images.githubusercontent.com/16824894/121428679-1576d300-c944-11eb-82d4-1fd8d60dc393.png">

Export all cohorts on the cohort list page will return the error, "There was an error exporting your cohort to BigQuery. Please contact the administrator."

[2021-06-09 21:05] fedorov commented on #565
Removing the bulk export altogether would be completely acceptable for me. I do not know why we need it at all.

[2021-06-09 21:07] s-paquette commented on #565
@fedorov This was done to save space on the page; having an export button on each cohort complicated the layout immensely. The bulk export is definitely not the issue in and of itself.

I'll have a look at the error in question.

[2021-06-09 21:09] s-paquette commented on #565
Ah, I just noticed. @madelyngreyes One of your cohorts has derived filters, which per #617 is creating errors. Could you trying re-testing this without any derived cohorts?

[2021-06-09 21:09] G-White-ISB commented on #626
Also fails on dev. It seems to be particular this collection. I just did a spot check of 6 other collections on dev and this issue did not come up

[2021-06-09 21:16] G-White-ISB commented on #626
CT Colonography (ACRIN 6664) studies and series open fine in the local environment

[2021-06-09 21:58] s-paquette commented on #565
Ah, I see what's going on now.

Note, for now, this is going to necessitate a change: a user cannot select the BQ columns which will be included. We already have a ticket to allow for this, so that one will cover adding the functionality to do so.

[2021-06-09 22:03] fedorov commented on #565
here's what I get trying to export CSV for cohort 111, which corresponds to the APOLLO collection

![image](https://user-images.githubusercontent.com/313942/121435490-fa5c9100-c94c-11eb-9da9-c98c773d147e.png)

[2021-06-09 22:08] wlongabaugh commented on #641
The line of reasoning is that BQ exported manifests are the best way to do this, and that route gives you everything you need. Manifests provided as downloaded files are always going to be constrained by size limits, and we are under the impression they are considered a less-essential feature of the WebApp. So providing them as series bundles is a way to make them much smaller. Yes, we need to doc

[2021-06-09 23:43] madelyngreyes commented on #641
@s-paquette how should this ticket be tested?

[2021-06-10 00:22] s-paquette commented on #641
@madelyngreyes We're still working out what's wrong with it; nothing to update on that front.

[2021-06-10 01:21] bcli4d commented on #625
I compared  our case counts above  (the cases column) with counts shown on the TCIA radiology exploration page. Our counts match those shown on the page except for qin_headneck, which has had 123 cases added since we downloaded it last Fall.

[2021-06-10 05:45] s-paquette commented on #641
@fedorov @madelyngreyes Fix is now in test. Changes made:

- Cohorts with v1 data can only be exported to BigQuery
- Cohorts with v2 data can be downloaded as series-level manifests, or exported as instance-level manifests to BigQuery
- The dialog will inform the user (via tooltip for now, we can make a ticket to improve it) why they can only download via BQ when this is the case
- When exporting

[2021-06-10 05:47] s-paquette commented on #642
@madelyngreyes This one is now ready for testing; it was actually the same problem as in 641, so really this is a duplicate and they can be tested together.

[2021-06-10 05:50] s-paquette commented on #565
@madelyngreyes @fedorov This feature should now be working per the fixes in 641 and 642. Note this doesn't include derived data cohorts, per 617, which will be fixed in an upcoming sprint.

[2021-06-10 05:55] s-paquette commented on #612
@madelyngreyes Can you confirm which tier you're getting the 400 on? I can't reproduce this on dev.

[2021-06-10 06:00] s-paquette commented on #550
@fedorov @madelyngreyes This is ready for testing.

[2021-06-10 06:44] s-paquette commented on #634
Note, I did go through and do the data update, so we should now be up to date with TCIA per the v2 data release updates BillC did last week. We still have the other ticket which is regarding count mismatch in the TCIA table vs. the DICOM ETL. @bcli4d @fedorov How would this need to be tested by @madelyngreyes and @pgundluru ?

[2021-06-10 06:45] s-paquette commented on #625
Going to move this into Sprint 22 since this is an issue that goes further than just a mixup of some sort.

[2021-06-10 06:46] s-paquette commented on #625
@fedorov @wlongabaugh @bcli4d What do we need to do to address this/can we address this?

[2021-06-10 06:50] s-paquette commented on #632
I *think* I found the source of these. I'm going to mark it as testing needed, feel free to flag as failed and we'll drop it into Sprint 22 again if it comes up.

[2021-06-10 14:21] fedorov commented on #625
Is sapiens populated from the collection-level metadata, as opposed to the counts from the dicom_all table?

I think this argues for NOT using the case counts from the collections table, and instead counting distinct PatientIDs in dicom_all. I should report this to TCIA, but I don't hold my breath to see this resolved anytime soon. The right way to resolve it is to have everything in the collectio

[2021-06-10 14:23] #446 closed

[2021-06-10 15:53] G-White-ISB commented on #611
The current issue is now a duplicate of https://github.com/ImagingDataCommons/IDC-WebApp/issues/638

[2021-06-10 16:02] G-White-ISB commented on #617
Related to[ 641](https://github.com/ImagingDataCommons/IDC-WebApp/issues/641). Maybe a duplicate

[2021-06-10 16:04] G-White-ISB commented on #641
If I try to export a v1 cohort via file download I just get an error message.  I can edit the export dialog to handle this

[2021-06-10 16:49] madelyngreyes commented on #550
There is text off the page for the cohort filter list. Do I give it its own ticket?
<img width="1306" alt="Screen Shot 2021-06-10 at 12 49 16 PM" src="https://user-images.githubusercontent.com/16824894/121565299-57f2eb00-c9ea-11eb-94eb-1b6aa947bfbe.png">

[2021-06-10 17:11] s-paquette commented on #550
Yeah, that should get its own ticket.

[2021-06-10 17:13] s-paquette commented on #612
@madelyngreyes Can I get a screenshot? (Including the browser bar.) @fedorov Will do, I'll drop it from the Sprint.

[2021-06-10 17:15] s-paquette commented on #641
@G-White-ISB Can you screenshot the error/indicate what it is?

[2021-06-10 17:16] s-paquette commented on #617
@G-White-ISB Not a duplicate. This issue is explicitly related to a back-end issue regarding how derived filters are handled.

[2021-06-10 19:00] madelyngreyes commented on #565
I was able to export a cohort with derived filters present.

But, then when I selected all 33 cohorts present for my account I triggered the error message, "There was an error exporting your cohort to BigQuery. Please contact the administrator."

<img width="1325" alt="Screen Shot 2021-06-10 at 2 59 20 PM" src="https://user-images.githubusercontent.com/16824894/121582056-90032980-c9fc-11eb-9256-a5

[2021-06-10 19:01] madelyngreyes commented on #550
okay

[2021-06-10 19:04] madelyngreyes opened #653 "Long filter name will display text going off the page on test tier cohort filter dropdown"
On the cohort details page for the test tier, with very long cohort filter list present the end user will see long text appear.

<img width="1306" alt="Screen Shot 2021-06-10 at 12 49 16 PM" src="https://user-images.githubusercontent.com/16824894/121582517-1c155100-c9fd-11eb-99db-4c53818b01cc.png">

[2021-06-10 19:06] madelyngreyes commented on #634
waiting on feedback for testing needed

[2021-06-10 19:12] madelyngreyes opened #654 "Check all should be de-selected when user navigates to antoher page on cohort list page"
On the testing tier, for the cohort list page after the user checks the select all button then navigates to the last page. The checkbox should be de-selected.

<img width="1334" alt="Screen Shot 2021-06-10 at 3 10 46 PM" src="https://user-images.githubusercontent.com/16824894/121583432-3bf94480-c9fe-11eb-9d53-03b760e24233.png">

[2021-06-10 19:17] s-paquette commented on #641
@madelyngreyes We're still fixing this; George found a new bug. The dialog shouldn't be letting you download v1 at all, only export.

[2021-06-10 19:53] s-paquette opened #656 "Exporting a manifest with BMI 'None' causes an error"
Traceback (most recent call last):
  File "/app/IDC-Common/cohorts/views/views.py", line 926, in create_manifest_bq_table
    base_filters['bmi_btw'].append(BMI_MAPPING[val])
KeyError: 'None'

[2021-06-10 20:00] bcli4d commented on #625
@fedorov do you want the Subjects column in the original_collections_ metadata table populated from our data?

[2021-06-10 20:15] s-paquette commented on #541
@G-White-ISB Ah ha, #3 is from the ticket about random 500s. That one I have in fact fixed, or I'm about certain I have. I expect this ticket is a convolution of several others: #641 #642 #617 . If you've already fixed item #1, I think we can close this as a duplication of all of those tickets.

[2021-06-11 03:35] fedorov commented on #625
@bcli4d yes, I believe this is the right approach, since we want sapiens to show counts corresponding to the data we have in IDC.

[2021-06-11 03:40] fedorov commented on #634
The other ticket is #625. To test you could selectively or exhaustively select one collection at a time from the IDC portal, and compare the primary sites corresponding to that collection in IDC portal with the values of primary sites for that collection in this table: https://www.cancerimagingarchive.net/collections/.

[2021-06-11 03:42] fedorov commented on #550
Do we really need to spell data version as "Imaging Data Commons Data Release Version 1.0 2020-10-06"?

[2021-06-11 03:50] fedorov commented on #611
@G-White-ISB how is this a duplicate? The other issue is about long series description name. I don't understand, sorry.

[2021-06-11 03:51] fedorov opened #663 "Page selection buttons are jumping around (again)"
This is what I see in the test tier:

![2021-06-10_23-48-20](https://user-images.githubusercontent.com/313942/121628154-b3eb5d00-ca46-11eb-8d45-69bafe702099.gif)

[2021-06-11 04:10] bcli4d commented on #634
As I described in  #625, I compared distinct case counts per collection in dicom_all with Subjects in original_data_collections and found 16 cases where counts differ. I verified that our counts match the counts on the TCIA Radiology exploration page counts except for one collection for which additional cases have been added since we downloaded.

[2021-06-11 05:47] s-paquette commented on #550
@fedorov The wording is controlled by the backend in the database, so it can be set arbitrarily any time we want (i.e. not a code change) unless you would like this longer form elsewhere as well as a shortform, and then that would be a code change.

Alternative: we can make a new ticket for adjusting that specific item (how the data version displays throughout the site), since it has broader impli

[2021-06-11 13:43] fedorov commented on #550
Sure, we can make a separate ticket for that.

[2021-06-11 13:43] #550 closed

[2021-06-11 13:49] fedorov opened #664 "Consistent naming of data versions"
Follow up on #550.

Data version is mentioned in at least the following 3 places:

* `canceridc-data:idc_v2.auxiliary_metadata`
* cohorts list in the webapp UI https://imaging.datacommons.cancer.gov/cohorts/
* documentation/release notes https://learn.canceridc.dev/data/data-release-notes

Currently, there is no consistency across those 3 places. I think they should be consistent. In the past, whi

[2021-06-11 13:56] fedorov commented on #608
Note that program assignments have been established pretty much, see spreadsheet above. This will need to be updated in the webapp sometime before the Fall.

[2021-06-11 13:58] fedorov commented on #626
I confirm this remains the issue.

[2021-06-11 15:10] G-White-ISB commented on #611
@madelyngreyes is reporting a long series description. It is because an array of series descriptions is being displayed. Per our last few comments that is  current subject of this ticket.

[2021-06-11 15:18] fedorov commented on #664
Per discussion with the group, decided to keep things as is.

[2021-06-11 15:18] #664 closed

[2021-06-11 16:40] pgundluru commented on #451
The scroll on the left has been tested

[2021-06-12 20:38] fedorov commented on #611
I guess I was confused, since on this issue there was no follow up on https://github.com/ImagingDataCommons/IDC-WebApp/issues/611#issuecomment-840839409 about what was the decision handling varying SeriesDescription values within a series. I did not realize that decision was already made and implemented. Sounds like that approach of concatenating unique values should be revisited. Should we instea

[2021-06-14 14:04] madelyngreyes opened #665 "Test Report for sprint 21 code freeze generated"
Results can be found here, https://app.qase.io/public/report/60fd88cedfdbb28eba23104e8f3f4821762cd362

Click the failed button to see comment related to issue. Most tickets that are marked as failed are known issues, test cases that are blocked either the test query or the test suite needs to be created during the next sprint.

[2021-06-14 17:50] G-White-ISB commented on #665
Hi Madelyn,

Is there a way to see a description of the test or a related movie.
George

On Mon, Jun 14, 2021 at 7:05 AM Madelyn ***@***.***> wrote:

[2021-06-14 20:30] madelyngreyes commented on #665
Hello,

I have begun to add test steps to cases that need more detail. Any test scenarios that don't make sense to you please point it out to me and I can update it as needed.

Thank you
Madelyn
________________________________
From: G-White-ISB ***@***.***>
Sent: Monday, June 14, 2021 1:51 PM
To: ImagingDataCommons/IDC-WebApp ***@***.***>
Cc: Reyes Estrada, Madelyn ***@***.***>; Author ***@***.**

[2021-06-14 20:44] madelyngreyes commented on #665
Will also add descriptions to test cases for further clarification.

[2021-06-14 21:20] madelyngreyes opened #666 "Modality count on BigQuery table doesn't match the exploration page"
Checking the modality options available for a cohort with all collections exported to BigQuery it said only 25 filter options are present when using the query
SELECT

DISTINCT(modality)

From `idc-testing.test_user_dataset.manifest_cohort_184_20210614_211243` AS my_cohort

JOIN

`canceridc-data.idc_views.dicom_all` AS all_data

ON

my_cohort.SOPInstanceUID = all_data.SOPInstanceUID

But, on the ex

[2021-06-15 17:44] G-White-ISB commented on #611
No decisions were made about how to display the multiple descriptions. The descriptions are being sent from the back as a list per @s-paquette's comment, and the current behavior is to show them all.
I'll try the tooltip approach.

[2021-06-15 19:43] fedorov opened #668 "Additional top-level pages to be discussed"
Per discussion with @ulrikew, Ulli and Keyvan would like to see a top-level "About" page discussing what IDC is and what is the submission process (in addition to the "News" page, which is already captured in another ticket).

My personal preference would be to at least consider linking FAQ from the front page, and keep all those questions covered there (and also link Discourse "Announcements" sec

[2021-06-15 21:47] G-White-ISB commented on #638
For reference, one example is found in tcga-kirp, case id TCGA-G7-A8LC

[2021-06-16 03:26] fedorov opened #669 "Highlight more sample cases on the front page"
follow up on

![image](https://user-images.githubusercontent.com/313942/122153454-0c4ca100-ce31-11eb-8b0c-782066af2c21.png)

[2021-06-17 13:55] madelyngreyes commented on #565
Both functionality is present on the testing tier.

<img width="1363" alt="Screen Shot 2021-06-17 at 9 55 01 AM" src="https://user-images.githubusercontent.com/16824894/122410640-1adea980-cf52-11eb-8f75-aa05a1edd6ba.png">

[2021-06-17 13:55] #565 closed

[2021-06-17 14:23] pgundluru opened #670 "In the exploration page, when you add a collection or check all for collections and filters while logged out and then log in the filters are not saved"
**General description:**

In the production tier of IDC, When i select all the filters in the collections section while logged out of the IDC page and then log back in i don't see any of the previously selected filters.

**Steps to reproduce the behavior:**
 - IOS: W10
 - Browser: chrome
 1.  Go to https://portal.imaging.datacommons.cancer.gov/explore/ (not logged in)
 2. Select all filters for co

[2021-06-17 19:56] G-White-ISB opened #671 "SeriesNumber is always 'None'"
In the Series table, the SeriesNumber is always reported as 'None'.

[2021-06-17 20:02] G-White-ISB commented on #671
Debugging this locally the server seems to make  the right request of the Solr core but the 'SeriesNumber' field is missing from the returned docs. Checking the Solr core itself it seems the SeriesNumber field is missing

[2021-06-17 20:33] s-paquette commented on #671
Hmmm wonder how that got dropped. As long as it's otherwise in the schema it's a quick fix, I'll have a look.

[2021-06-17 23:58] s-paquette commented on #670
@G-White-ISB @madelyngreyes @pgundluru So, the issue here has to do with the login redirect. That's done as a GET request. As previously mentioned, we switched to POST to deal with these very long URIs.

The thing is, the redirect after login can't do that. It's assumed that should be a GET. @G-White-ISB The way this should be addressed is we move to doing this how CGC does. In the case of CGC, wh

[2021-06-18 03:33] s-paquette commented on #671
This was indeed just an error in making the indicies. Fixed now on dev and production, will do test eventually.

[2021-06-18 03:41] s-paquette commented on #666
@madelyngreyes @pgundluru A note that since exported manifests time out after 3 days, it's best to not use those in bug reports. Better to copy them into another project where they can be stored, after export, so devs can have access to them.

If you could re-export this cohort and then copy the resulting table into a new project, we can get a better look at this one. Note though that the number o

[2021-06-18 03:46] s-paquette commented on #666
@madelyngreyes @pgundluru Added note--idc_views.dicom_all is a v1 view at the moment, but this cohort appears to be v2. The difference in counts is expected in this case. It means the view should be updated to point at v2 if it is indeed intended to be a 'current' view. @bcli4d @fedorov

[2021-06-18 03:48] s-paquette commented on #612
@pgundluru @madelyngreyes I can't reproduce this bug anymore, but if you can and could send me a screenshot that would be appreciated. it needs to be tested on each tier individually due to how logouts and redirects function.

[2021-06-18 03:50] s-paquette commented on #541
Closing as a duplicate of extent issues,

[2021-06-18 03:50] #541 closed

[2021-06-18 03:51] s-paquette commented on #236
This work was completed as part of the v2 data release.

[2021-06-18 03:51] #236 closed

[2021-06-18 03:56] s-paquette commented on #516
I'm going to go ahead and close this one for now, since no one's been able to update me on it, and we've significantly restructured the backend with the v2 data. We can open a new ticket if needed.

[2021-06-18 03:56] #516 closed

[2021-06-18 04:00] s-paquette commented on #626
I can't replicate this on production. @fedorov @pgundluru @madelyngreyes If this is still replicable can you give us exact steps, the whole way through, that you made it happen?

[2021-06-18 14:45] fedorov commented on #666
Nice catch!

@s-paquette the organization of BQ views in v2 is different from what we had in v1. Views are no longer in a separate `idc_views` dataset, but are directly under the `idc_v2` dataset. So `dicom_all` is here: `canceridc-data:idc_v2.dicom_all`. You can see the locations of all tables and views documented in https://learn.canceridc.dev/data/organization-of-data/files-and-metadata#bigquer

[2021-06-18 15:27] G-White-ISB commented on #626
Select the collection 'CT Colonography (ACRIN 6664)', in the 'Collections' table. The 'Selected Cases' table is populated with the relevant cases. Then select any case. The relevant studies do not show up in the 'Selected Studies' table. As of this morning (June 18) I see this in the production, test, dev, and local environments. Last week I reported that I did not observe this behavior in the loc

[2021-06-18 18:40] G-White-ISB commented on #663
The  'page number' buttons in between 'previous' and 'next' can change. They can also change size in going say from 1 digit to 3 digit numbers. So unless the 'previous' and 'next' buttons are initially placed far apart, 'next' may be compelled to move out of the way. I've adjusted the formatting of these buttons to reduce the times this might occur, assuming the user has a reasonably wide browser

[2021-06-18 18:41] G-White-ISB commented on #653
This was because the filter was being displayed with no spaces (just commas) between filter attributes. Spaces have been added allowing text to break and line wrap at words

[2021-06-18 18:43] G-White-ISB commented on #638
Only one series description is shown in the table. The rest are available in a (sometimes long) tooltip. These multiple series descriptions are not of obvious value to the layperson

[2021-06-18 20:15] fedorov commented on #663
I tested this with a wide browser window, I do not think that issue was because of narrow size. As you can see in the screenshot, there is a huge empty space added after "Previous" at one point.

Can we learn something from the GDC Portal?

![2021-06-18_16-12-07](https://user-images.githubusercontent.com/313942/122612012-5d86ab80-d050-11eb-8cee-5b5ca542583c.gif)

[2021-06-21 13:21] fedorov opened #673 "Runtime error logging in with collection selection applied"
**General description**

Attempt to login when some collections are selected already leads to the following error:

![image](https://user-images.githubusercontent.com/313942/122768540-b1bca600-d271-11eb-981f-115655e8dd7a.png)

If I then proceed with the login, I get another error, and infinite spinner:

![image](https://user-images.githubusercontent.com/313942/122768634-cb5ded80-d271-11eb-91b1-990

[2021-06-21 13:32] fedorov opened #674 "UID tooltip is 'interactive' ie will remain open for selection and copying of text"
We currently show portions of UIDs in the lists, and full UIDs in tooltips but they are really not usable, given the length and obscurity. If we had a button to copy those to clipboard, it would be possible to use them, for example for selecting UIDs that correspond to interesting studies/series.

![image](https://user-images.githubusercontent.com/313942/122770500-81760700-d273-11eb-86e5-a4c0b08b2

[2021-06-21 14:28] fedorov opened #675 ""Sc" should be "Secondary Capture""
I have no idea where this is mapped, but it should be.

![image](https://user-images.githubusercontent.com/313942/122778832-52639380-d27b-11eb-8d4d-992eb309d1d5.png)

[2021-06-21 15:40] #632 closed

[2021-06-21 15:40] #634 closed

[2021-06-21 15:42] #637 closed

[2021-06-21 15:46] madelyngreyes commented on #641
Unable to select which columns to export for v1 cohort since the column selection is only visible from the files button selection.

[2021-06-21 15:46] #642 closed

[2021-06-21 15:46] #612 closed

[2021-06-21 15:52] s-paquette commented on #641
@madelyngreyes this is as expected, because BQ exports do not currently support column selection. There's a ticket for this feature which is outstanding.

[2021-06-21 16:45] fedorov commented on #599
While this issue was pending, the content of the docs was reorganized, and we need to update the link again to point to this instead: https://learn.canceridc.dev/portal/data-exploration-and-cohorts/exploring-imaging-data#understanding-counts-in-the-search-results. The original page was getting exceedingly long, and so I broke it into sub-pages, per one of the discussions.

[2021-06-21 18:15] #641 closed

[2021-06-22 02:50] fedorov commented on #673
Maybe a duplicate of #670?

[2021-06-22 03:00] fedorov commented on #344
This is still reproducible in v2 production tier.

![image](https://user-images.githubusercontent.com/313942/122856230-73ac9a00-d2e4-11eb-9530-8a07dada4e36.png)

[2021-06-22 03:01] fedorov commented on #319
@bcli4d is this still a valid issue, or should it be closed?

[2021-06-22 03:04] fedorov commented on #307
There were improvements to the viewer over the past few months, and performance is now considerably better.

[2021-06-22 03:04] #307 closed

[2021-06-22 03:06] fedorov commented on #291
We have JSON download now, and BQ export is preferred, so this issue is effectively resolved.

[2021-06-22 03:06] #291 closed

[2021-06-22 03:12] fedorov commented on #157
Have you explored these?
* https://www.tutorialexample.com/javascript-detect-web-page-zoom-level-in-browsers-javascript-examples/
* https://www.geeksforgeeks.org/how-to-detect-page-zoom-level-in-all-modern-browsers-using-javascript/

[2021-06-22 15:59] G-White-ISB commented on #674
Rather than adding a button, if the tooltip stays open when you hover into the tooltip (like the pie chart tooltip) the users can copy it directly

[2021-06-22 16:10] fedorov commented on #673
confirmed as duplicate

[2021-06-22 16:10] #673 closed

[2021-06-22 16:31] fedorov commented on #593
Proposed idea: have analysis results listed and selectable under a panel that is sibling to the Collections panel in "Search scope".

[2021-06-25 15:25] G-White-ISB commented on #505
Related to https://github.com/ImagingDataCommons/IDC-WebApp/issues/663

[2021-06-25 15:47] s-paquette commented on #670
Hotfixed in production, also merged into dev.

[2021-06-25 15:48] s-paquette commented on #666
Going to close this one out.

[2021-06-25 15:48] #666 closed

[2021-06-25 15:51] s-paquette commented on #668
If I'm given 'About' page content it's easy enough to make a page for it.

I'm not sure where the FAQ is but if I'm given a link that's easy enough to link.

[2021-06-28 13:06] #671 closed

[2021-06-28 13:08] s-paquette commented on #599
@G-White-ISB per @fedorov 's comment this needs to be updated. Moved it into Sprint 23.

[2021-06-28 14:16] s-paquette commented on #626
@G-White-ISB  This is an issue with how the front end is treating case values. The intermittent nature is due to it being a JS problem, and sometimes we're getting cached JS. This is only a problem with collections where the cases have `.` in them.  For some reason, they're being converted prior to storage as values in the table display, exchanging the `.` for a `-`. This is then sent back in a fi

[2021-06-28 22:39] G-White-ISB commented on #626
I was storing the PatientIDs, SeriesUIDS, and StudyUIDS with '.' replaced with '-'.  I honestly have forgotten why now. I think I had some JS where the '.' was being interpreted as denoting an object. StudyUIDs and SeriesUIDs were being reset before the call but not PatientIDs. Anyhow I'll take out this conversion and test that everything works.

[2021-07-02 11:55] fedorov opened #678 "Revisions to the portal as requested by NCI Communications"
The below was communicated via @ulrikew. We should be using PDC as a template for the below changes.

The linkback bar is blue now - this banner is created and pushed at the NCI level, so the design is set beyond our control. We should revert that change so that the banner looks more similar to the creme banner on the PDC.

![image](https://user-images.githubusercontent.com/313942/124270868-c07549

[2021-07-06 16:46] fedorov commented on #678
Should also remove the linkout icon for the NCI Data Commons banner on top of the IDC screen.

[2021-07-06 16:51] fedorov commented on #668
In order to support embedded Discourse widget enabled the following

![image](https://user-images.githubusercontent.com/313942/124638374-e11a0800-de58-11eb-8814-59fc49d38e1c.png)

[2021-07-07 18:24] fedorov commented on #451
I discussed this topic with @ulrikew and @rkikinis, and both of them agreed the current behavior where the height of the left area expands uncontrollably disregarding the height of the right panel is not user friendly. Both Ulli and Ron agreed that implementation of the behavior as seen in the GDC portal, where heights of the left and right panels are coordinated, is a lot more appealing and user-

[2021-07-08 16:26] fedorov opened #679 "The collective size of all instances in a cohort should be listed on exports"
**Enhancement description**

Once the cohort is defined, the next step is downloading of the cohort on a VM. In order to do this, while controlling VM costs, it is important to know how much disk space is needed to replicate the files corresponding to the cohort. We already have the size of each file in BQ, but this functionality is not available to the user in the portal. I suggest adding the siz

[2021-07-08 21:10] fedorov commented on #679
In the meantime, I added the size of the selection to the DataStudio cohort dashboard template here: https://datastudio.google.com/reporting/ab96379c-e134-414f-8996-188e678f1b70/page/KHtxB/preview

![image](https://user-images.githubusercontent.com/313942/124991241-63e4c380-e00f-11eb-9b6f-9c776de29e5e.png)

[2021-07-09 14:42] pgundluru opened #680 "In the exploration page - search scope - collections list can be ordered to match the other filters in search configuration"
![image](https://user-images.githubusercontent.com/85526819/125095491-3a28ac80-e0a2-11eb-8618-7f65d94403ad.png)

[2021-07-14 18:47] fedorov commented on #427
Superseded by #668

[2021-07-14 18:47] #427 closed

[2021-07-14 18:49] fedorov commented on #668
@s-paquette I discussed the plan to use discord widget/ticker for displaying the latest posts from the Announcements category with @ulrikew, and she liked the idea. Would be great if you could share the mockup whenever you have it, before you go into the implementation.

[2021-07-22 16:13] fedorov opened #682 "Patient counts for analysis results collections are incorrect"
As reported by @ulrikew, all analysis results collections show 31 as the number of patients, which is incorrect. As an example, LIDC-IDRI analysis collection with DOI 10.7937/TCIA.2018.h7umfurq has 875 patients.

![image](https://user-images.githubusercontent.com/313942/126672634-b555b710-a9e9-4c04-9102-3f331f2746fa.png)

[2021-07-22 17:32] s-paquette commented on #682
This is truly odd and I have to admit I'm not even sure how it happened, as these numbers come straight out of BQ. Fortunately, an easy fix, and done.

[2021-07-22 17:45] s-paquette commented on #611
@G-White-ISB I dropped the merged label because this is still happening on dev. Feel free to move this out of Release 22 if you think it won't make it,

[2021-07-22 17:50] s-paquette commented on #675
@fedorov @bcli4d

This is what I'm getting from the BQ table--where does the change need to be made? We can either add a display value for this (so it's still SC in DICOM/BQ but is 'Secondary Capture' in display) or we need to adjust the BQ tables.

[2021-07-22 17:53] s-paquette commented on #680
@pgundluru Just to clarify, you mean the 'Sort by Alpha/Num' option on the other facets should be available here as well.

[2021-07-22 18:01] bcli4d commented on #675
The Modality values in dicom_metadata/dicom_all are all uppercase abbreviations:
1 | CR |  
2 | CT |  
3 | CTPT |  
4 | DX |  
5 | FUSION |  
6 | KO |  
7 | MG |  
8 | MR |  
9 | NM |  
10 | OT |  
11 | PR |  
12 | PT |  
13 | REG |  
14 | RF |  
15 | RTDOSE |  
16 | RTPLAN |  
17 | RTSTRUCT |  
18 | RWV |  
19 | SC |  
20 | SEG |  
21 | SR |  
22 | US |  
23 | XA

[2021-07-22 19:17] s-paquette commented on #675
Ah, I see what it is--we did in fact put in Display Values for these. Adding in SC -> Secondary Capture, should show up on Production in the next release.

[2021-07-23 14:57] fedorov commented on #675
As it turns out, SC is not an allowed defined value for Modality attribute, I believe the complete list is here: http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_C.7.3.html#sect_C.7.3.1.1.1. We may want not to dis-ambiguate it, as we don't dis-ambiguate CTPT. @dclunie what do you recommend?

[2021-07-23 15:20] dclunie commented on #675
It may not be defined by the standard, but if it occurs it should display something sensible.

[2021-07-23 16:17] fedorov commented on #675
I do not think we should get into dis-ambiguating defined values that are not defined by the standard, because it will set wrong expectations for our users. This gets into the area of data harmonization, which we are not doing right now. Note that we do show "Object class" tab, and SC is mentioned and disambiguated there.

![image](https://user-images.githubusercontent.com/313942/126811578-611ff25

[2021-07-23 23:27] pgundluru opened #683 "Disable/grey out eyeball viewer for exploration page for certain filters"
General Description: To disable the eye ball viewer for studies where it is not required or the filters do not appropriately align with the viewer.
Steps to reproduce the behavior:
1. Go to production site https://portal.imaging.datacommons.cancer.gov/explore/
2. Select Modality - SR document
3. Select collections CPTAC-SAR
3.  Then viewing a selected study throws out the error
![image](https://us

[2021-07-26 17:33] wlongabaugh opened #686 "Link to Proxy Policy on Quota Page"
We now have a proxy policy page in the docs at https://learn.canceridc.dev/portal/proxy-policy. We need to add a link to this on the quota page that is displayed when users hit the quota.

[2021-07-27 15:23] pgundluru opened #687 "Spelling error in Prod Tier in Export Manifest page"
Noticed a spelling error while exporting cohort manifests in the message that pops up while your cohort is still exporting. Please see image below

![image](https://user-images.githubusercontent.com/85526819/127181367-664d9224-5e98-466d-ae00-958f8386611c.png)

[2021-07-29 19:32] G-White-ISB commented on #686
How can 'consistently downloading to a level just under the quota for an extended stretch of time' be a violation of the proxy policy? ' That's too slippery. Why not have a yearly or monthly limit on top of the daily limit?

[2021-08-09 06:40] s-paquette commented on #668
@fedorov I have it on dev at the moment, since the implementation itself is very simple. The basic theme (so this is, in effect, the mockup):

![image](https://user-images.githubusercontent.com/8442808/128668322-57585608-15dc-4ca1-abe4-1c74a40c65d7.png)

Note the icons in use for News and About, as well as the placement; easy enough to change, just look through the [Font Awesome Free set](https://

[2021-08-09 06:41] s-paquette commented on #668
@fedorov Note I also need content for the about page as well. It's just a stub at the moment.

[2021-08-09 13:27] ulrikew commented on #668
Thank you, Suzanne and Andrey. I will forward the screenshot to Keyvan to get his feedback and to remind him that we need content for the About page.

[2021-08-09 16:37] fedorov commented on #668
Thanks Suzanne. I've just granted you the admin access on discourse.

I suggest this icon for the "About" section:  https://fontawesome.com/v5.15/icons/info-circle?style=solid

[2021-08-09 17:03] s-paquette commented on #668
@fedorov Thank you! @ulrikew The good news is adjustments to this CSS are done on Discourse itself which means they can be implemented without redeploying the site.

Icon changed out.

[2021-08-11 18:21] fedorov commented on #668
@s-paquette do you think it makes sense to add an opening to this page that says something like the following:

"The list of posts below is populated automatically from the ["Announcements" category](https://discourse.canceridc.dev/c/announcements/5) of the [IDC Discourse forum](https://discourse.canceridc.dev/)".

Regarding the styling, would it be possible to modify the CSS to exclude embedding

[2021-08-16 22:08] s-paquette commented on #221
@G-White-ISB Can you have a look at this and confirm if it's still happening?

[2021-08-16 22:10] s-paquette commented on #451
@G-White-ISB See the most recent comment on how this should be changed.

[2021-08-16 22:16] s-paquette commented on #678
@fedorov @ulrikew These changes are now live on the dev server, and will be built on test shortly. (As they're all visible from the dev server home page you can have a look there, if you want.)

[2021-08-16 22:18] s-paquette commented on #668
@fedorov @ulrikew  Unfortunately hiding the logo might require more than a minor CSS tweak. I'd like to ask we make a new ticket for those kinds of adjustments, rather than hold this one open. It will need to be done next release as this release is already having trouble getting its current workload done.

I don't have copy for the About page yet, so it remains a stub. Otherwise, this now on test.

[2021-08-17 16:32] fedorov opened #703 "Unable to export BQ manifest"
**General description**

Trying to export a cohort defined as SM filter, I get this error in test tier:

![image](https://user-images.githubusercontent.com/313942/129764793-a3c96b51-5abd-4f23-9159-61b9a98040e6.png)

and this in dev tier:

![image](https://user-images.githubusercontent.com/313942/129764827-ba47719b-7246-46b5-845e-3bc0fe93ba98.png)

**Steps to reproduce the behavior**

1. select "Sl

[2021-08-17 16:47] fedorov opened #704 "Ensure consistent naming of the UUID-related items"
* columns that refer to UUIDs in the manifest (both file and BQ) should be called `<instance/series/study>_uuid`
* manifest export user interface should not include "CRDC" in the name
* the actual content of the UUID columns should have UUID, not GUID

[2021-08-17 16:56] fedorov opened #705 "Formatting text in the front page tabs"
I am getting this issue on mac:

![image](https://user-images.githubusercontent.com/313942/129768573-6327c5f9-20ca-45c3-b72f-5e322fe20ff4.png)

![image](https://user-images.githubusercontent.com/313942/129768487-261e17fa-f1b8-4b8f-b862-ca6100e02b15.png)

[2021-08-17 19:05] s-paquette commented on #705
Per discussion with Andrey and Bill's suggestion, reverted to the former style:

![image](https://user-images.githubusercontent.com/8442808/129785567-1451e391-1e32-4b82-8927-dad3552f3ca9.png)

This will be easier to maintain, long-term.

[2021-08-18 02:55] fedorov commented on #668
Let's use the below for the About page text:

---

**About IDC**

The National Cancer Institute (NCI) [Cancer Research Data Commons (CRDC)](https://datacommons.cancer.gov/) aims to establish a national cloud-based data science infrastructure. Imaging Data Commons (IDC) is a new data repository of CRDC supported by the Cancer Moonshot. The goal of IDC is to enable a broad spectrum of cancer researc

[2021-08-18 04:47] s-paquette commented on #668
@fedorov Done and on dev and test.

[2021-08-18 17:23] pgundluru commented on #663
This was tested successfully on 8-17 on chrome, edge and firefox

[2021-08-18 19:12] #668 closed

[2021-08-18 19:22] fedorov commented on #678
@s-paquette @G-White-ISB note that the NCI link on the top banner is not bolded neither in CRDC nor in PDC:

![image](https://user-images.githubusercontent.com/313942/129959127-4d51c8e9-5b85-472e-ad05-e2377adcdb0f.png)

![image](https://user-images.githubusercontent.com/313942/129959190-c289fc6b-7848-4d85-bf81-9f04f61f954f.png)

No urgency, but I think we should make it look similar to those other

[2021-08-18 19:22] pgundluru commented on #678
Link out button removed, social icons removed

[2021-08-18 19:27] pgundluru commented on #678
Bottom Footer has 0 TB data instead of 5.66 TB like production

[2021-08-18 19:45] pgundluru commented on #705
Tested view on Mac, Windows

[2021-08-18 20:05] s-paquette commented on #703
There appear to be multiple sources of this error: 1) An issue with downloading manifests due to cursor code placed to support larger collections and deep paging, 2) a problem with the name change of the BQ UUID columns, 3) a problem with pulling the correct non-derived filters. Should be fixed now.

[2021-08-18 20:10] fedorov commented on #703
Can you clarify which one should be fixed now and on which tier?

[2021-08-18 20:11] s-paquette commented on #703
@pgundluru For testing on this one you'll want to use a series of cohorts:
- a cohort with ONE original filter
- a cohort with ONE derived filter
- a cohort with ONE each derived and original filters
- a cohort with TWO or more derived filters
- a cohort with TWO or more derived filters AND an original filter
- a cohort with ONE related filter (this must include a filter for a TCGA collection, as

[2021-08-18 20:12] s-paquette commented on #703
Build is still pending, I'll flag the ticket as testing needed once it's complete.

[2021-08-18 21:00] pgundluru commented on #687
Spelling is corrected

[2021-08-18 21:17] pgundluru commented on #420
![image](https://user-images.githubusercontent.com/85526819/129973437-086e67f1-ab39-47fb-9232-471b3f9f8b17.png)

[2021-08-18 21:25] pgundluru commented on #611
![image](https://user-images.githubusercontent.com/85526819/129974390-904c9a3c-85e7-4ff0-8790-8f570a36d2d7.png)

[2021-08-19 18:25] #687 closed

[2021-08-19 18:44] s-paquette commented on #678
@pgundluru The volume size isn't part of this ticket (it's a separate issue) so if this ticket has otherwise passed you can mark it as such and close it. This ticket is only about changes requested by NCI Comm.

[2021-08-19 18:48] #678 closed

[2021-08-19 20:28] fedorov opened #711 "Unable to export a cohort from an earlier data version"
![image](https://user-images.githubusercontent.com/313942/130139306-01549f2d-91c6-4fa9-b9b2-9a11359cb57d.png)

![image](https://user-images.githubusercontent.com/313942/130139337-bd5b741d-451f-4407-bdf4-1148f96b1ad1.png)

@pgundluru can you please add checking export of earlier version cohort to your

[2021-08-19 20:32] fedorov opened #712 "Should include data version in the exported manifest"
Manifests for the cohorts created for earlier versions will need to be joined with the metadata corresponding to the data for the specific version using which the cohort was created, however the exported manifest currently does not indicate what version was used, and so that join operation would be error-prone (the user would need to keep track separately about which version of IDC data correspond

[2021-08-19 22:16] s-paquette commented on #711
Ah ha. So, this is the problem renaming the columns--now we need to track TWO different column names. Or, I can remake the old pivot to use the new names, though the underlying tables won't have them, so it'll be a re-structuring.

Alternative is I make brand new attributes with the new names, and associate those to the new Solr cores/BQ tables. Thoughts?

[2021-08-20 01:41] fedorov commented on #711
How about reverting back to the old names? I don't see any major issue with that. What do you think @bcli4d?

[2021-08-20 04:56] bcli4d commented on #711
I can make such changes fairly easily, but I think @s-paquette needs to tell us whether doing so will slow down the release.

[2021-08-23 19:35] s-paquette commented on #663
@pgundluru Is this one still not working? I see the label was added and removed.

[2021-08-24 17:45] pgundluru opened #715 "In Dev tier, Selection of Brain image in home page (shows 1288 cases) takes me to exploration page that has a different case number (1165)"
![image](https://user-images.githubusercontent.com/85526819/130664432-56d389ad-5696-4111-844a-c5c8b4684cd5.png)

[2021-08-24 17:50] pgundluru commented on #715
Similar issue with pancreas, lung, kidney, uterus, skin, head-neck.

[2021-08-24 18:19] pgundluru commented on #653
This issue is back in the cohort details page
![image](https://user-images.githubusercontent.com/85526819/130669117-5e3f9817-2853-43be-ba92-cbfa140d5059.png)

[2021-08-25 20:06] pgundluru opened #716 "Table pagination issue where when a user selects a older data version cohort in the cohorts page, Then the manifest export is greyed out"
On a Windows or Mac workstation, when a user has older data version cohorts (data version 1 or 2)and selects a older version cohort in the cohorts page, Then the manifest cohort button is greyed out and user is unable to export cohorts.

![image](https://user-images.githubusercontent.com/85526819/130857487-a468d7cb-dbf8-4bec-8aa1-2f3b746bc08b.png)

[2021-08-30 14:25] pgundluru opened #720 "In the prod tier, When a user clicks on the news button and gets redirected, There is a 502 error on the dev console"
**General description**
When a user clicks on news button from the home page and they are redirected to https://portal.imaging.datacommons.cancer.gov/news/, An error message pops up in the dev console

![image](https://user-images.githubusercontent.com/85526819/131354525-2062d231-a142-41de-84a6-35538b60aaa1.png)

**Your System**
 - OS: W10 and Mac
 - Browser: chrome, IE and safari

[2021-08-31 16:45] fedorov opened #721 "Add license information to the portal"
Per discussion in the prioritization doc:

![image](https://user-images.githubusercontent.com/313942/131542595-0d1ccd57-0bc3-4a22-9346-d9a1cf34461d.png)

Licenses we have retrieved at this moment are below.

@kirbyju can you please confirm we can go ahead with those?

[code]

[2021-08-31 16:53] pgundluru opened #722 "In the prod tier, When a user is in the cohort creation page, The delete button should be functional (currently greyed out)"
![image](https://user-images.githubusercontent.com/85526819/131544194-bc98c73e-9f7b-4b29-b62e-b7fd32a11db1.png)

[2021-08-31 17:01] s-paquette opened #723 "New Attributes: Manufacturer, ManufacturerModelName, SliceThickness"
Add the following attributes:

**Original**
Manufacturer
manufacturer model name
Slice thickness
Study date

**To be added**
License

[2021-08-31 20:32] kirbyju commented on #721
Hi Andrey,

When datasets are "restricted-access" they should not be redistributed by IDC regardless of their license setting.  These restricted datasets should have a license that specifies that you're only allowed to do whatever was agreed when you requested access, but we haven't had a chance to get this fixed in NBIA's license settings yet.  In the meantime, I think if you exclude anything tha

[2021-08-31 20:39] bcli4d commented on #721
Justin,

I think our question (at least my question) is whether the license info for
public, unrestricted access collections is now correct.

Thanks,
Bill

On Tue, Aug 31, 2021 at 1:32 PM Justin Kirby ***@***.***>
wrote:

[2021-08-31 20:39] fedorov commented on #721
Justin, yes, makes sense. I understand it is confusing, since the list includes all of the collections. @bcli4d can you give the list of just the collections we will be including, with the corresponding licenses, so Justin can help us finalize this?

[2021-08-31 21:44] pgundluru commented on #683
![image](https://user-images.githubusercontent.com/85526819/131579790-94d80503-5783-49b0-8d4f-ad05dd1d98d9.png)

[2021-08-31 21:56] pgundluru commented on #683
This is the viewer URL for the above Ohif viewer study with the errors (image attached above)
https://viewer.imaging.datacommons.cancer.gov/viewer/1.3.6.1.4.1.14519.5.2.1.6450.2626.666453532728842597866299286669
Steps to reproduce:
1. In https://portal.imaging.datacommons.cancer.gov/explore/ I selected modality - SR document - In collections I selected CPTAC-SAR - selected all cases and all studie

[2021-09-01 02:11] bcli4d commented on #721
I'm working on generating a table for Justin.

In the meantime...
We refer to APOLLO-1-VA as APOLLO because APOLLO was the ID that was
expected by the various APIs that take a collection ID parameter. Given the
transition to APOLLO-5-LSCC, we expect to treat APOLLO/APOLLO-1-VA as a
"retired" collection (probably in a release after the NLST release) and add
APOLLO-5-LSCC. The APOLLO data should con

[2021-09-02 15:16] fedorov opened #725 "Refinement of the filter category search/configuration appearance"
Can we use the appearance of the MIDRC search portal as inspiration for refining IDC UI? What I see there is a lot more compact and appealing than what we have.

![image](https://user-images.githubusercontent.com/313942/131870105-6f078b36-2187-4115-bd90-4c4dc64a1bd4.png)

clicking search lens gives this

![image](https://user-images.githubusercontent.com/313942/131870146-9cff2b5d-accb-4912-8d9d-8d

[2021-09-03 21:30] G-White-ISB commented on #419
I believe thinking is that included/excluded lists ARE part of the cohort. To be discussed

[2021-09-03 21:47] #221 closed

[2021-09-03 21:49] G-White-ISB commented on #374
I have not seen or heard of this problem in several sprints

[2021-09-03 21:49] #374 closed

[2021-09-07 15:52] bcli4d commented on #721
License list:
1
NLST
2
4D-Lung
CC BY 3.0
3
AAPM-RT-MAC
CC BY 3.0
4
ACRIN-FLT-Breast
CC BY 3.0
5
ACRIN-FMISO-Brain
CC BY 3.0
6
ACRIN-NSCLC-FDG-PET
CC BY 3.0
7
APOLLO
CC BY 3.0
8
Anti-PD-1_Lung
CC BY 3.0
9
Anti-PD-1_MELANOMA
CC BY 3.0
10
BREAST-DIAGNOSIS
CC BY 3.0
11
Brain-Tumor-Progression
CC BY 3.0
12
Breast-MRI-NACT-Pilot
CC BY 3.0
13
C4KC-KiTS
CC BY 3.0
14
CPTAC-CCRCC
CC BY 3.0
15
CPTAC-CM
CC BY

[2021-09-07 15:55] s-paquette commented on #721
@bcli4d Can I get this as a table in sheets or Excel, something along those lines?

[2021-09-07 16:29] fedorov commented on #419
Based on the discussion today, we agreed this is most likely a post-production feature.

We need to reach consensus on how this feature should be implemented, document the plan in this issue, and then present the plan to the users (specifically, Brad Erickson lab) to get their opinion before this is implemented.

[2021-09-07 16:32] bcli4d commented on #721
Run this query:
SELECT tcia_api_collection_id, license_short_name  FROM
`idc-dev-etl.idc_v4.original_collections_metadata` order by
license_short_name , tcia_api_collection_id

On Tue, Sep 7, 2021 at 8:55 AM S. Paquette ***@***.***> wrote:

[2021-09-07 18:24] s-paquette commented on #721
Got it, thank you! @fedorov Are we just listing the license name, or do we want a link to the license page, or...

[2021-09-07 19:31] fedorov commented on #721
Ideally, we would want to have a link for every item that can be used for filtering in the webapp UI, but we don't have it for anything. So I am fine to not link it to anything at least for the initial iteration.

[2021-09-07 20:32] bcli4d commented on #721
The TCIA portal includes the license long name in the each collection
description tool tip, but no link.

On Tue, Sep 7, 2021 at 12:31 PM Andrey Fedorov ***@***.***>
wrote:

[2021-09-08 19:26] G-White-ISB commented on #653
Thought this was fixed. I wonder if there was a code reversion. Its still fixed in my local branch

[2021-09-08 19:32] #505 closed

[2021-09-10 00:13] s-paquette commented on #723
Some items about this:
- We need the units for SliceThickness. @bcli4d ? It's also being ETL'd as a string/text which is a problem since it contains both integers and floats. It should be set to NUMERIC in BQ, preferably, though this is a cast potentially which might make things ugly. @fedorov Did you want us to do this?
- Set Manufacturer and Model Name to 'preformatted' which means we will do no

[2021-09-10 02:53] fedorov commented on #723
I think we should leave SliceThickness as is, and maybe later provide a separate view where we may cast certain fields to make them more usable. But casting in the UI to float, but having string in the actual data will be misleading.

Yes.

[2021-09-10 16:29] fedorov commented on #723
I had a chance to discuss this with @dclunie today, and we agreed on the following approach. We keep the original values in BQ, but introduce a "harmonized" version of SliceThickness (in this case, safe cast to float64) into a separate view (not unlike we do for the segmentations and measurements views), so it is clearly marked to the users as the different from the original data. Then Solr/webapp

[2021-09-10 17:18] pieper commented on #723
There are several other derived properties that could be helpful so if we are running a script over all the data we may want to consider also recording if all the orientations are the same in a series, if there is variable spacing, etc.  We can't handle all cases but there are some common things that would be good to be able to access quickly.

[2021-09-10 18:39] G-White-ISB commented on #723
I assume in the web app we would filter on slide thickness using a slider, as per other quantitative attributes?

[2021-09-10 18:41] s-paquette commented on #723
@G-White-ISB If we put it in as a string we can't do that. Hence the idea of making a view which casts. @fedorov What should we do for production?

The rest of these attributes are all available on dev now.

[2021-09-10 19:17] G-White-ISB commented on #419
If a user is selecting a UID for inclusion or exclusion that implies they have some information about the pertaining study or series that is not exposed in the web app.  Now it's true this could be subjective ('i.e. I think this image is fuzzy') but in other cases we may need wish to guide the Web App based on the user's criteria, (i.e. I wish to exclude these UIDs because I know these patients we

[2021-09-13 13:53] fedorov commented on #723
@s-paquette I discussed [above](https://github.com/ImagingDataCommons/IDC-WebApp/issues/723#issuecomment-917039637) what we should do, in my opinion, and based on discussions with David C, but I do not have a good idea about the effort needed to do it. Please let me know if you think this can or should be done for production or not.

I do not see yet the StudyDate. Is it supposed to be there?

[2021-09-13 17:53] s-paquette commented on #723
@fedorov For StudyDate we need to implement some sort of widget to work with it, I think George is still looking into that. For the harmonized view, who will be producing this, and when can I expect it?

[2021-09-13 19:04] fedorov commented on #723
@s-paquette the harmonized view at the moment will have just one column. I expect that @bcli4d would need to fold this into the ETL and include into the public dataset. In the subsequent releases we would be adding more columns. Unless I am missing something, there should not be too much effort to add this harmonized view to the public dataset. We can discuss tomorrow.

[code]

[2021-09-13 19:31] fedorov opened #730 "Get URL with the search filter definition"
I think it would be quite beneficial to be able to point users with a URL to specific subsets of data. For example, for the release announcement I would benefit from being able to point to the cases that have SM in the release announcement. I can probably figure it out with that excel spreadsheet, but maybe it is possible to add a button to generate the URL from the UI, if the length of the filter

[2021-09-13 20:48] fedorov commented on #703
@pgundluru is this still an issue?

[2021-09-13 20:52] s-paquette commented on #703
This is still an issue with TCGA related filters, and I'm working on a fix for that at the moment.

[2021-09-13 20:53] fedorov commented on #542
Unfortunately, I just now noticed that what is copied to the clipboard is only the table name. Not being fully qualified by the dataset, name of the table is rather useless. We need to have the full location in the clipboard, i.e., `canceridc-user-data:user_manifests.manifest_cohort_245_20210913_204805` instead of `manifest_cohort_245_20210913_204805`.

[2021-09-13 21:24] s-paquette commented on #703
@pgundluru I can't seem to replicate the TCGA issue now. Can you let me know what your filters were when you got this error?

[2021-09-13 22:18] s-paquette commented on #542
Bug found and fixed; will flag for testing once it's on test. Please note this is an intermittent bug and was reliant on exporting a LARGE cohort, because it wouldn't happen if the cohort was small and the query could execute quickly.

[2021-09-14 13:57] fedorov opened #736 "Support the use of specific values of PatientID for defining the cohort"
This was communicated by @dclunie via email. Perhaps this could be addressed by adding search field for the PatientID (case) column, the same way we allow to filter what is shown to the user for the left side panel? Perhaps then, combined with the ability to select specific items for the cohort, which is coming up, this use case can be addressed?

---

I thought we had the ability to search by Sub

[2021-09-14 17:04] fedorov opened #737 "Work related to populating BQ tables with the related data"
We need to implement the approach to management of related data (such as TCGA clinical data, NLST clinical data). There are two approaches that were considered:
1. Replicate clinical data tables with each IDC data version
2. Do not replicate the data, and instead have versioned views in each IDC data release.

We agreed for the production release we will implement a temporary solution to organize

[2021-09-14 17:08] bcli4d commented on #737
re:"We agreed for the production release we will implement a temporary solution to organize clinical data tables under an IDC-dataset, and will need to revisit the implementation post-production."

@fedorov You are requesting some form (table or view) of the TCGA bioclin data tables in the idc_v4 dataset?

[2021-09-14 17:22] s-paquette commented on #721
Per 9/14 meeting: Not critical to list on collections page, @bcli4d to update dicom_all to include listing for NLST

[2021-09-14 17:23] s-paquette commented on #737
I'm pretty sure we decided this is a post-production item, so I removed it from that milestone. I'm going to add in the TCGA bioclin and clinical tables to idc_v4 for now, and then in a subsequent Sprint/Release we can decide how to proceed.

[2021-09-14 17:49] bcli4d commented on #723
@fedorov what do you me to name this new view?

[2021-09-14 18:05] fedorov commented on #723
@bcli4d following the discussion today, let's use `dicom_curated` as the name for this view.

I believe @wlongabaugh suggested to add suffix `_curated` to the individual attributes, but maybe this is redundant, since all attributes in this view will be curated. I suggest we keep individual attribute names "as is". If we have more than one approach to curate a given attribute, we can revisit this d

[2021-09-14 18:07] s-paquette commented on #723
That works best for my purposes.

[2021-09-14 18:10] bcli4d commented on #723
Provisionally naming the view `dicom_metadata_curated`.

[2021-09-14 18:11] fedorov commented on #712
Can we consider including version as a column of the manifest in addition to header? I worry that having it in the header and description of the BQ table makes it easy to miss or lose.

[2021-09-14 18:20] bcli4d commented on #723
The new view is in idc_v4.

[2021-09-14 18:31] bcli4d commented on #723
I missed that you suggested dicom_curated. Will regen after next meeting.

On Tue, Sep 14, 2021 at 11:07 AM S. Paquette ***@***.***>
wrote:

[2021-09-14 18:37] s-paquette commented on #712
@federov There's a bit more involved in adding it as a column as opposed to just the header (due to how BQ table schemas work). I'm leery of making that a production item as opposed to just the header for now.

We can make a new ticket which is specifically about adding it as a column which can be turned on/off like the others are slated to be, if that works? For post-production.

[2021-09-14 18:54] fedorov commented on #712
Yes, post-production is fine.

[2021-09-14 18:56] fedorov opened #738 "Include version number as a column in the exported manifest"
followup on #712

[2021-09-14 18:56] fedorov commented on #723
`dicom_metadata_curated` is fine with me!

[2021-09-14 19:03] bcli4d commented on #723
OK. I'll leave it at dicom_metadata_curated.

[2021-09-14 20:52] fedorov commented on #608
@s-paquette APOLLO-1-VA should be under the APOLLO program. It is not on dev.

@bcli4d we should maintain program assignment in some BQ table. Do you agree?

[2021-09-14 21:33] fedorov commented on #737
I thought we discussed that we need to have NLST clinical tables in BQ, so at least for that one I thought we need a temporary solution. Did I miss something?

I also hope that whatever is implemented right now can be documented, since as we discussed today, current documentation for the TCGA clinical data is incorrect.

[2021-09-14 21:46] pgundluru commented on #703
I was able to reproduce the issues with TCGA cohorts by doing the below 2 tests

Test 1

1. Go to https://portal.imaging.datacommons.cancer.gov/explore/
2.  Select search scope - collections - TCGA
3.  Select one original filter - Body part examined - Abdomen and one related filter - Disease code - BLCA
4. Click on save cohort and then when i go to cohort page and select the cohort and click on ex

[2021-09-14 21:52] pgundluru commented on #703
Test 2

1. Go to https://portal.imaging.datacommons.cancer.gov/explore/
2. Select search scope - collections - TCGA CESC
3. Select related filter - Disease code - CESC, related filter - Age at diagnosis - 49, Project short code - TCGA CESC
4. Click on save cohort and then when i go to cohort page and select the cohort and click on export manifest - get BQ
Result - Successfully exported manifest!!

[2021-09-14 21:56] pgundluru commented on #703
Test 3

Go to https://portal.imaging.datacommons.cancer.gov/explore/
Select search scope - collections - TCGA (I SELECTED ALL OF THE TCGA COLLECTIONS)
Select related filter - Disease code - CHECK ALL , related filter - Age at diagnosis - 49, Project short code - CHECK ALL
Click on save cohort and then when i go to cohort page and select the cohort and click on export manifest - get BQ
Result - Suc

[2021-09-14 22:02] pgundluru commented on #703
Test 4

Go to https://portal.imaging.datacommons.cancer.gov/explore/
Select search scope - collections - TCGA (I SELECTED ALL OF THE TCGA COLLECTIONS)
Select original filter - Modality - CHECK ALL , original filter - body location- ALL , Species - Human
Click on save cohort and then when I go to cohort page and select the cohort and click on export manifest - get BQ
Result - Successfully exported

[2021-09-14 23:09] s-paquette commented on #608
@fedorov It is in that program, however all Collections which are solo in their Programs only list as a Collection under Search Scope. @G-White-ISB can change that if you'd prefer.

[2021-09-15 12:48] fedorov commented on #608
@s-paquette I didn't realize this is the expected behavior. Let's leave it as is for now.

From a discussion on this topic, decided to put program information into a dedicated table, and join into the collections table.

[2021-09-16 22:26] s-paquette commented on #81
@fedorov Note that this is already done and on the current release of the portal. @pgundluru If you could test this when you have a chance.

[2021-09-16 22:29] s-paquette commented on #682
@fedorov @pgundluru This needs to be tested still.

[2021-09-17 01:53] #611 closed

[2021-09-17 01:54] #643 closed

[2021-09-17 01:54] #670 closed

[2021-09-17 01:57] #626 closed

[2021-09-17 01:58] #705 closed

[2021-09-17 02:03] #617 closed

[2021-09-17 02:03] #716 closed

[2021-09-17 02:08] fedorov opened #740 "Selection of analysis results collections in collections table leads to unexpected result"
If I click on a collection that is an analysis collection in the collections page, I am brought to the explorer page with URL populated with a filter, but filter blank.

Reated to this we should probably disable the ability to click on the analysis collections in the collections list until #590 is addressed.

[2021-09-17 02:11] fedorov commented on #711
I can reproduce this issue in the test tier.

![2021-09-16_22-10-51](https://user-images.githubusercontent.com/313942/133713109-ca81a3d8-e4a2-4d46-a0c1-4417fb5009ee.gif)

[2021-09-17 02:14] #420 closed

[2021-09-17 13:13] fedorov commented on #736
Note that TCIA portal has the option to specify the list of PatientIDs, so it is probably the case we should have this feature too.

![image](https://user-images.githubusercontent.com/313942/133788240-77ed7a8a-c2f5-4826-b86a-1b752124bff9.png)

So it will probably not be sufficient to just add the filter field for the case table.

[2021-09-17 13:15] fedorov commented on #162
As noted by @dclunie, another use case is to select patients that have both radiology and slide microscopy data using Modality filter. This will also be applicable to BodyPartExamined, and perhaps other ones too.

[2021-09-17 13:18] fedorov opened #741 ""Select all" is missing for the tables on the right"
It would be a useful feature to be able to select all items under collections/cases/studies tables in the portal.

[2021-09-17 20:18] G-White-ISB commented on #741
This is somewhat tricky because we need to maintain lists of which cases/studies the user has selected. With SELECT ALL these   lists could be thousands of items large. Right now the lists are stored in the browser.

Unlike pdc, gdc, or tcia we do not support downloading directly from our tables. They are only meant for the user to view metadata and of course to view images. To me this suggests we

[2021-09-17 20:48] fedorov commented on #741
The use case is to allow users to subset the lists based on the specific values or patterns in the column content (such as PatientID) - if you recall, this is what we discussed on Monday - adding a "search" box for the individual columns in the right-hand-side tables. If the search in that box applies only to the current page of the table, this would be of a very limited value.

[2021-09-17 21:17] G-White-ISB commented on #741
I agree search would ONLY make sense if it's applied to the total table as defined, regardless of which page is in view, or even if the total table is loaded in the browser. That might mean a server call, so you would press a button when you are ready to search, rather a search being applied as you type in the text

[2021-09-20 14:34] #81 closed

[2021-09-21 18:07] pieper opened #747 "content jitters at certain sizes"
At certain screensizes it looks like there's a feedback loop that causes the content to jitter.  Resizing a bit can fix it, but then if you pick just the right size it returns.

Probably this is some responsive rules conflicting.

**Screenshots**

https://user-images.githubusercontent.com/126077/134224106-d8230556-a463-4531-a212-281ce26da89c.mov

**Your System**
 - OS: macOS
 - Browser Chrome

[2021-09-22 18:55] pgundluru opened #751 "In cohort page, When a user expands a saved cohort, the data version has text that goes past the column"
**General description**
In the test tier, In the cohort page, if a user has selected a cohort with large number of filters, Then the data version column has test that is flowing past the column.
![image](https://user-images.githubusercontent.com/85526819/134404338-2b025f48-0426-4b58-8ace-bb3c8580d3d4.png)

**Your System**
 - OS - W10
 - Browser - chrome

Steps to reproduce:

In the exploration pag

[2021-09-22 19:06] pgundluru opened #752 "In test tier, Export manifest (get BQ) fails for cohorts where ALL original filters are selected."
System tested on - W10, Chrome.

Steps to reproduce:
In test tier, In explorations page - select FDA Collection
Underneath that, Select all in the filters (I did a check all)
Save the cohort and go to cohort page
Select the cohort and click on export manifest (get BQ)
Then the following error with nothing else in dev console is seen

![image](https://user-images.githubusercontent.com/85526819/1344

[2021-09-22 20:35] pgundluru opened #753 "On test tier, When SM is selected it sends a error on the dev console"
SM viewer in Mac workstations has the error "An error occurred : Image metadata cannot be retrieved"
On Windows Chrome, It shows the following error.

![image](https://user-images.githubusercontent.com/85526819/134417862-e3927210-59f3-41f9-acc3-b902eb671c2e.png)

[2021-09-22 20:40] fedorov commented on #753
@pgundluru can you please paste the URL?

[2021-09-22 20:46] fedorov commented on #753
Link from @pgundluru - works for me with Chrome on mac: https://viewer.imaging.datacommons.cancer.gov/slim/studies/1.3.6.1.4.1.5962.99.1.2463087261.2121647220.1625960757917.3.0/series/1.3.6.1.4.1.5962.99.1.2463087261.2121647220.1625960757917.2.0

[2021-09-22 20:49] pieper commented on #753
Yes, the production version works, but not the testing: https://testing-viewer.canceridc.dev/slim/studies/1.3.6.1.4.1.5962.99.1.2463087261.2121647220.1625960757917.3.0/series/1.3.6.1.4.1.5962.99.1.2463087261.2121647220.1625960757917.2.0

I get a 403 (forbidden) so probably the user agent token is not configured?  I did not set up my chrome but did you follow Bill's instructions @fedorov or @pgundl

[2021-09-22 20:53] fedorov commented on #753
Ah right - I missed that! The test URL works fine for me as well (perhaps somewhat slower than the prod one). There is also this error in the console, but it does not seem to affect the functionality.

![image](https://user-images.githubusercontent.com/313942/134420264-e615ed15-84ab-4fad-9343-cc36b85ed852.png)

[2021-09-22 22:06] G-White-ISB commented on #653
Just submitted a pull request that should resolve the issue

[2021-09-22 22:30] G-White-ISB commented on #752
This seems to have to do with the new attributes. Trying this locally gives the error:
ERROR] @2021-09-22 15:23:44,715 in export_support/2076/140623287748352 - [ERROR] Export of cohort file manifest to table idc-dev.dev_user_dataset.manifest_cohort_2_20210922_152341 was unsuccessful, reason: Unparseable query parameter `Manufacturer_0` in type `TYPE_NUMERIC`, Invalid NUMERIC value: 001

[2021-09-23 16:14] fedorov commented on #542
This appears to be resolved in test, but I will let @pgundluru confirm and close.

[2021-09-23 16:33] fedorov opened #754 "SCT/SRT suffix missing for items that have equivalent meaning"
We need to implement the same conventions applied to Heart, Prostate, etc, as we did for Neoplasm.

![image](https://user-images.githubusercontent.com/313942/134547286-388166ed-37af-447d-8797-8f18440e8ab6.png)

![image](https://user-images.githubusercontent.com/313942/134547401-b16776c0-ff25-4410-a54b-e7862aa20540.png)

Is it possible in the future to detect collisions and append suffix automatica

[2021-09-23 16:34] fedorov commented on #754
![image](https://user-images.githubusercontent.com/313942/134547802-3679ddbc-c591-4144-87e1-cde80f9cdf72.png)

[2021-09-23 16:46] fedorov opened #755 "Need to revise approach to searching derived data"
Somehow this escaped me earlier, but what we have right now in the derived data search is probably not what one would expect.

The issue is that quantitative measurements available for the imaging data are (in our case, in all cases) derived from annotations available for the images. But at the moment quantitative measurement appears as if it is an attribute of a case. I can filter by volume, but

[2021-09-23 18:06] s-paquette commented on #752
Ah yes, random numbers! Should be a quick fix.

[2021-09-23 18:45] s-paquette commented on #740
@fedorov They're actually intended to be disabled, not sure why they aren't. I'll see if I can sneak in this fix for production.

[2021-09-23 18:47] s-paquette commented on #752
The issue is related to BigQuery filter building attempting to detect the BQ attribute type; I've added Manufacturer and ManufacturerModelName to the list of 'forced String' attributes.

[2021-09-23 19:28] s-paquette commented on #752
@pgundluru Ready for testing, per George's note make sure any test of this bug includes a list of all Manufacturer and ManufacturerModelName values.

[2021-09-23 19:32] s-paquette commented on #711
@pgundluru Ready for re-testing. Please be sure to indicate the filters of the cohort you can't export if you get another failure. @fedorov If you could try it again as well that would help.

[2021-09-23 20:31] fedorov commented on #711
I tested this earlier today, both for v1 and v2 cohorts export, and did not see any issues!

[2021-09-24 13:48] pgundluru commented on #711
Thank You Suzanne and Andrey. I was able to test this issue successfully for v1,v2,v3 data versions with no issues.

[2021-09-24 14:19] pgundluru commented on #752
Thank you very much. The fix appears to have resolved the issue and i am able to export large cohorts to BQ successfully.

[2021-09-24 15:05] fedorov commented on #723
StudyDate will need to be postponed.

[2021-09-24 16:36] pgundluru commented on #542
Tested successfully.

[2021-09-24 16:36] #542 closed

[2021-09-24 17:03] pgundluru commented on #712
Showing up in the header section in test tier.

[2021-09-24 17:08] pgundluru commented on #703
Thank you for looking at this Suzanne, I am unable to export cohort in specifically this test below for TCGA with original and related filters.

Steps to reproduce:
System - W10 and chrome

1. In test tier https://testing-portal.canceridc.dev/explore/
2. Select search scope - collections - TCGA
3. Select one original filter - Body part examined - Abdomen and one related filter - Disease code - BLC

[2021-09-27 18:00] s-paquette commented on #740
So the issue here has to do with how we were determining the collections to select when an analysis result was clicked on. I've put in a fix for now, but I'm going to make a ticket about how this should function longer-term.

[2021-09-27 20:25] fedorov commented on #740
I think long term, once there's progress for #590, clicking analysis results collection in the collections list should result in selecting that collection as a filter in the list of analysis results collections in the portal.

[2021-09-27 21:05] s-paquette commented on #740
@fedorov Precisely.

[2021-09-27 21:06] s-paquette commented on #703
Note: this will be handled as a hotfix.

[2021-09-27 21:10] wlongabaugh opened #760 "Double Filter Entry in Prod"
Saw this show up during Andrey's demo. Is the double entry for (Prostate, Prostate) expected?
<img width="776" alt="DoubleEntry" src="https://user-images.githubusercontent.com/8441547/134985660-ccbc7f5f-066a-41ba-80e1-b6635d34eadb.png">

[2021-09-27 23:11] s-paquette commented on #703
Okay, fix for this is building on test. Since we're releasing today I'm NOT going to do this as part of the release, but as a hotfix tomorrow. @fedorov @pgundluru In about 15m (or tomorrow) if you could test this one on the test portal we can see if it's finally resolved.

[2021-09-28 02:32] fedorov commented on #740
Test does not pass for me. Sometime it results in selection of collections (presumably, those that are touched by the analysis results collection?), and sometimes it does not do anything (such as for PROSTATEx-Seg-HiRes - although the filter is populated in the URL: https://testing-portal.canceridc.dev/explore/?filters_for_load=%5B%7B%22filters%22:%5B%7B%22id%22:%22120%22,%22values%22:%5B%22spie_a

[2021-09-28 02:35] fedorov commented on #740
"Clear cache and hard reload" did not help.

[2021-09-28 16:15] fedorov commented on #740
I will follow up with a query how to match these items to the original collection ids.

[2021-09-28 17:14] s-paquette commented on #740
Okay, found these bugs, will flag this and tag both of you once the test build is up.

[2021-09-28 17:50] fedorov commented on #740
@bcli4d I think you should use something like the below to get the list of collections "touched" by an analysis results collection instead of relying on scraping the wiki:

[code]

![image](https://user-images.githubusercontent.com/313942/135139403-a4f5533f-806d-4d5d-8ca7-77f98945e021.png)

[2021-09-28 18:39] bcli4d commented on #740
Thanks for the SQL @fedorov. OK to wait for the next version, or does the analysis_results_metadata table get its own hotfix?

[2021-09-28 18:50] pgundluru commented on #703
Thank you for looking at this Suzanne. Unfortunately when i try the same exact test i am still unable to export to BQ

Here are my test and result:

System - W10 and chrome

In test tier https://testing-portal.canceridc.dev/explore/
Select search scope - collections - TCGA
Select one original filter - Body part examined - Abdomen and one related filter - Disease code - BLCA
Click on save cohort an

[2021-09-28 19:13] s-paquette commented on #740
@pgundluru @fedorov Ready for testing.

[2021-09-28 19:17] s-paquette commented on #703
@fedorov Can you confirm you can export with multiple derived filters as well? If so I think we can put this one into production.

[2021-09-28 19:23] pgundluru commented on #703
TEST 2

TCGA Collections with Only related filter BMI (Previously an issue) - Success

[2021-09-28 19:24] pgundluru commented on #703
TEST 3

TCGA Collections with only original filter (manufacture and manufacture name) - Success

[2021-09-28 19:31] pgundluru commented on #703
TEST 4

TCGA collections with many original filters and many related filters - success

[2021-09-28 21:01] fedorov commented on #740
@bcli4d would it be possible to fix the table manually, and integrate something like the query above into ETL for the next release? It does bother me that the analysis results metadata table is not what user would expect it to contain.

@s-paquette it still does not work for me if I pick RIDER-LungCT-Seg.

[2021-09-29 02:53] bcli4d commented on #740
I'll update the table tomorrow.

[2021-09-29 05:08] bcli4d commented on #740
I'm not sure how these collection IDs are intended to be used. The collection ids returned by the above script are from dicom_all, which are "idc_webapp_collection_id"s. Is that what you need @s-paquette ? Those IDs are the "tcia_api_collections_id"s, with both spaces and dashes replaced by underscores, and lowered.

[2021-09-29 17:21] bcli4d commented on #740
@s-paquette:..and should the Collections value be a single string of comma separated collection ids? or an array of strings?

[2021-09-29 20:45] bcli4d commented on #740
I went ahead and update d`idc-dev-etl.idc_v4.analysis_results_metadata`. I've not pushed that to the public dataset. I'll do that when dev version is accepted.

[2021-09-30 03:01] fedorov commented on #740
You meant - when the test version is accepted?

[2021-09-30 14:37] pgundluru opened #763 "On prod tier, exploration page, when a user (signed out) selects Apollo collections and scrolls down. The spinner (loader) keeps spinning with no further action"
Summary:

On prod tier, exploration page, when a user (signed out) selects Apollo collections and scrolls down. The spinner (loader) keeps spinning with no further action.

Note : Only happens when a user is trying to select collections while signed out.
Note : This seems to be happening to any selected collections while signed out.

System : W10 chrome and edge browser

[2021-09-30 15:22] pgundluru opened #764 "In prod tier, When a user selects any collection and filters by body part (prostateEx) Then there is a runtime error in the dev console"
In prod tier, When a user is signed in and selects any collection in the exploration page and filters by body part Prostate
 and selects the related series and studies. Then there is a runtime error in the dev console

System : W10 Chrome or Edge

Steps to reproduce :
1. In exploration page, Select any collections or All collections
2. Select filters - body art examined - Prostate
3. Select the co

[2021-09-30 15:36] bcli4d commented on #740
When the changes to idc-dev-etl.idc_v4.analysis_results_metadata are accepted.

[2021-09-30 20:37] s-paquette commented on #764
@fedorov @wlongabaugh This looks like an OHIF error, not a WebApp error. Notice the 404 is for the series in question.

[2021-09-30 20:40] s-paquette commented on #764
Note the actual failed URL returning a 404: https://viewer.imaging.datacommons.cancer.gov/viewer/1.3.6.1.4.1.14519.5.2.1.7311.5101.204786391199957963322920195738?SeriesInstanceUID=1.3.6.1.4.1.14519.5.2.1.7311.5101.211466485567384332914089377124

[2021-09-30 20:43] s-paquette commented on #764
@fedorov @pgundluru This doesn't seem to be ProstateX restricted. I'm seeing this for anything I load in the viewer. From VICTRE:

https://viewer.imaging.datacommons.cancer.gov/viewer/1.3.6.1.4.1.14519.5.2.1.2135.6389.217584422364663188955751331838?SeriesInstanceUID=1.3.6.1.4.1.14519.5.2.1.2135.6389.268150837477801852023879970898

Going to adjust the title.

[2021-09-30 21:55] bcli4d commented on #740
idc-dev-etl.idc_v4.analysis_results_metadata copied to canceridc-data.idc_v4.analysis_results_metadata

[2021-09-30 23:50] pgundluru commented on #712
This is tested in release 23 successfully

[2021-09-30 23:50] #712 closed

[2021-10-01 00:00] pgundluru commented on #663
This is resolved in release 23

[2021-10-01 00:00] #663 closed

[2021-10-01 15:17] G-White-ISB commented on #763
We have a fix but we cannot deploy it yet. We are held up by an unexpected error in the build process that is being investigated.

[2021-10-01 15:21] #653 closed

[2021-10-01 15:35] pgundluru commented on #711
In prod i am able to export earlier versions of data. Tried it with V2 and V3

[2021-10-01 15:35] #711 closed

[2021-10-01 16:17] pgundluru commented on #723
Manufacture and Model name are included in available filters on prod.

[2021-10-01 16:17] #723 closed

[2021-10-01 16:19] pgundluru commented on #722
Delete button is functional again.

[2021-10-01 16:19] #722 closed

[2021-10-01 16:34] pgundluru commented on #656
Test 1 :
Select all collections and select all BMI filters in related tab
Result - Fails to upload to BQ

Test 2 :
Select TCGA collections and select all BMI filters in related tab
Result - Fails

Test 3 :
Select TCGA collections and select one BMI filter in related tab (I selected overweight BMI )
Result - Success

Test 4 :
Select TCGA collections and select one BMI filter in related tab (I selec

[2021-10-01 16:36] pgundluru commented on #720
No longer an issue.

[2021-10-01 16:36] #720 closed

[2021-10-01 17:02] s-paquette commented on #740
@fedorov @pgundluru Hotfix applied to production (NOT in test or dev)--check when you have a moment, please!

[2021-10-01 17:17] pgundluru commented on #740
Thank you Suzanne, Please see my results below:

DICOM-LIDC-IDRI - Success
DICOM-SR-Breast-Clinical  - Fails with no errors in console
PROSTATEx-Seg-HiRes - Fails
PROSTATEx-Seg-Zones - Success
QIN-LungCT-Seg - Fails
RIDER-LungCT-Seg - Success

[2021-10-01 18:42] s-paquette commented on #740
@pgundluru I can't reproduce a failure on PROSTATEx-Seg-HiRes - can you try it again? Found the problem and fixed the other two--try again when you get a chance, please.

[2021-10-01 19:12] #608 closed

[2021-10-01 19:23] fedorov commented on #764
I already raised this with @igoroctaviano. After the initial review and discussion with @swederik they will comment on whether this has any impact that can affect IDC users, and decide if this is worth a ticket under upstream OHIF repo.

[2021-10-01 19:33] pgundluru commented on #740
Yes, Retested and i see that sometimes i will need to refresh once to get the filters to show up

DICOM-LIDC-IDRI - Success
DICOM-SR-Breast-Clinical - Success
PROSTATEx-Seg-HiRes - Success
PROSTATEx-Seg-Zones - Success
QIN-LungCT-Seg - Success
RIDER-LungCT-Seg - Success

[2021-10-01 20:35] G-White-ISB opened #770 "Web portal can get 'stuck' with a never ending spinner"
Anytime there is an error fetching data from the server the web portal gets stuck with the spinner engaged, the portal disabled, and no information is given to the user. The portal should be updated such that the spinner is disengaged in the event of an error, and an alert given to the user

[2021-10-01 20:54] fedorov commented on #721
Forgive me - I know it's likely a separate issue, but I would like to discuss if we should rearrange the license filter outside "Original" section, since it is kind of a different beast. I am going to reopen, and we can decide if close or open a new issue after touching base at the Tue call.

[2021-10-12 14:29] pgundluru commented on #599
Clicking on the tool tip navigates to correct URL and section https://learn.canceridc.dev/portal/data-exploration-and-cohorts/exploring-imaging-data#understanding-counts-in-the-search-results

[2021-10-15 16:53] G-White-ISB commented on #593
So as I understand it you would like to have a separate 'analysis collections' list that is separately selectable and the stats calculated would reflect both the analysis and image collections selected.  @s-paquette would know more about how difficult the stats calculations then become. Right now it seems we have a 1-1 map between image and an analysis collections. If you select an image collectio

[2021-10-19 18:46] #186 closed

[2021-10-22 14:24] fedorov opened #780 "Selection of items in the table should be possible by clicking the row"
Feedback from @swederik, which I share:

[2021-10-22 14:25] fedorov opened #781 "Checkboxes that are checked should be sorted to the top in the left panel"
Feedback from @swederik that I share:

[2021-10-27 17:40] fedorov opened #783 "Sort radio boxes disappeared from the portal"
Just in time for my presentation where I planned as usual to give a demo of IDC.

This is in the production portal. Again, how did this slip through the testing?

![image](https://user-images.githubusercontent.com/313942/139117671-e4541aa8-8d8a-4643-be11-250c055afc22.png)

[2021-10-28 18:07] pgundluru opened #784 "In production tier, When a user selects primary site location Bladder and tries to open up a series viewer, there is a 404 error."
This issue was observed after hotfix related to 776.

Summary -
In exploration page, when I select primary site location as bladder – select collection PDMR-BL0293-F563 – then select any study and select any series to display – the OHIF viewer is a blank page for the series.

Steps to reproduce:

1. In exploration page on production tier, Select primary site location as bladder
2. Select collectio

[2021-10-29 21:58] fedorov commented on #783
After restarting the browser the issue went away.

[2021-10-29 21:58] #783 closed

[2021-10-30 00:02] bcli4d commented on #784
This study/series has a single instance, SOPInstanceUID=1.3.46.670589.11.17169.5.24.5.1.1768.2015073114035894817.
That instance seems to be corrupted. The corresponding file in GCS is gs://idc-open/084992f7-0d21-423b-ad93-58d930216e9c.dcm, and is identical to the instance in DICOM store.
I am pretty confident that it came from TCIA "pre-corrupted", and probably others in this collection are simila

[2021-11-04 17:12] fedorov commented on #679
@s-paquette @G-White-ISB @wlongabaugh any comments on this issue? Do you agree it is important? What is the effort to prioritize it?

[2021-11-04 18:35] s-paquette commented on #679
@fedorov We discussed this today and a large issue is what to base the calculation on. We have another request to allow cohorts to be series or study or instance level in terms of filtering. While study and series sizes could be calculated and stored into the Solr cores, instance sizes can't as we have no instance-level search. So if a cohort is instance-level filtered, it won't have accurate size

[2021-11-04 20:05] fedorov commented on #679
I would separate the topic of the need for this functionality, and what it should provide from the topic of how it should be implemented.

On the topic of the functionality, it seems pretty clear to me. If the cohort is defined at the level of series or studies, then we assume that everything below the series or study level in the hierarchy is included while estimating the disk size. If the cohort

[2021-11-04 20:43] s-paquette commented on #679
@fedorov The reason implementation comes into it is we don't have instance-level information in Solr, only in BQ. We would be unable to obtain the sum of the instances without a call to BQ, and right now the WebApp doesn't use BQ due to lack of responsiveness. This means, for instance-level cohorts, we can't provide those numbers in the WebApp, only at export time.

[2021-11-04 20:56] fedorov commented on #679
Numbers at export time would be a reasonable compromise.

[2021-11-10 02:59] #763 closed

[2021-11-10 03:00] #751 closed

[2021-11-10 03:03] s-paquette commented on #682
@pgundluru @fedorov Can this be confirmed and closed? The query at the top is how to confirm the counts expected in this table.

[2021-11-10 03:03] s-paquette commented on #686
@wlongabaugh This is ready for testing.

[2021-11-10 03:04] #599 closed

[2021-11-10 03:05] #344 closed

[2021-11-10 03:07] s-paquette commented on #679
@fedorov Got it--I'm going to retitle the ticket so it reflects that.

[2021-11-10 03:08] s-paquette commented on #679
We can potentially offer this on Study/Series manifests as well as Instance manifests if we add in a 'size_on_disk' column to the Solr indicies which tallies the instance numbers from BQ.

[2021-11-10 06:44] bcli4d commented on #784
It turns out that this series, and many others in this and related collections are not corrupted. David Clunie commented:
"I doubt it is corrupted,
It looks like Philips MR Raw Data, as described in their conformance statements[1].
The viewer should not be attempting to display Raw Data Storage SOP Class (1.2.840.10008.5.1.4.1.1.66) instances.
No Pixel Data is expected or required to be present."

[2021-11-11 16:19] pgundluru opened #796 "In Production Tier, On the Home page, When a user selects SM viewer, The Slide label is blank"
The slide label for SM viewer shows up blank as shown in the image below
Able to reproduce this one
Mac - Chrome browser
W10 - Chrome and Edge

![image](https://user-images.githubusercontent.com/85526819/141331941-56dc9c97-6214-47ca-894f-4d2e8c754bf7.png)

[2021-11-11 16:28] fedorov commented on #796
@hackermd @Punzo can you take a look at this?

[2021-11-12 21:53] fedorov commented on #182
@s-paquette what is the status of this issue? I thought it has been prioritized quite some time ago, but I do not see any updates.

[2021-11-12 21:55] fedorov commented on #604
@G-White-ISB I see data in dev, but not in test. What is the timeline for the release of this feature?

[2021-11-15 08:19] Punzo commented on #796
Hi @fedorov @pgundluru I just tried to reproduce, but everything seems working fine a part an initial 404 response:

![image](https://user-images.githubusercontent.com/7985338/141746382-c464107c-0ec4-4ca3-bf8b-d4ba9c6237db.png)

[2021-11-15 20:18] fedorov commented on #674
This would be fine. How difficult is it to implement?

[2021-11-16 20:29] fedorov commented on #796
Interesting. I had a separate email communication with @hackermd, where he seemed to have acknowledged this issue, and in reference to it said "I identified the problem for that one and am working on fixing it." Unless I misunderstood...

[2021-11-17 08:13] Punzo commented on #796
uhm no I think the other issue was related to rendering THUMBNAIL that were not divisible for 4 (OpenLayer assuming that color images have always 4 channels):

![image](https://user-images.githubusercontent.com/7985338/142160985-f78fa384-dca7-4924-80c1-6595ac5a0dac.png)

[2021-11-17 08:16] Punzo commented on #796
P.S.: I can randonly reproduce the errors, but they looks like they are because of the 404 error. We could try to check these and report warnings.

[2021-11-17 15:13] hackermd commented on #796
The issue I am aware of is that if the "Slide Label" side bar menu is toggled, the label image can disappear. That problem seems to be related to the sizing of the canvas in the viewport.

There are, however, also slides for which no label images are available.

This particular slide doesn't seem to contain a LABEL image:

[code]

[2021-11-17 15:20] pgundluru commented on #796
The issue I noticed and reported in this ticket is related to Marcus comment above "The issue I am aware of is that if the "Slide Label" side bar menu is toggled, the label image can disappear. That problem seems to be related to the sizing of the canvas in the viewport."

Thank you @Punzo and @hackermd  for looking into this issue. Please let me know how I can help.

[2021-11-17 15:29] hackermd commented on #796
@pgundluru could you share links to affected slides (i.e., slides that have a LABEL image) or share the corresponding Study, Series, and Instance UID?

[2021-11-17 20:36] pgundluru opened #800 "In Dev Environment, in the exploration page, search box position and appearance are different between collections table and other tables."
Summary - On the exploration page, search box position and appearance are different between collections table and other tables. The search box will need to be consistent with the Collections table.

![2021-11-17_14-54-47 (3)](https://user-images.githubusercontent.com/313942/142449337-e4753748-c831-455a-a411-4ce884ac10f6.gif)

[2021-11-17 20:39] pgundluru opened #801 "In Dev Environment, In the exploration page, when viewing the case-study-series tables, Only the collections table doesn't stretch with resizing browser window."
Summary - case-study-series tables appears to stretch with the resizing of the browser window in the exploration page, and the one for collections tables does not stretch. This can be reproduced in Mac Chrome, W10 Chrome.

[2021-11-17 20:56] s-paquette commented on #800
@fedorov  This is likely a width issue; there's not enough room due to the width of the rest of the text. What would you prefer to happen in the case of a width constraint?

[2021-11-18 14:29] fedorov commented on #796
@pgundluru we discussed this with @hackermd today. Once Markus provides the details on how the images with the LABEL image can be identified using DICOM metadata, I will follow up and try to address this.

[2021-11-18 15:51] fedorov commented on #800
That's what I thought too, but no matter how wide is the browser window, the search box remains where it is in the screenshot.

I will modify the issue as submitted by @pgundluru to include the GIF I included in my report in Slack to demonstrate that.

[2021-11-18 18:54] hackermd commented on #796
@fedorov the images can be identified based on their [Image Type](http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_C.8.12.4.html#sect_C.8.12.4.1.1): `image.ImageType[2] == "LABEL"` .

[2021-11-19 16:23] fedorov commented on #796
@hackermd for the current IDC data version, I do not see any SM instances that have `LABEL` in `ImageType`.

[code]

Result:

![image](https://user-images.githubusercontent.com/313942/142656630-3fd5c360-4cc5-4aa8-a200-09810d960b1f.png)

[2021-11-19 18:23] hackermd commented on #796
Hmm...will need to look into it. @dclunie did we omit them upon conversion or import into the DICOM store?

[2021-11-19 21:59] dclunie commented on #796
That's correct, no LABEL images are produced by my SVS to DICOM converter.

[2021-11-19 22:06] hackermd commented on #796
@fedorov @pgundluru that explains why we don't see any label images :)

There is an issue with display of label images when toggling the "Label image" menu in the viewer. Will be fixed with the next release.

[2021-11-19 22:06] #796 closed

[2021-11-19 22:13] fedorov commented on #796
@hackermd makes sense! Is that runtime error in the console related and expected, or will also be fixed in the next release?

[2021-11-19 22:44] hackermd commented on #796
I think that problem occurs [here](https://github.com/MGHComputationalPathology/slim/blob/ad879b2c9cc90bbce602a6feeca72e189f015cfe/src/components/SlideViewer.tsx#L374) and seems to be an issue with the implementation of the DICOMweb Search Transaction in the proxy. The proxy currently returns an empty payload instead of an empty JSON array when a query doesn't match any resources. The behavior sho

[2021-11-19 22:45] hackermd commented on #796
@pieper do you think my assessment is correct?

[2021-11-19 22:52] fedorov commented on #796
Since the proxy was mentioned, looping in @wlongabaugh.

[2021-11-19 23:02] wlongabaugh commented on #796
I seem to recall something like this a few months ago, where the issue was that Google Cloud Healthcare DICOMWeb was returning 404s instead of an empty dictionary? Note that the proxy does absolutely no interpretation of the DICOM traffic, so I suspect it is upstream.

[2021-11-19 23:10] fedorov commented on #796
@hackermd is the link accurate? I don't code in JS, and I am afraid I don't know enough about DICOMweb, but it seems to refer to a section of the code that handles annotations.

[2021-11-20 14:23] hackermd commented on #796
It happens when the viewer searches for SR documents. When none are found, the server is expected to respond with 204 status code and include payload containing an empty JSON array. Currently, the server responds with 200 status and includes an empty payload, resulting in a JavaScript `null`, which doesn't have a `forEach` method.

We can work around this in the viewer, but this should really be f

[2021-11-20 14:24] pieper commented on #796
Have you tested google's dicomweb without the proxy?

[2021-11-20 17:51] hackermd commented on #796
It seems to be an issue with the Healthcare API

[2021-11-20 18:05] hackermd commented on #796
I just realized that I reported the issue to Google several months ago...Will meanwhile provide a patch in Slim.

[2021-11-21 21:59] hackermd commented on #796
https://github.com/MGHComputationalPathology/slim/releases/tag/v0.4.4

[2021-11-23 02:57] fedorov commented on #800
![image](https://user-images.githubusercontent.com/313942/142964996-575ce318-c9b9-44b5-8489-a0a869a95b8c.png)

[2021-11-23 02:57] fedorov commented on #800
Still appears broken to me in test

[2021-11-23 03:24] fedorov commented on #760
That was because we had "Prostate" code meaning corresponding to codes from two different schemes. I see it has now been fixed but appending coding scheme designator.

![image](https://user-images.githubusercontent.com/313942/142966972-2306eb0a-1366-4a4b-88b3-a27557bdffe9.png)

[2021-11-23 03:24] #760 closed

[2021-11-23 03:25] fedorov commented on #760
also a duplicate of #754

[2021-11-23 03:26] fedorov commented on #754
We now have suffixes for all codes, so this should be fixed going forward.

[2021-11-23 03:26] #754 closed

[2021-11-23 03:29] fedorov commented on #725
Can we please insert space between the gear and magnifying glass icons?

![image](https://user-images.githubusercontent.com/313942/142967268-4aaa735b-400a-43dd-a8a0-7598f4010f28.png)

[2021-11-23 03:32] fedorov commented on #451
Is this something that is really hard to fix?

[2021-11-23 03:33] fedorov commented on #539
@pgundluru is this still the issue? I believe this is about trying to export to BQ while logging in with IDC account (as opposed to with Google account).

[2021-11-23 03:35] fedorov commented on #683
@pgundluru the link above is working for me - is this still an issue?

[2021-11-23 03:36] #675 closed

[2021-11-23 03:38] fedorov commented on #319
@bcli4d please reopen if this is still an issue.

[2021-11-23 03:38] #319 closed

[2021-11-23 03:38] #665 closed

[2021-11-23 03:39] #618 closed

[2021-11-23 03:39] #603 closed

[2021-11-23 03:40] fedorov commented on #583
Isn't this the expected behavior?

[2021-11-23 03:42] fedorov commented on #536
Is there an easy way to collect this from some BQ table whenever this is needed?

[2021-11-23 03:43] #526 closed

[2021-11-23 03:45] fedorov commented on #429
![image](https://user-images.githubusercontent.com/313942/142968479-8d55c9d5-c3e5-4e74-a0ae-38ed14fde945.png)

Is this still "wontfix" or not?

[2021-11-23 03:45] fedorov commented on #407
Given the resistance from ISB to remove the non-google login, closing the issue.

[2021-11-23 03:45] #407 closed

[2021-11-23 03:46] #413 closed

[2021-11-23 03:47] fedorov commented on #438
@wlongabaugh is this still considered, or should be closed?

[2021-11-23 03:48] fedorov commented on #293
As discussed, we can't really link the DICOM attributes, since the definition depends on the context (module)... Should still be able to link the coded terms.

[2021-11-23 03:48] fedorov commented on #292
I still think this is important to highlight.

[2021-11-23 03:49] fedorov commented on #243
Not a priority, should consider in the future if requested by users.

[2021-11-23 03:49] #243 closed

[2021-11-23 03:50] fedorov commented on #593
Related to #222

[2021-11-23 03:50] fedorov commented on #222
closed in favor of #593 which covers this issue I think

[2021-11-23 03:50] #222 closed

[2021-11-23 04:51] s-paquette commented on #725
@fedorov I did a bit of this earlier today; if you have a look at dev (it's not on test yet) you can see it, along with a couple of other small adjustments (hover text on the icons, no size jump on the search box/sort button flip).

[2021-11-23 15:29] pgundluru opened #806 "In Test Environment, In the exploration page, when a user selects TCGA collections and selects BMI filter, The BQ export fails"
In Test environment, In the exploration page, When a user selects TCGA collections as search scope and then clicks on the related filters and selects BMI filter. The BQ export fails to export.

NOTE - The BQ export is working for other collections and also TCGA when other filters such as age, disease code, modality are selected.

System - W10 Chrome & Mac Chrome
Steps to reproduce:
1. In https://t

[2021-11-23 15:33] s-paquette commented on #806
@pgundluru this is likely a duplicate of the other BMI ticket; there's a known issue with the BMI None filter that causes exports to BQ to fail. If you could try on a cohort without None as a filter and confirm this, we can close this ticket as a duplicate.

[2021-11-23 15:36] s-paquette commented on #806
Possible duplicate of #656

[2021-11-23 15:39] pgundluru commented on #806
Thank You for the prompt response Suzanne, I tried creating a cohort with TCGA collections and only Filter being BMI = NONE and i was able to export the manifest successfully.

When I select all other options in BMI other than NONE i am seeing a export fail like below
![image](https://user-images.githubusercontent.com/85526819/143055267-e43c4ce1-ff9c-461d-9647-c06a6d977563.png)

[2021-11-23 15:43] s-paquette commented on #806
Well that's weird! But since it's the same attribute--let's keep it in the same ticket, since we already have one, 656, to keep it all in one place.

[2021-11-23 15:50] pgundluru opened #807 "In Test Environment, In collections page when a user selects certain analysis type collections and redirects to the exploration page there is no pre-populated collection in the filter definition."
Summary - When a user is in the collections page and sorts by Collection Type = analysis and then clicks on the collection to open up in the explorer page. Some of the collections do not populate in the explorer page as intended.

This has been observed for analysis type collections below. I am not seeing it for original collections

DICOM-Glioma-SEG
DICOM-SR-Breast-Clinical
QIN-LungCT-Seg

[2021-11-23 15:51] pgundluru commented on #807
![image](https://user-images.githubusercontent.com/85526819/143057353-65da920a-2a04-4559-b931-3ac92632750f.png)

[2021-11-23 17:44] fedorov commented on #556
Curiously, PDC does not underscore the links, GDC portal does. cancer.gov and DataCommons pages do not underline the hyperlinks, so I guess this means we should just make the "Account" page appearance consistent with the front page.

[2021-11-23 17:53] fedorov commented on #781
@wlongabaugh agrees that items that are checked should not be hidden when we have the list not shown in its entirety.

We also noted that GDC and PDC have the same behavior as IDC - checked items do not float to the top, and when the list is collapsed, checked items are not visible.

[2021-11-23 17:57] fedorov commented on #780
We used to support selection by clicking the entire row, which was revised due to the discussion in this issue: https://github.com/ImagingDataCommons/IDC-WebApp/issues/522.

[2021-11-23 19:09] wlongabaugh commented on #438
It would be useful functionality for sure. Need to prioritize.

[2021-11-23 19:26] fedorov commented on #725
Thanks, this is much better! I will comment on search boxes in #800.

This can be resolved once testing is successful.

[2021-11-23 19:27] fedorov commented on #800
Now the position of the search box is consistent, but the behavior is not consistent. When one searches in the collections search box, it appears to search of any match of the typed text. In the other search boxes, it is expecting exact match, which is not desirable. I think the behavior should be match of any portion of the identifier, and should be the same for all search boxes.

[2021-11-23 20:05] G-White-ISB commented on #800
Note that search in the Cases and Studies tables will be always be somewhat different than search in Collections table because search in those tables requires a call to the back end - hence the 'GO' button.  If a table is longer than 2k rows only a portion of it is loaded in the front end. But I think we could support partial text match - I had to check how that's done in SOLR.   Searching for a m

[2021-11-23 22:36] fedorov commented on #800
Searching within a specific column (as defined by the text we currently have along with the search box) is ok!

[2021-11-24 17:25] pgundluru opened #808 "In test environment, version compare button for comparing 2 different versions of cohort data is non functional"
Summary - In the test environment, version compare button usually pulls up a window to be able to compare the data versions of the cohorts which is currently non functional.

[2021-11-24 17:28] pgundluru opened #809 "In Production Environment, Version compare button to compare different data versions of saved cohorts is non functional"
Summary - This is observed in W10 and Mac OS. The version compare button is non functional for saved cohorts from different data versions.

[2021-11-24 20:00] pgundluru commented on #808
Update - I am able to use the compare version button for some cohorts and not for others. I will reach out to Suzanne to show her my results and validate this issue.

[2021-11-24 20:00] pgundluru commented on #809
Update - I am able to use the compare version button for some cohorts and not for others. I will reach out to Suzanne to show her my results and validate this issue.

[2021-11-27 04:48] fedorov opened #810 ""Select/unselect all" buttons are missing for the collections table"
They are present in all tables except collections. I know it's been like that all the time, but I do not see the reason why it should be like that, and it is quite inconvenient.

![image](https://user-images.githubusercontent.com/313942/143668329-b748822a-69b4-4e6c-9903-f7e8c3584dfc.png)

[2021-12-03 00:24] G-White-ISB opened #811 "Add Preliminary Support for Private or Limited Collections to the WebApp"
1. Alert users which collections are not public or restricted in the collections tab.
2. In the Study and Series tables, show a font-awesome 'minus-circle' icon in the  'View' column for any study or series belonging to a restricted collection. Hovering over the icon will open a tooltip explaining that the image is not available. Clicking on the icon will NOT open the corresponding image file in t

[2021-12-03 00:28] G-White-ISB commented on #811
Preliminary design. Locally I have 4d_lung and TCGA-BLCA flagged as limited access.

https://user-images.githubusercontent.com/58443591/144523975-6049fc8b-ef04-47b1-bff6-03fe912c0338.mov

https://user-images.githubusercontent.com/58443591/144523930-7ca8a666-7186-44ba-85ab-11e840a20fab.mov

[2021-12-03 18:17] s-paquette commented on #809
So far we haven't been able to nail down what's causing this. Will have to wait until I can reliably reproduce it in a local environment.

[2021-12-03 18:18] s-paquette commented on #809
Closing, duplicate of 808.

[2021-12-03 18:18] #809 closed

[2021-12-03 18:18] s-paquette commented on #808
So far we haven't been able to nail down what's causing this. Will have to wait until I can reliably reproduce it in a local environment.

[2021-12-03 18:19] #806 closed

[2021-12-03 18:20] s-paquette commented on #686
@wlongabaugh Was this done?

[2021-12-03 18:23] s-paquette commented on #682
@pgundluru @fedorov I'm going to remove this one from any Release Milestones until we can work out how this should be handled.

[2021-12-03 18:24] pgundluru commented on #808
Thank You Suzanne. I am unable to reproduce this issue on my end at this moment so I think we can close this ticket.

[2021-12-03 18:24] #808 closed

[2021-12-03 18:26] pgundluru commented on #682
Thank you, I will reach out to Andrey to validate this ticket as I am not seeing consistent results to mark this issue as passed.

[2021-12-03 18:35] wlongabaugh commented on #686
Yes, this is done.

[2021-12-03 18:45] #686 closed

[2021-12-03 18:50] pgundluru commented on #486
To test this I followed the below steps:

1. In test tier, select and create a cohort.
2. Export to BQ and select the header fields and columns to display (In this test I selected one column, many columns and no columns which is not permitted by default)
3. Then in GCP, preview to see only the selected columns.

![image](https://user-images.githubusercontent.com/85526819/144656842-655d26e1-45cb-45

[2021-12-03 18:57] wlongabaugh commented on #686
It is already in production. You can go directly to https://portal.imaging.datacommons.cancer.gov/quota/index.html

[2021-12-03 19:35] s-paquette commented on #738
This was placed as a header item instead of a column; do we really want a column? @fedorov

[2021-12-03 19:40] s-paquette commented on #539
This is now a (!) icon and has a tooltip with a link to the user's Account Details page to make it easier to link to a social account.

[2021-12-03 21:49] fedorov commented on #811
Looks fine to me.

[2021-12-03 21:55] fedorov commented on #738
Yes, we do. You can't do any query operations (easily) on the version in the header.

[2021-12-03 23:12] s-paquette commented on #738
The version isn't a column in any other table, and will be the same for anything exported in the manifest. Unless this is in terms of potentially UNION'd tables?

We'll need to bump this to the next Sprint since this would be a custom column not otherwise in any of the database tables (which have instances, I mean), and that requires a different approach for adding it.

[2021-12-06 04:45] fedorov commented on #738
My motivation for adding it is to enable archival and reuse of the manifests created using older data releases.

[2021-12-06 14:12] pgundluru commented on #680
This issue came up in a meeting with Bill and Andrey and I will check with them to confirm.

[2021-12-06 14:14] pgundluru commented on #539
This has been tested successfully using a local account

[2021-12-06 19:44] s-paquette commented on #807
Change in the Collections value coming in from BQ (no more ' ' in the separator).

[2021-12-06 19:56] fedorov opened #815 "Twitter ticker in the IDC About page"
We need to connect with the outreach posts that NCI Comms are doing. One (hopefully) easy way is to embed a Twitter tracker for https://twitter.com/NCIDataSci, perhaps filtered by the #Imaging hashtag. @ulrikew thought this is a good idea.

[2021-12-06 21:03] pgundluru opened #817 "In prod tier, When a user selects TCGA -READ sub collection and original filter modality - CT, related filter - race (white) Then BQ export fails"
This was observed by Bill C. To reproduce the issue,

1. In production select TCGA -Read as the sub collection,
2. Select Modality - CT
3. Selected related filter - race - white
4. Save cohort and export to BQ
![image](https://user-images.githubusercontent.com/85526819/144922151-16524a52-f659-46cd-813a-b6f59802a8fd.png)

[2021-12-08 18:21] G-White-ISB commented on #801
Every table should now resize the same

[2021-12-08 18:35] G-White-ISB commented on #810
We could not support selecting all collections until we enabled batch fetching.

[2021-12-08 20:25] fedorov commented on #810
How does the search box work - does it search across all pages, or only the currently shown page?

[2021-12-09 17:25] G-White-ISB commented on #780
I think the real  508 concern was not clicking the row per se but holding down shift to select multiple rows. Revising so that one can just click into the row to select/deselect it. The plus/minus icons to select or deselect a whole page will stay

[2021-12-09 18:53] pgundluru commented on #811
https://files.slack.com/files-pri/TER7HBP44-F02QJ6C5YKB/image.png

[2021-12-09 18:53] pgundluru commented on #811
![image](https://user-images.githubusercontent.com/85526819/145458012-626ea79c-d74f-402a-b10d-4918b33e3e5a.png)

[2021-12-09 19:07] pgundluru commented on #674
UID Tooltip remains after I move the mouse enabling copy paste for both studies and series level

[2021-12-10 18:14] G-White-ISB commented on #800
Suggest close this ticket and create new one re: ' I think the behavior should be match of any portion of the identifier, and should be the same for all search boxes'. Function of the search boxes is a different and more complicated issue. I can create the new ticket

[2021-12-10 18:17] G-White-ISB opened #828 "Support Partial Text Match in Search boxes for Cases and Studies Tables"
Allow users to search for a case id or study id by entering only a fragment of the id. The WebApp returns all ids that contain the fragment.

[2021-12-10 18:19] G-White-ISB commented on #828
This may involve retooling SOLR. Some further discussion needed. This issue was first referenced in #800

[2021-12-10 18:53] fedorov commented on #800
I agree, but we should probably close it after testing is passed, right? I don't see that happened based on the issue history.

[2021-12-10 21:52] G-White-ISB commented on #451
The LHS now resizes to stay the same length as the RHS when the RHS length changes. This is how the LHS and RHS are coordinated in GDC. This change was already propagated to production. Sorry I'm not sure how this was missed in the issue tracking

[2021-12-14 17:41] fedorov commented on #781
@G-White-ISB did the change and now it behaves the way you wanted it to see @swederik!

[2021-12-14 17:49] fedorov commented on #182
Suggestion to have a collapsed by default area in the Filter definition, which could be expanded, and a button to copy the query. Wording could be eg "Equivalent SQL query".

[2021-12-14 17:56] fedorov commented on #593
Per @s-paquette we will need to have all low caps underscore versions of the IDs for the analysis results. In addition to this:

![image](https://user-images.githubusercontent.com/313942/146053426-cd5e9496-62d5-43eb-ac1a-de010233adf2.png)

we will need something like this:

![image](https://user-images.githubusercontent.com/313942/146053493-073e2c77-e2b9-4957-b769-e1ade7000273.png)

[2021-12-16 20:50] ulrikew opened #831 "Integrate Crazy Egg"
Discussed during the IDC stakeholder call on 12/16/2021

Email from Anna Mencarelli (CBIIT Communications) with information about the Crazy Egg implementation

_The heat map tool we offer, [Crazy Egg](https://www.crazyegg.com/), would be helpful to capture the flow and recordings of active users. It can show a variety of front-end interactions that would require additional configuration in analyti

[2021-12-16 21:08] fedorov opened #832 "Revisit presentation of the news ticker"
Our "News" page is visited highly infrequently.

Keyvan made a suggestion that it would be more prominent to have the News section on the front page, not in a sub-page. I think he has a point.

We should discuss this.

[2021-12-17 14:42] pgundluru opened #833 "In Production tier, Export to BQ fails with "unable to export cohort file" error"
Summary - There is an issue with BQ export for cohort manifest in prod. Any collection or filter currently doesn't export to BQ. The console doesn't have any error information.

This is seen on W10 Chrome, Edge and Mac OS.

[2021-12-17 16:06] s-paquette commented on #833
@fedorov @pgundluru Should be fixed now, try again.

[2021-12-17 16:10] fedorov commented on #833
@s-paquette can you give a bit more details? Was this issue present earlier, or it happened sporadically? What could we have done to catch it earlier?

[2021-12-17 16:17] s-paquette commented on #833
It happened because we don't have a v5 dataset in canceridc-data, but production has (until now) assumed that project holds the BQ datasets for export, and does, for v1-4. v5 is the first one it doesn't have. The public dataset doesn't yet have the pivot so can't be used. So for production purposes, until the public tables are updated, we have to use ETL.

Only real way to catch it is to try a ser

[2021-12-17 16:21] fedorov commented on #833
I think this again makes the argument that after any hotfixes we must do at least minimal smoke test of the system.

[2021-12-17 18:04] fedorov commented on #833
@pgundluru can you please help working with Suzanne and ISB team to establish the process of communication after any hotfixes are done to the production system, and develop a small set of tests that would exercise most critical aspects of the system after each hotfix.

[2021-12-17 18:21] #833 closed

[2021-12-17 18:22] #807 closed

[2021-12-17 18:22] #539 closed

[2021-12-17 18:22] #674 closed

[2021-12-17 18:23] #811 closed

[2021-12-17 18:23] #486 closed

[2021-12-17 19:11] G-White-ISB commented on #781
Clarification: this working in Search Configuration but not in Collections tab. I'll add it there as well.

[2022-01-04 18:03] s-paquette commented on #831
So as far as I know, we don't have Google Tag Manager on our site. That means there's really two levels to this: getting GTM set up, and getting Crazy Egg set up. That's going to be a fair amount of work given we need to read up on how they function and the admin roles associated with GTM.

https://support.google.com/tagmanager/answer/6103576

@wlongabaugh We'll need to look into this somewhat; it

[2022-01-04 19:41] fedorov commented on #831
@ulrikew what is the timing of the IDC UX study, which is the main motivation for this, as I understand?

[2022-01-04 21:33] ulrikew commented on #831
@s-paquette When I copied and pasted Anna's email the "smart" GitHub app cut out  `<head>`  before the word tag.  I will forward Anna's email to you. Can you please find out if inserting the snippet in the header is simpler than installing the Google Tag Manager?

[2022-01-05 01:12] s-paquette commented on #831
@ulrikew Ah that explains it! Assuming the snippet is straight forward that would definitely be easier. I'm unclear from the email who we need to contact for that, or where to get it; it sounds like CBIIT or NCI Comm needs to give it to us?

[2022-01-05 13:55] ulrikew commented on #831
@s-paquette I will put you in contract with Anna Mencarelli from the CBIIT communications team. She should be able to answer your questions.

[2022-01-05 15:45] ulrikew commented on #831
@s-paquette  I sent the email to Anna.

[2022-01-05 18:21] s-paquette commented on #831
@ulrikew Thank you!

[2022-01-11 18:41] pgundluru opened #834 "Console errors and failures to load when user compares current data version to a previous data version"
General Summary:

There is an issue with loading version compare for different data versions in production tier. Suzanne suspects this may be load order precedence issue in JS.

Steps to reproduce:

Test 1

1.  In cohort details page, select current data version and select data version 2
2.  Version compare window doesn't pop up
![image](https://user-images.githubusercontent.com/85526819/149002112